<div class="row" *ngIf="!isShimmer">
  <div class="col-md-12">
    <div class=" card p-2 border-0 rounded-0 vh-88">
      <div class="row pt-4 theam-cards">

       
        <div class="col-md-4 mb-4">
          <div class="d-inline-block p-3 pb-0" [ngClass]="{ 'selected' : selectedThemeIndex === '2' }">
            <!--<rds-card class="rounded-avatar-basic" style="cursor:pointer">-->
            <div class="p-0" body (click)="getThemeSettings('2')" style="cursor:pointer">
              <img src="https://stageui.raaghu.io/assets/Dashboard.png" class="w-100">
            </div>
            <div class="col-md-12">
              <h6 class="text-center"></h6>
            </div>
            <!--</rds-card>-->
            <div class="p-2">
              <h5 class="text-center"> Default </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="d-inline-block p-3 pb-0" [ngClass]="{ 'selected' : selectedThemeIndex === '0' }">
            <!--<rds-card class="rounded-avatar-basic" style="cursor:pointer">-->
            <div class="p-0" body (click)="getThemeSettings('0')" style="cursor:pointer">
              <img src="https://stageui.raaghu.io/assets/LightTheme.png" class="w-100">
            </div>
            <!--/rds-card>-->
            <div class="p-3">
              <h5 class="text-center"> Light </h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="d-inline-block p-3 pb-0" [ngClass]="{ 'selected' : selectedThemeIndex === '1' }">
            <!--<rds-card class="rounded-avatar-basic" style="cursor:pointer">-->
            <div class="p-0" body (click)="getThemeSettings('1')" style="cursor:pointer">
              <img src="https://stageui.raaghu.io/assets/Dashboard.png" class="w-100">
            </div>

            <!--</rds-card>-->
            <div class="p-2">
              <h5 class="text-center"> Dark </h5>
            </div>
          </div> 
        </div>
      </div>
      <!-- </div>
      <div class="col-md-4">
        <div class="d-inline-block">
          <div class="col-md-12">
            <a href="">
              <img src="http://localhost:5008/assets/LightTheme.jpg" class="w-100" alt="">
            </a>
          </div>
          <div class="col-md-12">
            <h6 class="py-3 text-center">Theme 2</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-inline-block">
          <div class="col-md-12">
            <a href="">
              <img src="http://localhost:5008/assets/Theme3.jpg" class="w-100" alt="">
            </a>
          </div>
          <div class="col-md-12">
            <h6 class="py-3 text-center">Theme 3</h6>
          </div>
        </div>
      </div> -->
      <div class="row ps-3 navsm-p-0">
        <rds-nav-tab [navtabsItems]="getNavTabItems()" horizontalAlignment="start" [verticalAlignment]="false"
          [pills]="false" [tabs]="true"  (onClicktab)=" onSelectnode($event)" [justified]="false" [flex]="false">
        </rds-nav-tab>
      </div>
      <div naveContent class="tab-content" id="headerbar">
        <div class="tab-pane fade active show p-4 navsm-p-0" id="nav-headerbar" role="tabpanel" aria-labelledby="nav-headerbar">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group mb-3">
                <rds-select-list [value]="visualSettingsMenu.asideSkin"  name="Listskin"
                  [label]="translate.instant('Skin')"  labelPosition="top" placeholderText="Select Skin" [itemList]="listskin" [(ngModel)]="visualSettingsMenu.asideSkin">
                </rds-select-list>
              </div>
              <div class="mb-2">
              <rds-label [label]="translate.instant('Desktop')"></rds-label>
            </div>
              <div class="form-group mb-3">
                <rds-checkbox [disabled]="false" [label]="translate.instant('Fixed Header')" [withLabel]="true" [switch]="false"
                  [inline]="false" [id]="'fixedHeaderDesktop'" state="checkbox"
                  [(ngModel)]="visualSettingsHeader.desktopFixedHeader"></rds-checkbox>
              </div>
               <div class="mb-2">
                <rds-label [label]="translate.instant('Mobile')"></rds-label>
              </div>
              <div class="form-group mb-3">
                <rds-checkbox [disabled]="false" [label]="translate.instant('Fixed Header')" [withLabel]="true" [switch]="false"
                  [inline]="false" [id]="'fixedHeaderMobile'" state="checkbox"
                  [(ngModel)]="visualSettingsHeader.mobileFixedHeader"></rds-checkbox>
              </div>
              <div class="form-group mb-3">
                <rds-button [tooltipPlacement]="'bottom'" [tooltipTitle]="translate.instant('upgrade')"  [label]="translate.instant('SAVE AS SYSTEM DEFAULT ')"
                  (click)="saveVisualSettings()" type="button" [size]="'small'" [colorVariant]="'primary'" 
                   [outlineButton]="false"></rds-button>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade p-4" id="nav-subheader" role="tabpanel" aria-labelledby="nav-subheader">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-2">
                <rds-label [label]="translate.instant('Subheader')"></rds-label>
              </div>
              <div class="form-group mb-3">
                <rds-checkbox [disabled]="false" [label]="translate.instant('Fixed Header')" [withLabel]="true" [switch]="false"
                  [inline]="false" [id]="'fixedHeaderSubHeader'" state="checkbox"
                  [(ngModel)]="visualSettingsSubHeader.fixedSubHeader"></rds-checkbox>
              </div>
              <div class="form-group mb-3">
                <rds-button [tooltipPlacement]="'bottom'" [tooltipTitle]="translate.instant('upgrade')"  [label]="translate.instant('SAVE AS SYSTEM DEFAULT ')"
                  type="button" [size]="'small'" [colorVariant]="'primary'"
                  (click)="saveVisualSettings()" [outlineButton]="false"></rds-button>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade p-4" id="nav-Menu" role="tabpanel" aria-labelledby="nav-Menu">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group mb-3">
                <rds-select-list [value]="visualSettingsMenu.asideSkin"  name="Listskin"
                  [label]="translate.instant('Skin')" [itemList]="listskin" placeholderText="Selct Skin" labelPosition="top" [(ngModel)]="visualSettingsMenu.asideSkin">
                </rds-select-list>
              </div>
              <div class="form-group mb-3">
                <rds-checkbox [disabled]="false" [label]="translate.instant('Fixed Aside')" [withLabel]="true" [id]="'fixedAside'"
                  [(ngModel)]="visualSettingsMenu.fixedAside">
                </rds-checkbox>
              </div>
              <div class="form-group mb-3">
                <rds-checkbox [disabled]="false" [label]="translate.instant('Allow Aside minimizing')" [withLabel]="true" [switch]="false"
                  [inline]="false" [id]="'allowAsideMinimizing'" state="checkbox"
                  [(ngModel)]="visualSettingsMenu.allowAsideMinimizing"></rds-checkbox>
              </div>
              <div class="form-group mb-3">
                <rds-checkbox [label]="translate.instant('Default Minimized Aside')" [checked]="visualSettingsMenu.defaultMinimizedAside"
                  [withLabel]="true" name="defaultMinimizedAside" [id]="'defaultAsideMinimizing'"
                  [(ngModel)]="visualSettingsMenu.defaultMinimizedAside"></rds-checkbox>
              </div>
              <div class="form-group mb-3">
                <rds-checkbox [label]="translate.instant('Expand Menu When Hovered')" [checked]="visualSettingsMenu.hoverableAside"
                  [withLabel]="true" name="hoverableAside" [(ngModel)]="visualSettingsMenu.hoverableAside"
                  [id]="'expandMenuOnHover'"></rds-checkbox>

              </div>
              <div class="form-group mb-3">
                <rds-select-list [value]="visualSettingsMenu.submenuToggle"
                  name="ListSubmenu" [label]="translate.instant('Submenu Toggle')" placeholderText="Selct Submenu" labelPosition="top"  [itemList]="listSubmenu"
                  [(ngModel)]="visualSettingsMenu.submenuToggle">

                </rds-select-list>
              </div>
              <div class="form-group mb-3">
                <rds-button [tooltipPlacement]="'bottom'" [tooltipTitle]="translate.instant('upgrade')"  [label]="translate.instant('SAVE AS SYSTEM DEFAULT ')"
                  type="button" [size]="'small'" [colorVariant]="'primary'"
                  (click)="saveVisualSettings()" [outlineButton]="false"></rds-button>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade p-4" id="nav-footer" role="tabpanel" aria-labelledby="nav-footer">
          <div class="mb-2">
            <rds-label [label]="translate.instant('Footer')"></rds-label>
          </div>
          <div class="form-group mb-3">
            <rds-checkbox [disabled]="false" [label]="translate.instant('Fixed Footer')" [withLabel]="true" [switch]="false"
              [inline]="false" [id]="'fixedFooter'" [(ngModel)]="visualSettingsFooter.fixedFooter"></rds-checkbox>
          </div>
          <div class="form-group mb-3">
            <rds-button [tooltipPlacement]="'bottom'" [tooltipTitle]="translate.instant('upgrade')"  [label]="translate.instant('SAVE AS SYSTEM DEFAULT ')"
              (click)="saveVisualSettings()" type="button" [size]="'small'" [colorVariant]="'primary'"  [outlineButton]="false">
            </rds-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-rds-comp-visual-settings-shimmer *ngIf="isShimmer"></app-rds-comp-visual-settings-shimmer>

