<div class="tab-content">
  <div aria-labelledby="nav-Deligation" class="h-100">
    <div class="card border-0 h-100">
      <div class="card-header  border-bottom border-dark border-opacity-10">
        <h5 class="card-title m-1">{{"MY SETTINGS"|translate}}</h5>
      </div>
      <div class="card-body m-1 card-height">
        <h5>{{"Profile"|translate}}</h5>
        <div class="mt-1">
          <div class="row">
            <div class="col-md-12 sm-p-0">
              <div class="form-group mb-4">
                <rds-input size="medium" [value]="ProfileData.name" [label]="translate.instant('Profile Name')"   
                  [labelPosition]="'top'" [inputType]="'text'" name="profileName" #profile_Name="ngModel"
                  [isRequired]=true required [(ngModel)]="ProfileData.name" [placeholder]="translate.instant('Profile Name')" [disabled]="false"
                  ngDefaultControl>
                </rds-input>
                <div class="form-control-feedback"
                  *ngIf="profile_Name.errors && (profile_Name.dirty || profile_Name.touched)">
                  <span class="text-danger" *ngIf="profile_Name.errors.required">{{"Profile Name is required"|translate}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 sm-p-0">
              <div class="form-group mb-4">
                <rds-input size="medium" [value]="ProfileData.emailAddress" [label]="translate.instant('Email Address')"
                  [labelPosition]="'top'" [inputType]="'email'" [(ngModel)]="ProfileData.emailAddress"
                  (keyup)="emailValidator(ProfileData.emailAddress)" [placeholder]="translate.instant('Email Address')" ngDefaultControl
                  #email_Address="ngModel" [isRequired]=true required name="emailAddress" [disabled]="false">
                </rds-input>
                <div class="form-control-feedback"
                  *ngIf="email_Address.errors && (email_Address.dirty || email_Address.touched)">
                  <small class="text-danger" *ngIf="email_Address.errors.required">{{"Entered invalid EmailAddress"|translate}}</small>
                </div>
              </div>
            </div>
            <div class="col-md-12 sm-p-0">
              <div class="form-group mb-4">
                <rds-input size="medium" [label]="translate.instant('User name')"
                  [value]="ProfileData.userName" [inputType]="'text'" [placeholder]="translate.instant('User Name')" name="username"
                  #user_Name="ngModel" [isRequired]=true required  [disabled]="false" [(ngModel)]="ProfileData.userName" ngDefaultControl>
                </rds-input>
                <div class="form-control-feedback" *ngIf="user_Name.errors && (user_Name.dirty || user_Name.touched)">
                  <small class="text-danger" *ngIf="user_Name.errors.required">{{"User Name is Required"|translate}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 mt-3">
            <h5>{{"Change Password"|translate}}</h5>
          </div>
          <form #changePasswordForm="ngForm">
            <div class="row">
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [disabled]="false" [isRequired]=true
                    [iconCursor]="'pointer'" [icon]="'eye'" [iconOpacity]="'0.4'" [iconHeight]="'18px'"[iconWidth]="'18px'"
                    [label]="translate.instant('Current Password')" [inputType]="'password'" required
                    [placeholder]="translate.instant('Current Password')" [(ngModel)]="ProfileData.CurrentPassword" #password="ngModel"
                    ngDefaultControl name="password">
                  </rds-input>
                  <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
                    <small class="text-danger" *ngIf="password.errors.required">{{"Current Password is
                      Required"|translate}}</small>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [inputType]="'password'" [isRequired]=true
                    [iconCursor]="'pointer'" [icon]="'eye'" [iconOpacity]="'0.4'" [iconHeight]="'18px'"[iconWidth]="'18px'"
                    [label]="translate.instant('New Password')" [placeholder]="translate.instant('New Password')"
                    [(ngModel)]="ProfileData.NewPassword" #new_Password="ngModel" ngDefaultControl name="newpassword"
                    (keyup)='confirmPassword()' required>
                  </rds-input>
                  <div class="form-control-feedback"
                    *ngIf="new_Password.errors && (new_Password.dirty || new_Password.touched)">
                    <small class="text-danger" *ngIf="new_Password.errors.required">{{"New Password is
                      Required"|translate}}</small>
                  </div>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-4">
                  <rds-input size="medium" [inputType]="'password'" [isRequired]=true
                    [iconCursor]="'pointer'" [icon]="'eye'" [iconOpacity]="'0.4'" [iconHeight]="'18px'"[iconWidth]="'18px'"
                    [label]="translate.instant('Confirm new Password')" required [placeholder]="translate.instant('Confirm Password')"
                    [(ngModel)]="ProfileData.ConFNewPassword" #confirm_Password="ngModel" ngDefaultControl
                    name="chkpass" (keyup)='confirmPassword()'>
                  </rds-input>
                  <div class="form-control-feedback"
                    *ngIf="confirm_Password.errors && (confirm_Password.dirty || confirm_Password.touched)">
                    <small class="text-danger" *ngIf="confirm_Password.errors.required">{{"Confirm Password is
                      required"|translate}}</small>
                  </div>
                  <small class="text-danger" *ngIf="isPasswordMismatch">{{"Password mismatch found"|translate}}</small>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="position-fixed bg-light action-buttons py-3 bottom-0 px-3 mx-1">
  <div class="row">
    <div class="col-sm-12">
      <rds-button [submit]="false" [block]="false" [size]="'small'" [isDisabled]="false" [isOutline]="true"
        [colorVariant]="'primary'" [isFabIcon]="false" (click)="onCancel()" [label]="translate.instant('Cancel')">
      </rds-button>
      <rds-button [isDisabled]="changePasswordForm.invalid||isPasswordMismatch" [label]="translate.instant('Save')"
        type="button" [showLoadingSpinner]="buttonSpinner" [size]="'small'" class="px-2" [colorVariant]="'primary'"
        (click)="saveProfile(changePasswordForm)">
      </rds-button>
    </div>
  </div>
</div>