@media (max-width: 767px){
.sm-p-0 {
    padding: 0rem !important;
}
}

.card-height {
  height: 83vh;
  overflow: scroll;
  flex:none;
}
.closetabs{
    position:absolute;
    top:5px;
    right:10px;
}
