<div class="tab-content">
  <div aria-labelledby="nav-Deligation" class="h-100">
    <div class="card border-0 h-100">
      <div class="card-header border-bottom">
        <h5 class="card-title">{{"MY SETTINGS"|translate}}</h5>
      </div>
      <div class="card-body">
        <div class="">
          <div class="row">
            <div class="col-md-12 sm-p-0">
              <div class="form-group mb-3">
                <rds-input size="default" [value]="ProfileData.UserName" [Title]="translate.instant('Profile Name')" TitleType="'Top'" inputType="text"
                           name="profileName" [(ngModel)]="ProfileData.UserName" [disabled]="false" [readonly]="true" ngDefaultControl>
                </rds-input>
              </div>
            </div>
            <div class="col-md-12 sm-p-0">
              <div class="form-group mb-3">
                <rds-input size="default" [value]="ProfileData.EmailAddress" [Title]="translate.instant('Email Address')" TitleType="'Top'"
                           inputType="email" [(ngModel)]="ProfileData.EmailAddress" (keyup)="emailValidator(ProfileData.EmailAddress)"
                           ngDefaultControl [isRequired]=true name="emailAddress" [disabled]="false" [readonly]="true">
                </rds-input>
                <small class="text-danger" *ngIf="invalidEmail">{{"Entered invalid Email Address"|translate}}</small>
              </div>
            </div>
            <div class="col-md-12 sm-p-0">
              <div class="form-group mb-3">
                <rds-input size="default" [readonly]="true" [Title]="translate.instant('User name')" [value]="ProfileData.UserName" inputType="text"
                           name="username" [(ngModel)]="ProfileData.UserName" ngDefaultControl>
                </rds-input>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <h6>{{"Change Password"|translate}}</h6>
          </div>
          <form #changePasswordForm="ngForm">
            <div class="row">
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-3">

                  <rds-input size="default" [disabled]="false" [isRequired]=true [Title]="translate.instant('Current Password')" [inputType]="'password'" required
                             [(ngModel)]="ProfileData.CurrentPassword" ngDefaultControl name="password">
                  </rds-input>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-3">

                  <rds-input size="default" [inputType]="'password'" [isRequired]=true [Title]="translate.instant('New Password')"
                             [(ngModel)]="ProfileData.NewPassword" ngDefaultControl name="newpassword" (keyup)='confirmPassword()'
                             required>
                  </rds-input>
                </div>
              </div>
              <div class="col-md-12 sm-p-0">
                <div class="form-group mb-3">
                  <rds-input size="default" [inputType]="'password'" [isRequired]=true [Title]="translate.instant('Confirm new Password')" required
                             [(ngModel)]="ProfileData.ConFNewPassword" ngDefaultControl name="chkpass" (keyup)='confirmPassword()'>
                  </rds-input>
                  <small class="text-danger" *ngIf="isPasswordMismatch">{{"Password mismatch found"|translate}}</small>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-buttons my-2">
  <div class="row">
    <div class="col-sm-12">
      <rds-button [submit]="false" [block]="false" [size]="'medium'" [disabled]="false"
                  [colorVariant]="'outline-primary'" [roundedButton]="false" [label]="translate.instant('Cancel')"></rds-button>
      <rds-button [disabled]="changePasswordForm.invalid||isPasswordMismatch" [label]="translate.instant('Save')" type="button"
                  [size]="'medium'" class="px-2" [colorVariant]="'primary'" (click)="saveProfile(changePasswordForm)">
      </rds-button>
    </div>
  </div>
</div>
