
    <!-- <ul class="list-unstyled pt-5 ps-0"> -->
  
    <ul class="list-unstyled pt-5 ">
  
      <li>
        <div class="fw-medium mb-3">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
            </ngx-shimmer-loading>
      </div>
      </li>
      <li>
        <div class="form-group mb-3">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
            </ngx-shimmer-loading>
        </div>
        <ul class="list-unstyled ps-4">
          <li class="">
            <div class="form-group mb-3">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'50%'">
                </ngx-shimmer-loading>
            </div>
          </li>
  
          <li>
            <div class="form-group mb-3">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
                </ngx-shimmer-loading>
            </div>
          </li>
  
          <li>
            <div class="form-group mb-3">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
                </ngx-shimmer-loading>
            </div>
          </li>
  
          <li>
            <div class="form-group mb-3">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
                </ngx-shimmer-loading>
            </div>
          </li>
  
          <li>
            <div class="form-group mb-5">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
                </ngx-shimmer-loading>
  
            </div>
          </li>
        </ul>
      </li>
  
      <li>
        <div class="form-group mb-3">
          
          
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
        </ngx-shimmer-loading>
        </div>
      </li>
      <li>
        <div class="form-group mb-3">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
            </ngx-shimmer-loading>
        </div>
      </li>
      <li>
        <div class="form-group mb-3">
          
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
        </ngx-shimmer-loading>
  
        </div>
      </li>
  
      <li>
        <div class="form-group mb-3">
         
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
            </ngx-shimmer-loading>
        </div>
      </li>
      <li>
        <div class="form-group mb-3">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'40%'">
            </ngx-shimmer-loading>
        </div>
      </li>
    </ul>

