<div>
    <div class="tab-content py-4 px-3 navsm-p-0">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                    </ngx-shimmer-loading>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mb-3">
                    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'10px'" [width]="'100%'">
                    </ngx-shimmer-loading>
                    <div class="fw-normal opacity-50">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'10px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pt-4">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'80px'" [width]="'100%'">
                </ngx-shimmer-loading>
            </div>
        </div>
    </div>
    <div class="footer-buttons my-2">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
        </ngx-shimmer-loading>
    </div>
</div>