<div class="contact-information">
    <p class="heading">
         Shipping Address
    </p>
    <div class="row">
        <div class="col-md-6 mb-3">
            <rds-input [label]="'First Name'" [labelPosition]="'top'" [isRequired]=true  required [size]="'medium'" name="firstName" id="txtFirstname"
                ngDefaultControl [(ngModel)]="firstName" required>
            </rds-input>
        </div>
        <div class="col-md-6 mb-3">
            <rds-input [label]="'Last Name'" [labelPosition]="'top'" [isRequired]=true  required [size]="'medium'" name="lastName" id="txtLastname"
                ngDefaultControl [(ngModel)]="lastName" required>
            </rds-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <rds-input [label]="'Company'" [labelPosition]="'top'" [size]="'medium'" name="company" id="txtCompany"
                ngDefaultControl [(ngModel)]="company" required>
            </rds-input>
        </div>
        <div class="col-md-6 mb-3">
            <rds-input [label]="'Phone'" [labelPosition]="'top'" [isRequired]=true  required [size]="'medium'" name="phone" id="txtPhone"
                ngDefaultControl [(ngModel)]="phone" required>
            </rds-input>
        </div>
    </div>

    <div class="mb-3">
        <rds-input [label]="'Address'" [labelPosition]="'top'" [isRequired]=true  required [size]="'medium'" name="address" id="txtAddress"
            ngDefaultControl [(ngModel)]="address" required>
        </rds-input>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <rds-input [label]="'City'" [labelPosition]="'top'" [isRequired]=true  required size="medium" name="company" id="txtCompany"
                ngDefaultControl [(ngModel)]="company" required>
            </rds-input>
        </div>
        <div class="col-md-6 mb-3">
            <div class="mb-2">
                Country <span class="text-danger">*</span>
            </div>
            <rds-select-list [(ngModel)]="country" [value]="country" ngDefaultControl
                [itemList]="countryList" (change)="SelectCountry($event)" name="countryInfo">
            </rds-select-list>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <rds-input [label]="'State/Province'" [labelPosition]="'top'" [isRequired]=true  required size="medium" name="state" id="txtState"
                ngDefaultControl [(ngModel)]="state" required>
            </rds-input>
        </div>
        <div class="col-md-6 mb-3">
            <rds-input [label]="'Postal Code'" [labelPosition]="'top'" [isRequired]=true  required [size]="'medium'" name="postalCode" id="txtPostalCode"
                ngDefaultControl [(ngModel)]="postalCode" required>
            </rds-input>
        </div>
    </div>
    <!-- <div class="my-4 pt-1 d-flex">
        <div class="mr-3">
            <rds-checkbox [checked]="false" [disabled]="false" [switch]="false"
                [inline]="false" [isInputGroup]="false" [id]="'checkboxDefault'"></rds-checkbox>
        </div>
        <div class="description w-75">
            Billing address is the same as shipping address
        </div>
    </div> -->
    <div class="my-4 row">
        <div class="col-md-6 mb-3">
            <rds-button [block]="true" [size]="'medium'" [isOutline]="true" [colorVariant]="'primary'"
            [label]="translate.instant('back')" (click)="back()">
        </rds-button>
        </div>
        <div class="col-md-6 mb-3">
            <rds-button [block]="true" [size]="'medium'" [colorVariant]="'primary'"
            [label]="translate.instant('Continue')" (click)="continue()" [showLoadingSpinner]="buttonSpinner">
        </rds-button>
        </div>
    </div>
</div>