<form #editionBasicForm="ngForm">
    <div class="row mt-2">
        <div class="col-md-6">
           
            <div class="form-group">
                <rds-input size="default" [inputType]="'text'"  [Title]="'Edition Name'" [TitleType]="'Top'"
                    [isRequired]=true [placeholder]="'Edition Name'" required name="editionName"
                    [(ngModel)]="editionData.editionName" #editionName="ngModel"
                    ngDefaultControl>
                </rds-input>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <rds-select-list [labelText]="'Plan'"
                    [isRequired]=true  ngDefaultControl LabelType="Top"
                    name="edition" [itemList]="PlanList" required [placeholderText]="'Select Plan'"
                    [(ngModel)]="editionData.editionPlan" #editionPlan="ngModel">
               

                </rds-select-list>
            </div>
        </div>
    </div>
    
</form>
