.aside-fixed .aside {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 98;
  margin-top: 45px;
}


.main-body {
  margin-top: 55px;
}

@media (min-width: 992px) {
  .aside {
    display: flex;
  }

  .aside {
    flex-shrink: 0;
  }
}




/*.rds-scrollable-wrapper {
  width: 100%;
  padding-right: 20px;
  background-color: #F5F5FA;
  height: calc(100vh - 57px) !important;
  overflow: scroll;
  overflow-x: hidden;
  border: 4px solid #7e2eef !important;
}*/

.collapsed {
  width: calc(100% - 80px);
}

.mt-10 {
  margin-top: 4rem !important;
}
.bg-body-color{
  background-color: #F5F5FA;
}
