<div class="d-flex flex-column flex-root">
  <div class="page d-flex flex-column flex-column-fluid">
    <div class="header align-items-stretch">
      <mfe-loader [config]="rdsTopNavigationMfeConfig"></mfe-loader>
    </div>
    <div class="
        d-flex
        flex-column-fluid
        align-items-stretch
        container-fluid
        px-0
        main-body
      ">
      <div class="aside">
        <rds-side-nav [isPageWrapper]="true" [activepage]="activePage" [activesubmenu]="activesubmenu"
                      (collapsedState)="onCollapse($event)" [collapseRequired]="collapseRequired" [sidenavItems]="getSideNavItems()"
                      (emitPath)="redirectPath($event)" (selectedMode)="toggleBetweenMode($event)"></rds-side-nav>
        <!-- <rds-side-nav [isPageWrapper]="true"
                      (collapsedState)="onCollapse($event)" [collapseRequired]="collapseRequired"
                      [sidenavItems]="sidenavItems" (emitPath)="redirectPath($event)"></rds-side-nav> -->
      </div>
      <div class="wrapper d-flex flex-column flex-row-fluid rds-scrollable-wrapper  py-3 px-3"
           [class.collapsed]="sideMenuCollapsed">
        <ng-container *ngIf="currentAlerts && currentAlerts.length > 0">
          <mfe-loader [config]="rdsAlertMfeConfig"></mfe-loader>
        </ng-container>
        <router-outlet></router-outlet>
        <!--<div [@routeAnimations]="o && o.activatedRouteData
          && o.activatedRouteData['animation']">
          <router-outlet #o="outlet"></router-outlet>
        </div>-->

      </div>
    </div>
  </div>
</div>