.mobile-btn{
    display: none;
}
.desktop-btn{
    display: block;
}

@media (max-width: 767px){
    .mobile-btn{
        display: block;
    }
    .desktop-btn{
        display: none;
    }
    .card.h-100 {
        height: calc(100vh - 90px) !important;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}