
<div class="row">
  <div class="col-md-12 p-0">
    <div class=" card p-2 border-0 rounded-0 vh-88">

      <div class="col-md-12 p-0">
        <rds-nav-tab [navtabsItems]="getNavTabItems()" [horizontalAlignment]="'start'" [verticalAlignment]="false" [pills]="false"
                     [tabs]="true" [fill]="false" [justified]="false" [activeTab]="0"></rds-nav-tab>
      </div>

      <div naveContent class="row tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="subscription-information" role="tabpanel" aria-labelledby="nav-home-tab">
          <!-- <mfe-loader [config]="rdsPlanInformationMfeConfig"></mfe-loader> -->
          <rds-comp-plan-information></rds-comp-plan-information>
        </div>

        <div class="tab-pane fade" id="payment-history" role="tabpanel" aria-labelledby="nav-home-tab">
          <!-- <mfe-loader [config]="rdsDataTableForPaymentHistoryMfeConfig"></mfe-loader> -->
        <rds-comp-data-table
        [tableData] = "tableDataForPayment"
        [tableHeaders] = "tableHeadersForPayment"
        [recordsPerPage] = "10"
        [width]="100"
        [pagination]="true"
        ></rds-comp-data-table>
        </div>

        <div class="tab-pane fade" id="upgrade-subscription" role="tabpanel" aria-labelledby="nav-home-tab">
          <!-- <mfe-loader [config]="rdscompSubscriptionMfeConfig"></mfe-loader> -->
          <rds-comp-subscription
          [subscriptionData]="subscriptionData"
          HeaderbackGroundColor="#5272C5"
          bodybackGroundColor= "#DFE5F6"
          footerbackGroundColor = "#DFE5F6"
          topLinePadding = "0"
          cardBorderWidth = "1"
          [borderRadius] = "2"
          Paddig = "5"
          [borderwidth]= "0"
          ></rds-comp-subscription>
           
        </div>
      </div>

    </div>
  </div>
</div>



