<div aria-labelledby="nav-Deligation" class="h-100">
  <div class="card border-0 h-100">
    <div class="card-header border-bottom">
      <div class="card-title">{{"DOWNLOAD COLLECTED DATA"|translate}}</div>
    </div>
    <div class="card-body pt-2">
      <div>
        <div class="row mb-4 align-items-center sm-grid" *ngFor="let item of dataSource">
          <div class="col-md-1 d-flex justify-content-center align-items-center fs-5">
            <rds-icon name="information" height="25" width="25"></rds-icon>
          </div>
          <div class="col-md-10">
            <div class="margin-bottom: 0px;">{{"your Data is Prepared,Click here to download"|translate}}</div>
            <p style="margin-bottom: 0px;">{{item.DateofData}}</p>
            <small class="text-muted" style="margin-bottom: 0px;">{{item.NummberofDates}}</small>
          </div>
          <div class="col-md-1 d-flex justify-content-center align-items-center">
            <a (click)="downloadFiles(item.downloadUrl)" rel="noopener noreferrer" class="fs-4">
              <!-- <i class="bi bi-box-arrow-down"></i> -->
              <rds-icon name="download" height="25" width="25"></rds-icon>
            </a>

          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="col-sm-12" *ngIf="this.DownloadTable.length > 10">
        <rds-pagination  (onPageChange)="onPagination($event)"
                        [recordsPerPage]="+recordsPerPage" [totalRecords]="getTotalRecords()" role="Basic"></rds-pagination>
      </div>
    </div>
  </div>

</div>
