<rds-modal [modalBackdrop]="'static'" [modalId]="alertID"  [size]="'small'" [showModalHeader]="false" [showModalFooter]="false" 
    [verticallyCenterd]="true">
    <div modalbody class="text-center py-3" >
        <p>
            <rds-icon height="40" [fill]="false" [stroke]="true" width="40" type="" [name]="Dataset.iconUrl"   [colorVariant]="Dataset.colorVariant">
            </rds-icon>
        </p>
        <h5 class="text-color"><rds-label [label]="translate.instant(Dataset.alertConfirmation)"></rds-label></h5>
        <p class="text-color"><rds-label [label]="translate.instant(Dataset.messageAlert)"></rds-label></p>
        <div class="mt-5">
            <rds-button (click)="CancelClick($event,false)" [label]="translate.instant(Dataset.CancelButtonLabel)" [size]="'small'"
                class="px-2" [colorVariant]="'primary'" [isOutline]="true" [attr.data-bs-dismiss]="'modal'">
            </rds-button>
            <rds-button [label]="translate.instant(Dataset.DeleteButtonLabel)" [size]="'small'" class="px-2" [colorVariant]="'primary'"
                (click)="DeleteClick($event,true)" [attr.data-bs-dismiss]="'modal'">
            </rds-button>
        </div>
    </div>

</rds-modal>
