<div class="row">
    <div class="col-md-12">
      <div class="py-2 px-4">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </div>
   
    <div class="col-md-12">
      <div class="py-2 px-4">
    
        <div class="justify-contents-center">
          <div class="row mt-2">
            <div class="col-md-12 text-center">
  
              <div class="d-inline-block px-2 my-4">
             <div class="p-2" header>
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                </ngx-shimmer-loading>
                  </div>
                  <div body>
                    <div class="p-1">
                      <div class="row">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                        <div class="py-2">
                            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                            </ngx-shimmer-loading>
                        </div>
                        <ul class="p-0 text-start">
                          <li class="list-group-item  px-2 py-0 border-0">
                            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                            </ngx-shimmer-loading>
                          </li>
                          <li class="list-group-item  px-2 py-0 border-0">
                            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                            </ngx-shimmer-loading>
                          </li>
                          <li class="list-group-item  px-2 py-0 border-0">
                            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                            </ngx-shimmer-loading>
                          </li>
                        </ul>
                        <div class="">
                           <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                                </ngx-shimmer-loading>
                         </div>
                      </div>
                    </div>
                  </div>
             
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>
  