<div class="container ps-0 pt-5">
  <div class="fw-bold">
    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
  </div>
  <div class="row">
      <form #invoiceForm="ngForm">
          <div class="col-md-12">
              <div class=" form-group mb-3">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              </div>

          </div>
          <div class="col-md-12">
              <div class=" form-group mb-3">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              </div>
          </div>
      </form>
  </div>
</div>
