<div *ngIf="!editShimmer">
  <div class="tab-content pb-5">
    <form #userCreationForm="ngForm" autocomplete="off">
      <div class="row align-items-center sm-d-reverse">
        <div class="col-md-6 sm-p">
          <div class="form-group mb-3">
            <rds-input [inputType]="'text'" [label]="translate.instant('Name')" [(ngModel)]="userData.name"
              [labelPosition]="'top'" name="userData.name" required #name="ngModel" [placeholder]="translate.instant('Enter Name')"
              [isRequired]="true">
            </rds-input>
            <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
              <span class="text-danger" *ngIf="name.errors.required">{{"Name is required" | translate}}</span>
            </div>
          </div>

          <div class="form-group mb-3">
            <rds-input [inputType]="'text'" [label]="translate.instant('userName')" [(ngModel)]="userData.userName"
              [labelPosition]="'top'" name="userData.userName" required #userName="ngModel" [placeholder]="translate.instant('Enter Name')"
              [isRequired]="true">
            </rds-input>
            <div class="form-control-feedback" *ngIf="userName.errors && (userName.dirty || userName.touched)">
              <span class="text-danger" *ngIf="userName.errors.required">{{"userName is required" | translate}}</span>
            </div>
          </div>

          <div class="form-group mb-3">
            <rds-input [inputType]="'text'" [label]="translate.instant('Surname')" [labelPosition]="'top'"
              [(ngModel)]="userData.surname" name="userData.surname" required #surname="ngModel" [isRequired]="true"
              [placeholder]="translate.instant('Enter Surname')">
            </rds-input>
            <div class="form-control-feedback" *ngIf="surname.errors && (surname.dirty || surname.touched)">
              <span class="text-danger" *ngIf="surname.errors.required">{{"Surname is required" | translate }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center cursor-pointer">
          <!-- <rds-label [label]="translate.instant('Profile Picture')"></rds-label> -->
          <!-- <img [src]="userData.imageUrl" width="100" (click)="selectFile.click()" />
          <input type="file" (change)="getImage($event)" accept="image/*" style="display: none" #selectFile /> -->
          <!-- <i class="bi bi-camera"></i> -->
          <!-- <rds-file-uploader [size]="'small'" [multipleFiles]="true" [role]="'fileUpload'"
                      [label]="'Upload Files'" [extensions]="'png, jpg'"></rds-file-uploader> -->
                      <img width="100" src="https://demo.raaghu.io/assets/edit-pic.png" (click)="selectFile.click()">

                      <input type="file" (change)="getImage($event)" accept="image/*" style="display: none" #selectFile>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 sm-p">
          <div class="form-group mb-3">
            <rds-input [inputType]="'email'" [labelPosition]="'top'" [label]="translate.instant('Email Id')"
              [(ngModel)]="userData.email" [pattern]="emailPattern" name="userData.email" #email="ngModel" required
              [isRequired]="true" [placeholder]="translate.instant('Email Id')">
            </rds-input>
            <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
              <span class="text-danger" *ngIf="email.errors.required">{{"Email is required" | translate}}</span>
              <span class="text-danger" *ngIf="email.errors.pattern">{{"Please enter a valid Email" | translate}}</span>
            </div>
          </div>
          <div class="form-group mb-3">
            <rds-input [inputType]="'phoneNumber'" [label]="translate.instant('Phone Number')" [labelPosition]="'top'"
              [(ngModel)]="userData.phoneNumber" name="userData.phoneNumber" required [isRequired]="true" #phone="ngModel"
              [pattern]="phonePattern" [placeholder]="translate.instant('Phone Number')">
            </rds-input>
            <div class="form-control-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">
              <span class="text-danger" *ngIf="phone.errors.required">{{"Phone Number is required" | translate}}</span>
              <span class="text-danger" *ngIf="phone.errors.pattern">{{ "Please enter a valid phone number" | translate
                }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 sm-p">
          <div class="form-group mb-3">
            <rds-input [inputType]="'password'" [labelPosition]="'top'" [label]="translate.instant('Password')"
              [(ngModel)]="userData.password" name="userData.password" autocomplete="off" #password="ngModel" required
              [isRequired]="true" [placeholder]="'Password'">
            </rds-input>
            <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
              <span class="text-danger" *ngIf="password.errors.required">{{"password required" | translate}}</span>
              <span class="text-danger" *ngIf="password.errors.pattern">{{ "Please enter a valid password" | translate
                }}</span>
            </div>
          </div>
          <div class="form-group mb-3">
            <rds-checkbox [disabled]="false" [label]="translate.instant('Two Factor Authentication')"
              [checked]="userData.isTwoFactorEnabled" [(ngModel)]="userData.isTwoFactorEnabled"
              name="isTwoFactorEnabled" [withLabel]="true" [switch]="false" [inline]="false"
              [id]="'isTwoFactorEnabled'"></rds-checkbox>
          </div>
        </div>
        <div class="col-md-6 sm-p">
          <div class="form-group mb-3">
            <rds-checkbox [disabled]="false" [label]="translate.instant('Active')" [checked]="userData.isActive"
                          [(ngModel)]="userData.isActive" name="userData.isActive" [withLabel]="true" [switch]="false" [inline]="false"
                          [id]="'isActive'"></rds-checkbox>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="position-fixed bg-white py-3 bottom-0 w-100">
    <rds-button [label]="translate.instant('Cancel')" [colorVariant]="'primary'" [isOutline]="true" (click)="onCancelUser()"
      data-bs-dismiss="offcanvas" [size]="'small'">
    </rds-button>
    <rds-button [label]="translate.instant('Next')" [isDisabled]="!userCreationForm.valid" [colorVariant]="'primary'"
      class="ms-2" (click)="next(userCreationForm)" [size]="'small'">
    </rds-button>
  </div>
</div>
