<div [ngSwitch]="role">
   <div *ngSwitchCase="'basic'">
      <div class="row border-bottom mb-3" [ngClass]="{'active': closedata === i}" *ngFor="let item of itemList; index as i ">
         <div class="col-md-2 mb-3 ps-0">
            <img [src]="item.image" class="w-100" width="100px">
         </div>
         <div class="col-md-10 mb-3 d-flex justify-content-between">
            <div>
               <div>
                  <rds-label class="fw-bold" [label]="item.prodname"></rds-label>
               </div>
               <div class="py-1">
                  <rds-label class="text-muted fw-medium" [label]="item.prdosubname"></rds-label>
               </div>
               <div class="py-1">
                  <span class="fw-bolder">${{item.price}}</span>
               </div>
               <div class="mt-4 d-flex justify-content-between">
                  <rds-icon-label class="text-muted fw-medium" [colorVariant]="'success'" [stroke]="true"  [icon]="item.highlights.icon" [label]="item.highlights.label">
                  </rds-icon-label>
               </div>
            </div>
            <div>
               <rds-select-list name="value" (selectListChange)="onSelectValue($event,item)"
                           [itemList]="item.quantity" [value]="value">
            </rds-select-list>
            </div>
            <div class="d-flex justify-content-between gap-4 sm-position-relative align-items-baseline">
               
               <button (click)="closeFilterPermission(item,i)" class="btn-close text-reset "></button>
               
            </div>
            
         </div>
         
      </div>
   </div>


   <div *ngSwitchCase="'withoutQuantity'">
      <!-- <table id="table" class="w-100 py-5">
         <tr *ngFor="let item of itemList; index as i " class="border-bottom">
            <td width="120" class="align-content-center py-4 px-0">
               <img [src]="item.image" height="100px" width="100px" class="border">
            </td>
            <td class="ps-3 vertical-top py-4 px-0">
               <div class=" d-grid form-label fw-semibold">
                  <rds-label [label]="item.prodname"></rds-label>
                  <rds-label class="text-muted" [label]="item.prdosubname"></rds-label>
               </div>
            </td>
            
         </tr>
      </table> -->
      <div class="row border-bottom mb-3" *ngFor="let item of itemList; index as i ">
         <div class="col-md-2 mb-3">
            <img [src]="item.image" height="100px" width="100px" class="border w-100 h-100">
         </div>
         <div class="col-md-10 d-flex justify-content-between mb-3">
            <div>
               <div class="d-grid form-label fw-semibold">
                  <rds-label [label]="item.prodname"></rds-label>
                  <rds-label class="text-muted" [label]="item.prdosubname"></rds-label>
               </div>
            </div>
            <div>
               <div class="vertical-top text-end form-label fw-semibold px-0">
                  ${{item.price | number:'2.2-2'}}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>