.imgblock{
width: 15%;
}
.vertical-top{
    vertical-align: top;
}
table td {
    padding: 0.75rem;
}
@media only screen and (max-width: 600px){
    .sm-position-relative{
        position: relative;
        bottom: 100px;
    }
}