<div [ngSwitch]="role">
   <div *ngSwitchCase="'basic'">
      <div class="col-md-12">
         <div class="table-responsive">
            <table id="table" class="w-100 p-4">
               <tbody>
                  <tr class="mb-5 border-bottom mt-3 pt-3" [ngClass]="{'active': closedata === i}" *ngFor="let item of itemList; index as i ">
                     <td width="120" class=" bg-light align-content-center text-center">
                        <img [src]="item.image" width="100px">
                     </td>
                     <td class="ps-3">
                        <rds-label class="fw-bold" [label]="item.prodname"></rds-label>
                        <div class="py-1">
                           <rds-label class="text-muted" [label]="item.prdosubname"></rds-label>
                        </div>
                        <div class="py-1">
                           <span class="fw-bolder">${{item.price}}</span>
                        </div>
                        <div class="mt-4">
                           <rds-icon-label [icon]="item.highlights.icon" [label]="item.highlights.label">
                           </rds-icon-label>
                        </div>
                     </td>
                     <td width="120" class="vertical-top">
                        <rds-select-list name="value" (selectListChange)="onSelectValue($event,item)"
                           [itemList]="item.quantity" [value]="value" [placeholderText]="translate.instant('Qty')"
                           [labelText]="">
                        </rds-select-list>

                     </td>
                     <td width="120" class="vertical-top text-end">
                        <button (click)="closeFilterPermission(item,i)" class="btn-close text-reset "></button>
                     </td>
                  </tr>
                  <!-- <tr *ngFor="let item of itemList; index as i ">
               <td colspan="4"><hr class=""> </td>
            </tr> -->
               </tbody>
            </table>
         </div>
      </div>
   </div>


   <div *ngSwitchCase="'withoutQuantity'">
      <table id="table" class="w-100 py-5">
         <tr *ngFor="let item of itemList; index as i " class="border-bottom">
            <td width="120" class="align-content-center py-4 px-0">
               <img [src]="item.image" height="100px" width="100px" class="border">
            </td>
            <td class="ps-3 vertical-top py-4 px-0">
               <div class=" d-grid form-label fw-semibold">
                  <rds-label [label]="item.prodname"></rds-label>
                  <rds-label class="text-muted" [label]="item.prdosubname"></rds-label>
               </div>
            </td>
            <td class="vertical-top text-end form-label fw-semibold py-4 px-0">
               ${{item.price | number:'2.2-2'}}
            </td>
         </tr>
      </table>
   </div>
</div>