<form #contactUsForm="ngForm">
    <div class="contact-information">
        <h3 class="pb-3">
            Contact information
        </h3>
        <div class="my-1">
            <rds-input label="Email Address" [labelPosition]="'top'" [isRequired]=true required size="medium"
                name="emailAddress" id="email" #emailAddress="ngModel" [pattern]="emailPattern"
                [placeholder]="'Enter Email Address'" ngDefaultControl [(ngModel)]="contactData.email" required>
            </rds-input>
            <div class="form-control-feedback"
                 *ngIf="contactData.errors">
              <span class="text-danger" *ngIf="contactData.errors.required">
                Email Address is required
              </span>
            </div>
        </div>
        <div class="my-3">
            <rds-input label="Contact Number" [labelPosition]="'top'" [isRequired]=true required size="medium"
                [placeholder]="'Enter Contact Number '" name="contactNumber" id="contactnumber" #emailAddress="ngModel"
                [pattern]="" ngDefaultControl [(ngModel)]="contactData.contactnumber" required>
            </rds-input>
        </div>
        <div class="mt-4 pt-1 d-flex">
            <div class="mr-3">
                <rds-checkbox [disabled]="false" [label]="'I have read the terms and conditions and agree to the sale of my personal information to the highest bidder.'" name="allowUser" [withLabel]="true"
                        [switch]="false" [inline]="false"  [(ngModel)]="contactData.agree" 
                        #allowUser="ngModel" [id]="'ssl'"></rds-checkbox>
               
            </div>
            
        </div>
        <div class="pt-3">
            <rds-button [block]="true" [size]="'medium'" [colorVariant]="'primary'"
                [label]="translate.instant('Continue')" [isDisabled]="!contactUsForm.valid" (click)="contact()">
            </rds-button>
        </div>
    </div>
</form>