<form #passwordSetting="ngForm">
    <div class="row mt-5 align-items-baseline">
        <div class="col-md-12">
            <div class="form-group mb-3">
                <label class="mb-2"> Current password <span class="text-danger">*</span></label>
                <rds-input [inputType]="'password'" [(ngModel)]="passwordSettings.currentPassword"
                    name="current_password" required [placeholder]="'Current password'" #currentPassword="ngModel">
                </rds-input>
                <div class="form-control-feedback"
                    *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)">
                    <span class="text-danger" *ngIf="currentPassword.errors.required">Current password is
                        required</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-baseline">
        <div class="col-md-12">
            <div class="form-group mb-3">
                <label class="mb-2">New password<span class="text-danger">*</span></label>
                <rds-input [inputType]="'password'" [(ngModel)]="passwordSettings.newPassword" name="new_password"
                    minlength="8" (keyup)="comparePassword()" required [placeholder]="'New password'"
                    #newPassword="ngModel">
                </rds-input>
                <div class="form-control-feedback"
                    *ngIf="newPassword.errors &&(newPassword.dirty || newPassword.touched)">
                    <span class="text-danger" *ngIf="newPassword.errors.required">New password is
                        required</span>
                    <span class="text-danger" *ngIf="newPassword.errors.minlength">Your new password must be more than 8
                        characters.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-baseline">
        <div class="col-md-12">
            <div class="form-group mb-3">
                <label class="mb-2">Confirm new password<span class="text-danger">*</span></label>
                <rds-input [inputType]="'password'" [(ngModel)]="passwordSettings.confirmPassword"
                    (keyup)="comparePassword()" name="confirm_password" required [placeholder]="'Confirm New password'"
                    #confirmPassword="ngModel">
                </rds-input>
                <div class="form-control-feedback"
                    *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
                    <span class="text-danger" *ngIf="confirmPassword.errors.required">Confirm
                        password is
                        required</span>

                </div>
            </div>
            <span class="text-danger" *ngIf="mismatch">password mismatch found</span>

        </div>
    </div>

</form>
<div class="row mt-5">
    <div class="col-md-12">
        <rds-label [bold]="true" class="fs-5" [label]="'Where you are logged in'"></rds-label>
        <div>
            <rds-label [bold]="false"
                [label]="'We wll alert you via olivia@rdssysteminc.com if there is any unusual activity on your account.'" class="text-muted">
            </rds-label>
        </div>
    </div>

    <rds-comp-benefit [itemList]="loggedinInfo" ></rds-comp-benefit>
</div>
<div class="mt-5">
    <rds-button [label]="'Cancel'" [colorVariant]="'primary'" [size]="'small'" class="" [isOutline]="true">
    </rds-button>
    <rds-button [label]="'Save'" [size]="'small'" [colorVariant]="'primary'" class="ms-2">
    </rds-button>
</div>