<div [@fadeAnimation]="isAnimation ? 'fadeAnimation' : ''">
  <div class="row">
    <div class="col-md-12  pb-3 desktop-btn">
      <div class="d-flex justify-content-end">
        <rds-button [tooltipPlacement]="'bottom'" [tooltipTitle]="translate.instant('SAVE ALL')"
          [label]="translate.instant('SAVE ALL')" type="button" [size]="'small'" [colorVariant]="'primary'"
          [outlineButton]="false" (click)="onSave()" icon="save" iconHeight="15px" iconWidth="15px"></rds-button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="mobile-btn position-absolute bottom-0 end-0 my-5 me-5">
          <rds-fab-menu [listItems]="listItems1" [menuicon]="'plus'" [colorVariant]="'primary'" [menuiconWidth]="'12px'"
            [menuiconHeight]="'12px'" (onSelect)="onSelectMenu($event)"></rds-fab-menu>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0 py-2 px-4 h-100 rounded-0 card-full-stretch ">

          <!--<ng-container *ngIf="currentAlerts&&currentAlerts.length>0">
          <mfe-loader [config]="rdsAlertMfeConfig"></mfe-loader>
        </ng-container>-->
          <div>

          </div>
          <rds-nav-tab [navtabsItems]="getNavtabItems()" [horizontalAlignment]="'start'" [verticalAlignment]="false"
            [pills]="false" [tabs]="true" [fill]="false" [justified]="false"></rds-nav-tab>

          <div naveContent class="row tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="tenant-management" role="tabpanel"
              aria-labelledby="nav-home-tab">
              <div class="row">
                <mfe-loader [config]="rdsCompTenantManageMfeConfig"></mfe-loader>
              </div>
            </div>
            <div class="tab-pane fade" id="user-management" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <mfe-loader [config]="rdsCompUserManagementsMfeConfig"></mfe-loader>
              </div>
            </div>
            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <mfe-loader [config]="rdsCompSecurityMfeConfig"></mfe-loader>
              </div>
            </div>
            <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <mfe-loader [config]="rdsCompEmailMfeConfig"></mfe-loader>
              </div>
            </div>
            <div class="tab-pane fade" id="invoice" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <mfe-loader [config]="rdsCompInvoiceMfeConfig"></mfe-loader>
              </div>
            </div>
            <div class="tab-pane fade" id="other-settings" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <mfe-loader [config]="rdsCompOtherSettingsMfeConfig"></mfe-loader>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>