<div class="row">
  <div class="tab-content px-3">
      <form #languageForm="ngForm">
          <div class="row mb-3">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group mt-3">
                    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                    </ngx-shimmer-loading>
                  </div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-md-12 col-sm-12">
                  <div class="form-group mt-3">
                      <div class="form-group mt-3">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="form-group mb-3">
                    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                    </ngx-shimmer-loading>
                  </div>
              </div>

          </div>
      </form>
  </div>
  <div class="footer-buttons my-2">
      <div class="row">
          <div class="col-md-12 ">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
            <!-- <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading> -->
          </div>
      </div>
  </div>
</div>
