<div class="row">
  <div class="col-md-12">
    <div class="card p-2 h-100 justify-content-center  border-0 rounded-0 card-full-stretch">
      <div class="container-fluid justify-content-center">
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <div class="row">
              <div class="col-md-4 offset-md-1 position-relative">
                <div class="mt-4 position-absolute top-0">
                  <h1 class=" fw-bold">{{translate.instant('Under Construction')}}</h1>
                  <p class="mt-3 mb-3 text-opacity-25 text-secondary">{{translate.instant('Nulla metus metus ullamcorper vel tincidunt set euismod nibh quisque volutpat')}}</p>
                </div>
                <a href="https://raaghu.io/" target="blank" class="align-self-end d-flex position-absolute bottom-0">
                  <rds-button [label]="'Read More'" [size]="'small'" [colorVariant]="'primary'" class=""></rds-button>
                </a>
              </div>
              <div class="col-md-4 mt-5">
                <img src="../assets/Illustration-under-construction.svg" class="w-100 h-100">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>