<div class="text-center">
  <div *ngIf="!showMailSuccess">
    <h2 class="pb-3"> <b> {{translate.instant('Forgot Password')}}? </b> </h2>
    <div>
      <form [formGroup]="forgotPasswordForm">
        <div class="form-group mb-3 text-start">
          <rds-input size="medium" [labelPosition]="'top'" [disabled]="false" [readonly]="false"
            [label]="translate.instant('Enter email to receive reset password link')" value="" [inputType]="'email'"
            [placeholder]="translate.instant(Email)" [isRequired]=true  id="txtUsermail" floatinginputLabel="" formControlName="email"
            [(ngModel)]="mailID" ngDefaultControl (keyup)="emailValidator(mailID)" (mouseup)="checkIsEmailEmpty()">
          </rds-input>
          <small class="text-danger" *ngIf="showMailValidityMessage">{{"Entered invalid"|translate}}{{Email}}</small>
          <small class="text-danger" *ngIf="showMailRequiredMessage">{{Email}} {{"is Required"|translate}}</small>
          <div class="row d-flex justify-content-between mt-2">
            <div class="col-md-12">
              <div>{{translate.instant('Remember Password')}}? <a class="text-decoration-none" [href]="loginRouterLink">{{translate.instant("Login")}}</a></div>
            </div>
          </div>
        </div>
        <br>
        <div class="mb-2">
          <rds-button class="d-grid mb-3" [colorVariant]="buttonColorType" [block]="true" [size]="'medium'"
            [label]="translate.instant(buttonLabel)" (click)="submit()"></rds-button>
        </div>
      </form>
    </div>
  </div>
  <div class="container" *ngIf="showMailSuccess">
    <img src="https://www.nicepng.com/png/full/362-3624869_success-image-png.png" class="mt-4 mb-4 w-25">
    <h3 class="pb-3">{{translate.instant('Email has been sent')}}!</h3>
    <div>
      {{translate.instant('Please check your inbox and click in the received link to reset a password')}}
    </div>
    <br>
    <div>
      {{"Didn't receive the link"|translate}}? <a class="text-decoration-none" [href]="resendLink">{{"Resend"|translate}}</a>
    </div>
  </div>
</div>