<form #scopeBasicsForm="ngForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="form-group">
        <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="form-group">
        <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
      </div>
    </div>
  </div>
</form>
