<!-- <div class="row mx-3" style="background-color: #F5F5FC;" *ngFor="let item of websiteLogData">

    <div class="col-sm-1" style="margin-top: 10px;">
        <rds-badge size="small" [label]="'Info'">
        </rds-badge>
    </div>
    <div class="col-sm-11" style="margin-top: 15px;">
        <p style="margin-bottom: 0px;">{{item}}</p>
    </div>
</div> -->

<div *ngIf="dataSource && dataSource.length > 0; else emptyTemplate">
    <div class="px-4 bg-light" *ngFor="let item of dataSource">
        <div class="row w-100 border-bottom">
            <div class="col-md-1 col-sm-2 py-2 d-flex align-items-center">
                <rds-badge size="small" [label]="'WARN'" [colorVariant]="'warning'"></rds-badge>
            </div>
            <div class="col-md-11 col-sm-10 py-2">
                <small>
                    {{item}}
                </small>
            </div>
        </div>
    </div>
    <div class="pt-2">
        <rds-pagination [reset]="resetPagination" (onPageChange)="onPagination($event)" [recordsPerPage]="+10"
            [totalRecords]="getTotalRecords()" [alignmentType]="alignmentType" [role]="role"></rds-pagination>
    </div>
</div>
<ng-template #emptyTemplate>
    <div class="my-5 py-5 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <div class="mb-3">
                <rds-icon name="file_plus" width="100px" height="100px"></rds-icon>
            </div>
            <div>
                <h5> {{"Currently you do not have website log"|translate}} </h5>
            </div>
        </div>
    </div>
</ng-template>