<!-- <div class="row mx-3" style="background-color: #F5F5FC;" *ngFor="let item of websiteLogData">

    <div class="col-sm-1" style="margin-top: 10px;">
        <rds-badge size="small" [label]="'Info'">
        </rds-badge>
    </div>
    <div class="col-sm-11" style="margin-top: 15px;">
        <p style="margin-bottom: 0px;">{{item}}</p>
    </div>
</div> -->
<div *ngIf="websiteLogData && websiteLogData.length > 0; else emptyTemplate">
    <div class="px-3" *ngFor="let item of dataSource">
        <div class="d-flex align-items-center gap-3 border-bottom py-3">
            <div>
                <rds-badge size="small" [label]="'WARN'" [colorVariant]="'warning'"></rds-badge>
            </div>
            <div>
                <small class="text-break">
                    {{item}}
                </small>
            </div>
        </div>
    </div>
    <div class="pt-2">
        <rds-pagination  (onPageChange)="onPagination($event)" [recordsPerPage]="recordsPerPage"
            [totalRecords]="getTotalRecords()" [alignmentType]="alignmentType" [role]="role"></rds-pagination>
    </div>
</div>
<ng-template #emptyTemplate>
    <div class="my-5 py-5 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <div class="mb-3">
                <rds-icon name="file_plus" width="100px" height="100px"></rds-icon>
            </div>
            <div>
                <h5> {{"Currently you do not have website log"|translate}} </h5>
            </div>
        </div>
    </div>
</ng-template>