<div>
    <rds-label label="Customer Review" [multiline]="false" [bold]="true" [italic]="false" class="fs-2"></rds-label>
    <div class="row mt-4 mb-2">
        <rds-rating [withNoOfReviews]="true" [rating]="3" [noOfReview]="totalReview" Size="small"></rds-rating>
    </div>

</div>


<div class="d-flex mt-3 gap-4 align-items-baseline" *ngFor="let item of itemlist|keyvalue; let i=index">
    <div class="d-flex align-items-center gap-3">
        <rds-label [label]="getLabel(i)" [multiline]="false" [bold]="false" [italic]="false" class="fs-4 "></rds-label>
        <rds-icon height="20" [fill]="true" [stroke]="true" width="20" name="star" colorVariant="review">
        </rds-icon>
    </div>
    <div class="w-100">
        <div class="mt-1">
            <rds-progressbar [height]="15" [showLabels]="false" colorVariant="warning" striped="default"
                [progressWidth]="getReviewRate(item.value)" [progressbar_MaxWidth]="100" role="single" style="width:68%;">
            </rds-progressbar>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <rds-label [label]="getReviewRateString(item.value)" [multiline]="false" [bold]="false" [italic]="false"
            class="fs-4"></rds-label><span class="fs-5 fw-bolder mt-1">%</span>
    </div>
</div>