<div class="card p-2">
  <div class="card-body">
    <div class="row">
        <div class="col-md-8">
          <!-- <mfe-loader [config]="rdsCompShoppingCartProductMfeConfig"></mfe-loader> -->
          <rds-comp-shopping-cart-product
            [itemList]="itemList"
            recordsPerPage="10"
            width="100"
            pagination="true"
            noDataTitle="'Currently you do not have product'"
            (onItemClick)="onItemClick($event)"
          >
          </rds-comp-shopping-cart-product>
        </div>
        <div class="col-md-4">
          <!-- <mfe-loader [config]="rdsCompOrderSummaryMfeConfig"></mfe-loader> -->
          <rds-comp-order-summary
            [Subtotal]="totalPrice"
            [Shippingestimate]="9.0"
            [Taxestimate]="2.3"
          ></rds-comp-order-summary>
        </div>
      </div>
      
  </div>
</div>
