<rds-modal [backdropstatic]="'static'" [modalId]="alertID" [modalData]="alertData"
    [modalClasses]="'centered'" [isModalHeader]="false" [isModalFooter]="false">
    <div Modalbody class="text-center py-5">
        <p>
            <!-- <img [src]="Dataset.iconUrl" class="img-fluid"> -->
            <rds-icon height="50" [fill]="false" [stroke]="true" width="50" type="" [name]="Dataset.iconUrl"   [colorVariant]="Dataset.colorVariant">
            </rds-icon>
        </p>
        <h3 class="mt-3 mb-1 pb-0"> <b> {{Dataset.alertConfirmation|translate}} </b> </h3>
        <p>{{Dataset.messageAlert|translate}}</p>
        <div class="mt-4">
            <rds-button (click)="CancelClick($event,false)" [label]="translate.instant(Dataset.CancelButtonLabel)" [size]="'small'"
                class="px-2" [colorVariant]="'outline-primary'" [attr.data-bs-dismiss]="'modal'">
            </rds-button>
            <rds-button [label]="translate.instant(Dataset.DeleteButtonLabel)" [size]="'small'" class="px-2" [colorVariant]="'primary'"
                (click)="DeleteClick($event,true)" [attr.data-bs-dismiss]="'modal'">
            </rds-button>
        </div>
    </div>

</rds-modal>
