<rds-modal [modalBackdrop]="'static'" [modalId]="alertID" [showModalHeader]="false" [showModalFooter]="false" 
    [verticallyCenterd]="true">
    <div modalbody class="text-center py-5" >
        <p>
            <rds-icon height="50" [fill]="false" [stroke]="true" width="50" type="" [name]="Dataset.iconUrl"   [colorVariant]="Dataset.colorVariant">
            </rds-icon>
        </p>
        <h3><rds-label [label]="translate.instant(Dataset.alertConfirmation)"></rds-label></h3>
        <p><rds-label [label]="translate.instant(Dataset.messageAlert)"></rds-label></p>
        <div class="mt-5">
            <rds-button (click)="CancelClick($event,false)" [label]="translate.instant(Dataset.CancelButtonLabel)" [size]="'small'"
                class="px-2" [colorVariant]="'primary'" [outlineButton]="true" [attr.data-bs-dismiss]="'modal'">
            </rds-button>
            <rds-button [label]="translate.instant(Dataset.DeleteButtonLabel)" [size]="'small'" class="px-2" [colorVariant]="'primary'"
                (click)="DeleteClick($event,true)" [attr.data-bs-dismiss]="'modal'">
            </rds-button>
        </div>
    </div>

</rds-modal>
