// .image {
//     width: 20px;
// }

.title {
    text-align: left !important;
}

.subtitle {
    font-size: x-small;
}

.mobile-btn{
    display: none;
  }
  .desktop-btn{
    display: block;
  }
  
  @media (max-width: 767px){
    .mobile-btn{
        display: block;
        z-index: 99;
    }
    .desktop-btn{
        display: none;
    }
    .card.h-100 {
        height: calc(100vh - 90px) !important;
    }
    .sm-block{
        display: block !important;
    }
  }
