<ul class="list-unstyled pt-5 ">
    <li>
      <div class="form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </li>
  
    <li>
      <div class="form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </li>
  
    <li>
      <div class="form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </li>
    <li>
      <div class="form-group mb-3">
        <div class="mb-1 fw-medium">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
      </div>
      <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
    </ngx-shimmer-loading>
      </div>
    </li>
    <li>
      <div class="form-group mb-3">
        
        <div class="mb-3 fw-medium">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
        </div>
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </li>
    <li>
      <div class="form-group mb-3">
        
        <div class="mb-3 fw-medium">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
        </div>
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </li>
  </ul>