<div class=" " style="background-color: lightsteelblue;">
  <div class="align-items-center d-flex justify-content-center login m-auto" style="max-width: 900px; height: 100vh;">
    <div class="container-fluid m-2">
      <div class="bg-white row rounded-3 ">
        <div class="col-md-6">
          <div class="py-4 px-3">
            <div class="pb-4">
              <div href="#" class="text-center">
                <img src="../assets/Raaghu-logo-mfe-black.png" class="img-fluid">
              </div>
            </div>
            <div class="text-center">
              <h2 c> <b> Log in </b> </h2>
                <h6> <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                </ngx-shimmer-loading></h6>
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                </ngx-shimmer-loading>
                <div class="pt-5">
                  <form>
                    <div class="form-group mb-3 text-start">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                  
                    </div>
                    <div class="form-group mb-3 text-start">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                     
                      <div class="row d-flex justify-content-between mt-2">
                        <div class="col-md-6">
                          <div class="form-group mb-3">
                            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                            </ngx-shimmer-loading>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                            </ngx-shimmer-loading>
                        </div>
                      </div>
                      <br />
                    </div>
                    <div class="pb-3">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                     
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-6 order-1 order-sm-2 rounded-end"
             style="background-image: url(../assets/Login-card.svg); background-size: cover;">
        </div>
      </div>
    </div>
  </div>
</div>



