<!-- <div class="tab-content"> -->
<!-- <div aria-labelledby="nav-Deligation" class="h-100">
    <div class="card border-0 h-100">
      <div class="card-body m-1"> -->
<div class="row">
  <rds-data-table
    [tableData]="propertyTableData"
    [inlineEdit]="false"
    [pagination]="propertyTableData&&propertyTableData.length>5?true:false"
    [recordsPerPage]="5"
    [actions]="propertyActions"
    [tableHeaders]="propertyTableHeader"
    [isDeleteConfirmationRequired]="false"
    (onActionSelection)="onActionSelection($event)"
    [noDataTitle]="'Currently you do not have properties'"
  ></rds-data-table>
</div>
<form #propertyform="ngForm">
  <div class="mt-4 row pb-5">
    <div class="col-md-5 mb-3">
      <rds-input
        size="medium"
        [labelPosition]="'top'"
        [label]="'key'"
        inputType="text"
        [(ngModel)]="PropertiesData.key"
        [disabled]="false"
        [readonly]="false"
        #key="ngModel"
        ngDefaultControl
        name="Key"
        required
      >
      </rds-input>
    </div>
    <div class="col-md-5 mb-3">
      <rds-input
        size="medium"
        [labelPosition]="'top'"
        [label]="'value'"
        inputType="text"
        [(ngModel)]="PropertiesData.value"
        #value="ngModel"
        [disabled]="false"
        [readonly]="false"
        required
        name="value"
        ngDefaultControl
      >
      </rds-input>
    </div>
    <div class="col-md-2 pt-4 mt-1">
      <rds-button
        [id]="'prop-add'"
        [size]="'medium'"
        [tooltipPlacement]="'top'"
        [colorVariant]="'primary'"
        [label]="'add'"
        (click)="addProperties(propertyform)"
      >
      </rds-button>
    </div>
  </div>
</form>

<!-- </div>
    </div>
  </div> -->
<!-- </div> -->
<div class="footer-buttons my-2 d-flex">
  <rds-button
    [label]="'Cancel'"
    [id]="'property-cancel'"
    [isOutline]="true"
    [colorVariant]="'primary'"
    data-bs-dismiss="offcanvas"
    [size]="'small'"
  >
  </rds-button>
  <rds-button
    [id]="'property-create'"
    [size]="'small'"
    class="ms-2"
    [tooltipPlacement]="'top'"
    [colorVariant]="'primary'"
    [label]="getBtnName()"
    (click)="SavePropertyData()"
  >
  </rds-button>
</div>
