
  <div *ngIf="!EditShimmer">
    <div class="tab-content py-4">
      <form #languageForm="ngForm">
        <div class="row align-items-center">
            <div class="col-md-6" *ngIf="!editOffCanvas">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group mt-3">
                   
                      <rds-select-list  [(ngModel)]="selectedLanguageData.cultureName" [label]="translate.instant('Culture Name')" 
                      [value]="selectedLanguageData.cultureName"  ngDefaultControl LabelType="Top" name="selectedLanguageData.cultureName" [itemList]="cultureList" [placeholder]="'Select Culture Name'">
                    </rds-select-list> 
                    <!-- <div class="form-control-feedback" *ngIf="language.errors && (language.dirty || language.touched)">
                        <span class="text-danger" *ngIf="language.errors.required">{{
                          "Culture Name is
                          required"
                          | translate
                          }}</span>
                      </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group mt-3">
                    <rds-input [label]="translate.instant('Display Name')" [disabled]="false" [readonly]="false" [labelPosition]="'top'"
                value="selectedLanguageData.displayName" name="displayName" [isRequired]=true inputType="text" [placeholder]="translate.instant('Display Name')" #displayName="ngModel"
                [(ngModel)]="selectedLanguageData.displayName" floatinginputLabel="" required ngDefaultControl>
              </rds-input>
              <div class="form-control-feedback" *ngIf="displayName.errors && (displayName.dirty || displayName.touched)">
                <span class="text-danger" *ngIf="displayName.errors.required">{{
                  "display Name is
                  required"
                  | translate
                  }}</span>
              </div>
                  </div>
                </div>
              </div>
        </div>
      
        <div class="row" *ngIf="!editOffCanvas">
            <div class="col-md-12 col-sm-12">
                <div class="form-group mt-3" >
                  <rds-select-list [(ngModel)]="selectedLanguageData.uiCultureName" [label]="translate.instant('Ui Culturename Name')" 
                  [value]="selectedLanguageData.uiCultureName"  ngDefaultControl LabelType="Top" name="selectedLanguageData.uiCultureName" 
                  [itemList]="uiCultureList" [placeholder]="'Select Ui CultureList Name'" #uiCulturename="ngModel">
                </rds-select-list> 
                   <div class="form-control-feedback" *ngIf="uiCulturename.errors && (uiCulturename.dirty || uiCulturename.touched)">
                        <span class="text-danger" *ngIf="uiCulturename.errors.required">{{
                          "Culture Name is
                          required"
                          | translate
                          }}</span>
                      </div>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group mt-3">
                <rds-checkbox [label]="translate.instant('Enable Language')" [checked]="selectedLanguageData.isEnabled"
                  [withLabel]="true" name="enables" [(ngModel)]="selectedLanguageData.isEnabled" ngDefaultControl
                  [id]="'isEnabled'">
                </rds-checkbox>
              </div>
            </div>
          </div>

      </form>
    </div>
    <div class="footer-buttons my-2 sm-p-0">
      <rds-button [label]="translate.instant('Cancel')" [colorVariant]="'primary'" [size]="'small'"
        (click)="closeCanvas()" data-bs-dismiss="offcanvas">
      </rds-button>
      <rds-button *ngIf="!editOffCanvas" [label]="translate.instant('SAVE')"
        [isDisabled]="!languageForm.valid"
        [size]="'small'" class="ms-2" [colorVariant]="'primary'" (click)="addLanguage(languageForm)" [showLoadingSpinner]="buttonSpinner">
      </rds-button>
      <rds-button *ngIf="editOffCanvas" [label]="translate.instant('EDIT')"
        [isDisabled]="!languageForm.valid"
        [size]="'small'" class="ms-2" [colorVariant]="'primary'" (click)="addLanguageEdit(languageForm)" [showLoadingSpinner]="buttonSpinner">
      </rds-button>
    </div>
  </div>

