/*------- avatar custom properties-------------*/
.avatar-sm {
  width: 2rem;
  height: 2rem;
}

.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar-lg {
  width: 3rem;
  height: 3rem;
}

.avatar-larger {
  width: 6rem;
  height: 6rem;
}

.avatar {
  align-items: center;
  // display: flex;
  justify-content: center;
  align-items: center;
  // display: flex;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 700;
}

/*------- avatar group custom properties-------------*/
.avatar-group {
  display: flex;
}

.avatar-group img,
.avatar-group div {
  margin: 0.375rem;
}

// Badge css
.badge-primary {
  background-color: #c2e3ff;
  border-color: #c2e3ff;
  color: #3698ee !important;
}

.badge-secondary {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  color: #a9a2a2 !important;
}

.badge-success {
  background-color: #c5f8cf;
  border-color: #c5f8cf;
  color: #25c243 !important;
}

.badge-danger {
  background-color: #ffd1d1;
  border-color: #ffd1d1;
  color: #ec5f5f !important;
}

.badge-warning {
  background-color: #fff5d1;
  border-color: #ffecb5;
  color: #ecb15f !important;
}

.badge-info {
  background-color: #d1f4ff;
  border-color: #d1f4ff;
  color: #5fcaec !important;
}

.badge-dark {
  background-color: #FFFFFF;
  border-color: #000000;
  color: #000000 !important;
}

/// File Uploader
.files {
  height: 100px;
  background: #f8f9fa;
  border: 1px dashed #adb5bd;
  border-radius: .25rem;

  :hover {
    background: #e9ecef;
  }

  :focus {
    border: 3px solid #67aeec;
    background-color: #e9ecef;
  }

  :after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 70px;
    right: 0;
    height: 70px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/svg/130/130993.svg);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .file-input {
    top: 10px;
    position: absolute;
  }

  span.spn-svg {
    right: 30px;
    top: 29px;
  }

  .alert-col {
    background: transparent linear-gradient(90deg, #dcdadf 0%, #ff606048 100%) 0% 0% no-repeat padding-box;
  }

  .file-close svg {
    color: #adb5bd;
  }
}

.error-msg {
  color: #EF2E2E;
  top: 4rem;
}

.alert-un {
  background-color: #adb5bd !important;
  border: 1px solid #adb5bd;
}

.list-style li {
  list-style: none;
}

.small {
  font-size: 0.875rem;
  padding: 0;
}

.medium {
  font-size: 1rem;
  padding: 0px;
}

.large {
  font-size: 1.25rem;
  padding: 0;
}
// ==============================================================
.square-tags { 
  border-radius: .25rem;
}
.rounded-tags {
  border-radius: 20px;
}
.tags {
  font-size: small;
  padding: 1px 8px 4px 8px;
  position: relative;
}

.tags-body {
  padding-right: 20px;
}

.tags rds-icon {
  position: absolute;
  right: 8px;
}
.tags rds-icon svg {
  width: 8px;
  height: auto;
}


// Scroll Type 
.rds-tags {
  width: 100%;
  border: 1px solid  #ced4da; 
  border-radius: 5px;
  padding: 5px;
}
.scroll-type {
  width: 100%;
  max-height: 36.5px;
  overflow-y: scroll;
}

// colors

.tag-primary{
  background-color: #7E2EEf;
}
.tag-secondary{
  background-color: #2B0066;
  color: #ffffff;
}
.tag-success{
  background-color: #2EEF59;
}
.tag-info{
  background-color: #3ef1e8;
}
.tag-warning{
  background-color: #E3A300;
}
.tag-danger{
  background-color: #EF2E2E;
}
.tag-dark{
  background-color: #363636;
  color: #ffffff;
}
.tag-light{
  background-color: #F8F9FA;
}

svg {
    fill: none;
    // stroke: $gray-300;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  left: 43px;
  width: 20px;
  height: 20px;
/*  margin-top: -10px;
  margin-left: -10px;*/
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

// Navbar CSS
.smallSize{
  font-size: 0.875rem * 0.875 !important;
}
.mediumSize{
  font-size: 0.875rem !important;
}
.largeSize{
  font-size: 0.875rem * 1.25 !important;
}

.alert-sm{
  font-size: 0.875rem ;
}

.alert-md{
 font-size: 1rem;
}

.alert-lg{
 font-size: 1.125rem;
}

.img-avatar-left {
 border-radius: 50vh;
 width: 180px;
 z-index: 9;
 display: block;
 margin-left: 20px;
 margin-right: auto;
 width: 37%;
 margin-top: -130px;
 border: 3px solid #fff;
}

.img-avatar {
 border-radius: 50vh;
 width: 180px;
 z-index: 9;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 37%;
 margin-top: -130px;
 border: 3px solid #fff;
}

.rounded-avatar-center .profile-image {
 margin-left: 85px;
}

.breadcrumb-navlink{
  color: black;
  display: inline;
}
