/*------- avatar custom properties-------------*/
@import './node_modules/bootstrap/scss/bootstrap';

.accordion-header {
  border-radius: 0.25rem;
  background: #7E2EEf;
  border-color: #7e2eef;
}
.avatar-sm {
  width: 2rem;
  height: 2rem;
}

.avatar-md {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar-lg {
  width: 3rem;
  height: 3rem;
}

.avatar-larger {
  width: 6rem;
  height: 6rem;
}

.avatar {
  align-items: center;
  // display: flex;
  justify-content: center;
  align-items: center;
  // display: flex;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 700;
}

/*------- avatar group custom properties-------------*/
.avatar-group {
  display: flex;
}

.avatar-group img,
.avatar-group div {
  margin: 0.375rem;
}

// Badge css
.badge-primary {
  background-color: #c2e3ff;
  border-color: #c2e3ff;
  color: #3698ee !important;
}

.badge-secondary {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  color: #a9a2a2 !important;
}

.badge-success {
  background-color: #c5f8cf;
  border-color: #c5f8cf;
  color: #25c243 !important;
}

.badge-danger {
  background-color: #ffd1d1;
  border-color: #ffd1d1;
  color: #ec5f5f !important;
}

.badge-warning {
  background-color: #fff5d1;
  border-color: #ffecb5;
  color: #ecb15f !important;
}

.badge-info {
  background-color: #d1f4ff;
  border-color: #d1f4ff;
  color: #5fcaec !important;
}

.badge-dark {
  background-color: #FFFFFF;
  border-color: #000000;
  color: #000000 !important;
}

/// File Uploader
.files {
  height: 100px;
  background: #f8f9fa;
  border: 1px dashed #adb5bd;
  border-radius: .25rem;

  :hover {
    background: #e9ecef;
  }

  :focus {
    border: 3px solid #67aeec;
    background-color: #e9ecef;
  }

  :after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 70px;
    right: 0;
    height: 70px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/svg/130/130993.svg);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .file-input {
    top: 10px;
    position: absolute;
  }

  span.spn-svg {
    right: 30px;
    top: 29px;
  }

  .alert-col {
    background: transparent linear-gradient(90deg, #dcdadf 0%, #ff606048 100%) 0% 0% no-repeat padding-box;
  }

  .file-close svg {
    color: #adb5bd;
  }
}

.error-msg {
  color: #EF2E2E;
  top: 4rem;
}

.alert-un {
  background-color: #adb5bd !important;
  border: 1px solid #adb5bd;
}

.list-style li {
  list-style: none;
}

/*.small {
  font-size: 0.875rem;
  padding: 0;
}

// .medium {
//   font-size: 1rem;
//   padding: 0px;
// }

.large {
  font-size: 1.25rem;
  padding: 0;
}*/

// ==============================================================
.square-tags {
  border-radius: .25rem;
}

.rounded-tags {
  border-radius: 20px;
}

.tags {
  font-size: small;
  padding: 1px 8px 4px 8px;
  position: relative;
}

.tags-body {
  padding-right: 20px;
}

.tags rds-icon {
  position: absolute;
  right: 8px;
}

.tags rds-icon svg {
  width: 8px;
  height: auto;
}


// Scroll Type 
.rds-tags {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 5px;
}

.scroll-type {
  width: 100%;
  max-height: 36.5px;
  overflow-y: scroll;
}

// colors

svg {
  fill: none;
  // stroke: $gray-300;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  left: 43px;
  width: 20px;
  height: 20px;
  /*  margin-top: -10px;
  margin-left: -10px;*/
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

// Navbar CSS
.smallSize {
  font-size: 0.875rem * 0.875 !important;
}

.mediumSize {
  font-size: 0.875rem !important;
}

.largeSize {
  font-size: 0.875rem * 1.25 !important;
}

.alert-sm {
  font-size: 0.875rem;
}

.alert-md {
  font-size: 1rem;
}

.alert-lg {
  font-size: 1.125rem;
}

.img-avatar-left {
  border-radius: 50vh;
  width: 180px;
  z-index: 9;
  display: block;
  margin-left: 20px;
  margin-right: auto;
  width: 28%;
  margin-top: -130px;
  border: 3px solid #fff;
}

.img-avatar {
  border-radius: 50vh;
  width: 180px;
  z-index: 9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  margin-top: -130px;
  border: 3px solid #fff;
}

.rounded-avatar-center .profile-image {
  margin-left: 85px;
}

.breadcrumb-navlink {
  color: black;
  display: inline;
}


.mobile-btn{
  display: none;
}
.desktop-btn{
  display: block;
}

@media (max-width: 767px){
  .mobile-btn{
      display: block;
  }
  .desktop-btn{
      display: none;
  }
}


// updated css for avatar card

.avatar-pic{
  bottom: -20px;
  left: 10px;
}
.avatar-pic2{
  bottom: 25px;
}

#sidebar {
  display: block !important;
}
.sidenav-footer {
  left: 10px;
}
a {
  text-decoration: none;
}
html #sidebar {
  background-color: #f5f5fa;
  border-right-color: #e9ecef;
}
html #sidebar ul li a {
  color: #6c757d;
}
#sidebar > ul {
  height: calc(100vh - 158px) !important;
  overflow-y: auto;
}
#sidebar ul li {
  border-top-color: #fff;
}
html #sidebar ul li a.active {
  color: #212529;
}
html #sidebar ul li a {
  color: #6c757d;
  border-left-color: transparent;
}

#sidebar ul li a {
  height: 35px;
  font-size: .875rem;
}
html #sidebar ul li a.active svg path.icon {
  stroke: #7e2eef;
}
html #sidebar ul li a.active svg line.icon {
  stroke: #7e2eef;
}
html #sidebar ul li a.active svg polyline.icon {
  stroke: #7e2eef;
}
html #sidebar ul li a.active svg rect.icon {
  stroke: #7e2eef;
}
.bd-links .child::after {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e ");
  padding-left: 20px;
}
/* nav tabs */
/*tabs custom properties*/
.rds-tab-2.nav-tabs {
  .nav-link.active {
    border-bottom: 3px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    min-height: 2.8rem;
  }
}

.nav-tabs {
  .nav-link {
    min-width: 108px;
    text-align: center;
    border: 0;
  }

  .nav-link.active {
    border: 1px solid #f2f2f2;
    border-top: 3px solid;
  }
}

.nav-pills {
  .nav-link.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

  }
}

.nav-tabs .nav-link i {
  margin-right: 0.3125rem;
}

.nav-tabs.vertical-tab {
  .nav-item {
    padding-left: 0px;

    .nav-link {
      border: 0px;
      text-align: left;
      padding-left: 16px;
      font-weight: $font-weight-bold;

      i {
        margin-left: -24px;
        margin-right: 10px;
      }
    }
  }
}

.nav-tabs .nav-item {
  outline: none;
}


/*ends nav tabs*/

// .sb-show-main {
//   background-color: #F8F8F8;
// }

body.light-theme{
  background-color: #F8F8F8;  
}

body.dark-theme{
  background-color: #333333;
  color:#fff;
  .accordion-button {
    background: #32343B;
    color: #fff;
  }
  .accordion-header {
    background: #7E2EEf;
    border-color: #7e2eef;
    border: none;
  }
  #sidebar {
    background-color: #333333;
    border-right-color: #e9ecef;
  }
  
  #sidebar ul li a.active{
    color:#fff;
   font-weight: 400;
  }
  #sidebar ul li a {
    color: #fff;
    border-left-color: transparent;
    font-weight: 200;
  }
  .bd-links .child::after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e ");
    padding-left: 20px;
  }
 
//   .accordion-item:last-of-type {
//     border-bottom-right-radius:0.25rem;
//     border-bottom-left-radius:0.25rem;
//   }
//   .accordion-button:after {
//     position: absolute;
//     right:-2.875rem;
//     background-position:0.938rem 1.25rem;
//     background-image: url("data:image/svg+xml,svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' path d='M19413.9-9696l7 7 7-7' transform='translate-19412.486 9697.414' fill='none' stroke='fff' stroke-linecap='round' stroke-width='2'/ec/svge)";
//     background-size:1.1375rem;
// }

}

// css for table
.table>thead {
  font-size: .875rem;
  text-transform: capitalize;

.accordion-button:focus{
    box-shadow:none;
}


.toast-primary {
  --bs-alert-color: #084298;
  --bs-alert-bg: #cfe2ff;
  --bs-alert-border-color: #b6d4fe;
}

.toast-secondary {
  --bs-alert-color: #41464b;
  --bs-alert-bg: #e2e3e5;
  --bs-alert-border-color: #d3d6d8;
}

.toast-success {
  --bs-alert-color: #0f5132;
  --bs-alert-bg: #d1e7dd;
  --bs-alert-border-color: #badbcc;
}

.toast-danger {
  --bs-alert-color: #842029;
  --bs-alert-bg: #f8d7da;
  --bs-alert-border-color: #f5c2c7;
}

.toast-warning {
  --bs-alert-color: #664d03;
  --bs-alert-bg: #fff3cd;
  --bs-alert-border-color: #ffecb5;
}

.toast-info {
  --bs-alert-color: #055160;
  --bs-alert-bg: #cff4fc;
  --bs-alert-border-color: #b6effb;
}

.toast-light {
  --bs-alert-color: #636464;
  --bs-alert-bg: #fefefe;
  --bs-alert-border-color: #fdfdfe;
}

.toast-dark {
  --bs-alert-color: #141619;
  --bs-alert-bg: #d3d3d4;
  --bs-alert-border-color: #bcbebf;
}
}
.tag-primary {
  background-color: #e5d5fc;
  border-color: #d8c0fa;
  color: #6525bf;
}
.tag-success {
  background-color: #d5fcde;
  border-color: #c0facd;
  color: #25bf47;
}

.tag-info {
  background-color: #d8fcfa;
  border-color: #c5fbf8;
  color: #32c1ba;
}
 .tag-danger {
  background-color: #fcd5d5;
  border-color: #fac0c0;
  color: #bf2525;
}

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/_utilities";



  $theme-colors: ("primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark ) !default;
  $min-contrast-ratio: 4.5 !default;
  $input-focus-border-color: tint-color($primary, 50%) !default;
  $body-bg: white;
  $input-bg: $body-bg !default;

  $border-color: $gray-100;

  $btn-close-width: 1em !default;
  $btn-close-color: $gray-100 !default;
  $btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !default;

  /*accordion color variables*/
  $accordion-bg: $primary;
  $accordion-button-bg: $light;

  /*badge mixins color variables*/
  $badge-bg-scale: -80%;
  $badge-border-scale: -70%;
  $badge-color-scale: -80%;

  /*counter mixins color variables*/
  $counter-bg-scale: -80%;
  $counter-border-scale: -70%;
  $counter-color-scale: -80%;

  /*alert mixins color variables*/
  $alert-color-scale: 40% !default;
  $alert-bg-scale: -80% !default;
  $alert-border-scale: -70% !default;

  /*icon mixins color variable*/
  $icon-color-scale: 40% !default;

  /*tag mixins color variables*/

  $tag-bg-scale: -80% !default;
  $tag-border-scale: -70% !default;
  $tag-color-scale: -80% !default;

  /*avatar mixins color variables*/
  $avatar-bg-scale: -0%;
  $avatar-border-scale: -70%;
  $avatar-color-scale: -100%;

  /*Breadcrumb color variables*/
  $breadcrumb-active-color: $gray-500;
  $breadcrumb-divider-color: $primary;

  $border-color: $gray-300 !default;

  /*carousal color variables*/
  $carousel-caption-color: $light !default;

  /*table color variables*/
  $table-border-color: $gray-200;
  $table-bg-scale: 80% !default;
  $table-header-bg: $primary !default;
  $table-header-color: $dark-500 !default;

  /*tabs color variables*/
  $nav-tabs-border-color: $primary !default;
  $link-color: $primary !default;
  $nav-link-color: $link-color !default;
  $nav-tabs-link-active-color: $black !default;
  $nav-pills-link-active-color: $white !default;
  $nav-tabs-thick-border-color: $primary !default;

  /*list-group variables*/
  $list-group-active-color: $primary;

  /*tree variable*/
  $verticle-border-color: $gray-500;
  $horizontal-border-color: $gray-500;
  $check-verticle-border-color: $primary;
  $check-horizontal-border-color: $primary;

  /*Tenant Variables*/
  $edition-background-color: $gray-800 !default;
  $standard-background-color: $primary !default;
  $professional-background-color: $warning !default;
  $premium-background-color: $danger !default;
  $basic-background-color: $success !default;
  $status-background-color: $gray-200 !default;
  $status-active-background-color: $gray-100 !default;

  /*Member-activity Variables*/
  $high-rate-color: $success;
  $mid-rate-color: $danger;
  $low-rate-color: $warning;

  /*Pagination Variables*/
  $pagination-border-color: $gray-500;
  $pagination-item-color: $gray-600;
  $pagination-item-bg: $light;
  $pagination-item-bg-hover: $gray-300;
  $pagination-item-last-bg: $white;
  $page-link-color: $gray-800;
  $pagination-bg-color: $gray-100;
  $page-link-bg-hover: $gray-800;
  $pagination-bg-hover-color: $gray-300;
  $page-link-active-color: $gray-600;
  $pagination-item-bg-active: $gray-800;

  /*dropdown Variales */
  $dropdown-border-bottom: $gray-500 !default;
  $dropdown-bg-color: $gray-100 !default;
  $dropdown-border-bottom-hover: $gray-100;


  /*file uploader color variables*/
  $file-color: $primary;
  $file-background-color: $gray-100;
  $file-border-color: $primary;

  /*Search color variables*/
  $search-background-color: $gray-200;
  $search-color: $dark;
  $search-border-color: $primary;
  $search-control-feedback-color: $gray-500;

  /*carousel variables */
  //$carousel-color: $body-bg-dark;
  // $nav-tabs-thick-border-color: $primary !default;
  /*top nav bar variables*/
  $nav-background-color: $white !default;

  /*input search properrties*/
  $form-group-bg-color: $gray-200 !default;
  $form-group-color: $dark !default;
  $form-bg-focus: $light !default;
  $form-border: $primary !default;
  $form-feedback-color: $gray-200 !default;

  /*sidebar color styles*/
  $nav-ul-bg-color: $light;
  $nav-li-border: $white;
  $nav-a-color: $gray-600;
  $nav-a-color-hover: $gray-900;
  $nav-active-color: $gray-900;
  $sidbar-border-right-color: $gray-200;

  /*edition Variables*/
  $edition-background-color: $gray-800 !default;
  $standard-background-color: $primary !default;
  $professional-background-color: $warning !default;
  $premium-background-color: $danger !default;
  $basic-background-color: $success !default;
  $status-background-color: $gray-200 !default;
  $status-active-background-color: $gray-100 !default;

  /*Member-activity Variables*/
  $high-rate-color: $success !default;
  $mid-rate-color: $danger !default;
  $low-rate-color: $warning !default;

  /*tree checkbox lines*/
  $check-verticle-border-color: $primary !default;
  $check-horizotal-border-color: $primary !default;
  $horizontal-border-color: $gray-100 !default;
  $verticle-border-color: $gray-100 !default;

  /* offcanvas-header */
  $offcanvas-border-color: $light-300 !default;

  $btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

  $btn-hover-bg-shade-amount: 15% !default;
  $btn-hover-bg-tint-amount: 15% !default;
  $btn-hover-border-shade-amount: 20% !default;
  $btn-hover-border-tint-amount: 10% !default;
  $btn-active-bg-shade-amount: 20% !default;
  $btn-active-bg-tint-amount: 20% !default;
  $btn-active-border-shade-amount: 25% !default;
  $btn-active-border-tint-amount: 10% !default;

  $enable-caret: true !default;
  // scss-docs-end btn-variables
  //subscription-card
  $subcription-bg-blue: #005FA4;
  $subcription-bg-purple: #660064;
  $subcription-bg-orangered: #F76161;
  $subcription-bg-orange: #F58220;
  $subcription-bg-green: #00A443;
  $body-wrapper-bg: $dark-900;

  $body-wrapper-bg: #F5F5FA;
  $topnav-link-color: $gray-800;
  $card-bg-color: #fff;
  $card-border-color: $gray-200 !default;
/*  --bs-body-color: black;*/
  $datepicker-bg: $white !default;
  $datepicker-head: $white !default;
  $notification-header-bg: $light-700 !default;
  $notification-sub-text: $gray-400 !default;
  $input-group-addon-bg: $input-bg;

  $form-select-bg1: $input-bg !default;

  $form-select-border-color1: $gray-400 !default;
  $shimmerbg: $light-700 !default;

  .ngx-shimmer {
    background-color: $light-600;
    background-image: linear-gradient(to right,$light-800 0,$primary 20%,$light-800 40%,$light-800 100%);
    opacity: 0.1;
  }

  .navbar {
    background-color: white;
  }

  .bs-datepicker-head {
    background-color: $datepicker-head;
  }

  .dropdown-divider {
    margin: 0rem 0;
    border-bottom: 1px solid $gray-200;
  }


  .date-picker .date-picker-c {
    border: 1px solid $gray-200;
  }

  .dropdown-item.active {
    background-color: tint-color($primary, 90%);
    color: $primary;

    span.hr-line {
      color: $primary;
      background-color: $primary;
    }
  }

  .bs-datepicker button:active,
  .bs-datepicker-body table td span.selected,
  .bs-datepicker-body table td.selected span,
  .bs-datepicker-body table td span[class*="select-"]:after,
  .bs-datepicker-body table td[class*="select-"] span:after,
  .bs-datepicker-body table td.active-week span:hover {
    background-color: $primary;
    color: $white;
  }

  .bs-datepicker-body table td.week span {
    color: $gray-300;
  }

  .bs-datepicker-body {

    .days.weeks {

      span.in-range:not(.select-start):before {
        background: tint-color($primary, 50%);
      }
    }

    table {

      th {
        color: #999999;
      }

      td {
        color: #212529;


        .is-highlighted:not(.disabled):not(.selected) span,
        span.is-highlighted:not(.disabled):not(.selected) {
          background-color: #5c82e3;
          color: #fff;
        }

        .custom-today-class {
          background-color: $primary;
          color: #fff;
        }
      }
    }

    .months span.selected {
      background-color: #ed585f;
      color: #fff;
    }

    .years span.selected {
      background-color: #ed585f;
      color: #fff;
    }
  }


  .form-select[size]:not([size="1"]) {
    padding-right: 1.8rem;
    background-position: right 0.15rem center;
  }

  .dropdownarrow.form-select[size]:not([size="1"])::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  }

  .profileMenu {
    background-color: $light;
  }



  .login {
    color: #212529;
  }

  .rds-scrollable-wrapper {
    background-color: $body-wrapper-bg;
  }

  svg {
    fill: none;
    stroke: $gray-300;
  }

  #sidebar {
    border-right-color: $gray-100;

    ul {
      a.active {
        i {
          color: $primary;
        }
      }
    }
  }

  .table-hover > tbody > tr:hover > * {
    background: $table-hover-bg;
  }

  .form-group.has-search {

    .form-control {
      background-color: $gray-200;

      :focus {
        background-color: $light;
        border-color: $primary;
      }
    }
  }
  // .pagination {
  //   .page-item.active {
  //     a.page-link {
  //       border-color: $gray-100;
  //       background: $gray-700;
  //       color: $gray-800;
  //     }
  //   }
  // }

  .aside {
    background-color: $body-wrapper-bg;
    border-right-color: $sidbar-border-right-color;
  }

  .navbar {
    .nav-link {
      color: $topnav-link-color;
    }
  }

  #sidebar {
    background-color: $body-wrapper-bg;
  }

  .upload-icon {
    background-color: $white;
  }

  .btn-close {
    background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat; // include transparent for button elements
  }

  .wrapper {
    background-color: $body-wrapper-bg;
  }

  .accordion-button {
    background: $accordion-button-bg;
  }

  .accordion-header {
    background: $accordion-bg;
    border-color: $primary;
  }

  .outline {

    .accordion-button {
      border-right-color: $primary;

      &::after {
      }
    }

    .accordion-header {
      background: $light;
      //border-color:$primary;
    }
  }
  /*avatar color variables*/
  @mixin avatar-variant($background, $border, $color) {
    @include gradient-bg($background);
    border-color: $border;
  }

  @each $state, $value in $theme-colors {
    $avatar-background: shift-color($value, $avatar-bg-scale);
    $avatar-border: shift-color($value, $avatar-border-scale);
    $avatar-color: shift-color($value, $avatar-color-scale);

    @if (contrast-ratio($avatar-background, $avatar-color) < $min-contrast-ratio) {
      $avatar-color: mix($value, color-contrast($avatar-background), abs($avatar-color-scale));
    }

    .avatar-#{$state} {
      @include avatar-variant($avatar-background, $avatar-border, $avatar-color);
    }
  }
  /*badge color variables*/
  .badge {
    padding: $badge-padding-y $badge-padding-x;
    @include font-size($badge-font-size);
  }

  @mixin badge-variant($background, $border, $color) {
    @include gradient-bg($background);
    border-color: $border;
    color: $color;
  }

  @each $state, $value in $theme-colors {
    $badge-background: shift-color($value, $badge-bg-scale);
    $badge-border: shift-color($value, $badge-border-scale);
    $badge-color: shift-color($value, $badge-color-scale);

    @if (contrast-ratio($badge-background, $badge-color) < $min-contrast-ratio) {
      $badge-color: mix($value, color-contrast($badge-background), abs($badge-color-scale));
    }

    .badge-#{$state} {
      @include badge-variant($badge-background, $badge-border, $badge-color);
    }
  }
  /*counter color variables*/


  @mixin counter-variant($background, $border, $color) {
    @include gradient-bg($background);
    border-color: $border;
    color: $color;
  }

  @each $state, $value in $theme-colors {
    $counter-background: shift-color($value, $counter-bg-scale);
    $counter-border: shift-color($value, $counter-border-scale);
    $counter-color: shift-color($value, $counter-color-scale);

    @if (contrast-ratio($counter-background, $counter-color) < $min-contrast-ratio) {
      $counter-color: mix($value, color-contrast($counter-background), abs($counter-color-scale));
    }

    .counter-#{$state} {
      @include badge-variant($counter-background, $counter-border, $counter-color);
    }
  }
  /*breadcrumb color variables*/
  .withDivider {
    .breadcrumb-item {
      &::before {
        color: $breadcrumb-divider-color;
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
  }


  .breadcrumb-item {
    + .breadcrumb-item {

      &::before {
        color: $breadcrumb-divider-color;
      }
    }
  }
  /*table color variables*/
  .table-hover {
    > tbody > tr > td {
      color: $gray-500;
    }
  }

  .table {
    border-color: $table-border-color;

    tbody {
      tr {
        td {
          color: $gray-600;
        }

        td:first-child {
          color: $gray-900;
        }
      }
    }

    > thead {
      background-color: $table-header-bg;


      tr {
        th {
          color: $gray-900;
          font-weight: 500;
          padding: 1rem 0.5rem;
        }
      }
    }
  }

  .table-bordered {
    thead {
      tr {
        border-width: 0 0 $border-width 0;
      }
    }
  }

  .table-bordered {
    > :not(caption) > * {
      border-width: $table-border-width 0;
      // stylelint-disable-next-line selector-max-universal
      > * {
        border-width: 0 0;
      }
    }
  }
  /*edition color variables*/
  .edition-grid {
    .edition {
      background: $edition-background-color;

      &.Standard {
        background-color: $standard-background-color;
      }

      &.Professional {
        background-color: $professional-background-color;
      }

      &.Premium {
        background-color: $premium-background-color;
      }

      &.Basic {
        background-color: $basic-background-color;
      }
    }
  }

  .status {
    // background-color: rgba(230, 228, 228, 0.925);
    background-color: $status-background-color;

    &.Active {
      // background-color: rgb(198, 240, 198);
      background-color: $status-active-background-color;
    }
  }
  /*Member-activity*/
  .HighRate {
    color: $high-rate-color;
  }

  .MidRate {
    color: $mid-rate-color;
  }

  .LowRate {
    color: $low-rate-color;
  }
  /* Pagination Styles */
  .pagination.rounded {

    .page-item {
      // &:nth-child(-n + 2) .page-link {
      //   background: $pagination-item-bg;
      //   color: $pagination-item-color;
      // }
      // &:nth-last-child(-n + 2) .page-link {
      //   background: $pagination-item-last-bg;
      // }
    }

    .page-link {
      color: $page-link-color;
      background-color: $pagination-bg-color;

      &:hover {
        color: $page-link-bg-hover;
        background-color: $pagination-bg-hover-color;
      }
    }

    .active .page-link {
      color: $page-link-active-color;
      background-color: $pagination-bg-hover-color;
    }
  }

  .pagination {

    .page-item {
      border-color: $gray-100;
      // &:nth-child(-n + 2) .page-link {
      //   background: $pagination-item-bg;
      //   color: $pagination-item-color;
      // }

      &:nth-last-child(-n + 2) .page-link {
        background: $pagination-item-bg;
        color: $pagination-item-color;
      }
    }

    .page-link {
      color: $pagination-item-color;
      background-color: $pagination-bg-color;
      // border: 1px solid $pagination-bg-color;

      &:hover {
        color: $pagination-item-color;
        background-color: $pagination-bg-hover-color;
      }
    }

    .active .page-link {
      color: $page-link-active-color;
      background-color: $pagination-bg-hover-color;
    }
  }
  /*Dropdown*/

  .dropdown-item {
    border-bottom-color: $dropdown-border-bottom;

    &:hover {
      // background-color: $dropdown-bg-color;
      border-bottom-color: $dropdown-border-bottom-hover;
    }

    &:active {
      background-color: var(--bs-dropdown-link-hover-bg);
      color: var(--bs-dropdown-link-hover-color);
    }
  }
  /* list-group color variables*/
  .list-group-item {
    &.active {
      color: $list-group-active-color;

      :hover {
        color: $list-group-active-color;
      }
    }
  }
  /*Tabs color variables*/
  .nav-tabs {

    .nav-link {
      color: $nav-link-color;
    }

    .nav-link .active {
      border-top-color: $nav-tabs-border-color;
      color: $nav-tabs-link-active-color;
    }

    .rds-tab-2 .nav-tabs {
      .nav-link .active {
        border-top: transparent;
        border: transparent;
        border-bottom-color: $nav-tabs-border-color;
        color: $nav-tabs-link-active-color;
      }
    }
  }

  .nav.nav-pill {
    .nav-link.active {
      border-top: $nav-tabs-border-color;
    }
  }

  .nav-tabs.nav-pills {
    .nav-link.active {
      color: $white;
      border-bottom-color: $nav-tabs-border-color;
    }
  }

  .nav-tabs {
    .nav-link {
      color: $gray-700;
    }

    .nav-link.active {
      color: $link-color;
    }
  }

  .nav-tabs.vertical-tab {
    .nav-item {
      .nav-link {
        svg {
          width: 22px;
          height: 22px;
          fill: none;
          stroke: $gray-700;

          polyline.icon {
            stroke: $gray-700;
          }

          polygon.icon {
            stroke: $gray-700;
          }


          ellipse.icon {
            stroke: $gray-700;
          }

          path.icon {
            stroke: $gray-700;
          }

          line.icon {
            stroke: $gray-700;
          }

          rect.icon {
            stroke: $gray-700;
          }

          circle.icon {
            stroke: $gray-700;
          }
        }
      }

      .nav-link.active {
        svg {
          width: 22px;
          height: 22px;
          fill: none;
          stroke: $primary;

          polyline.icon {
            stroke: $primary;
          }

          polygon.icon {
            stroke: $primary;
          }

          ellipse.icon {
            stroke: $primary;
          }

          path.icon {
            stroke: $primary;
          }

          line.icon {
            stroke: $primary;
          }

          rect.icon {
            stroke: $primary;
          }

          circle.icon {
            stroke: $primary;
          }
        }
      }
    }
  }
  /* File style */
  .files {
    color: $file-color;
    background: $file-background-color;
    border-color: $file-border-color;

    :hover {
      background: $gray-200;
    }

    :focus {
      border-color: $gray-200;
      background-color: $gray-200;
    }

    .alert-col {
      background: transparent linear-gradient(90deg, #dcdadf 0%, #ff606048 100%) 0% 0% no-repeat padding-box;
    }

    .file-close svg {
      color: $gray-500;
    }
  }

  .error-msg {
    color: $danger;
  }

  .alert-un {
    background-color: $gray-100;
    border-color: $gray-500;
  }
  /*card color styles*/

  .card {
    background-color: $card-bg-color;
    border-color: $card-border-color;
    // .card-header {
    //   background-color: transparent;
    // }
  }


  .bg-gradient-primary {
    background: transparent linear-gradient(90deg, #56B2AA 0%, #0285C9 100%) 0% 0% no-repeat padding-box;
  }
  /*top nav bar variables*/
  /*sidebar color styles*/
  #sidebar {
    ul {
      //background: $nav-ul-bg-color;

      li {
        border-top-color: $nav-li-border;

        :last-child {
          border-bottom-color: $nav-li-border;
        }

        a {
          color: $nav-a-color;
          border-left-color: transparent;

          svg {
            width: 22px;
            height: 22px;
            fill: none;
            stroke: $gray-700;

            polyline.icon {
              stroke: $gray-700;
            }

            polygon.icon {
              stroke: $gray-700;
            }

            ellipse.icon {
              stroke: $gray-700;
            }

            path.icon {
              stroke: $gray-700;
            }

            line.icon {
              stroke: $gray-700;
            }

            rect.icon {
              stroke: $gray-700;
            }

            circle.icon {
              stroke: $gray-700;
            }

            ellipse.icon {
              stroke: $gray-700;
            }
          }
        }

        a.active {
          color: $nav-active-color;

          svg {
            width: 22px;
            height: 22px;
            fill: none;
            stroke: $primary;

            polyline.icon {
              stroke: $primary;
            }

            polygon.icon {
              stroke: $primary;
            }

            ellipse.icon {
              stroke: $primary;
            }

            path.icon {
              stroke: $primary;
            }

            line.icon {
              stroke: $primary;
            }

            rect.icon {
              stroke: $primary;
            }

            circle.icon {
              stroke: $primary;
            }

            ellipse.icon {
              stroke: $primary;
            }
          }
        }
      }

      ul {
        li {
          a {
            :hover {
              /*                color: $nav-a-color-hover !important;
*/
            }
          }
        }
      }

      li.active {
        ul {

          li {
            a {
              color: #e6e6e6;
              border-left-color: transparent
            }
          }

          ul {
            li {
              a {
                color: $gray-400;
              }
            }
          }
        }
        // a {
        //   background: #1e1e1e;
        //   border-left-color: #FC5404
        // }
      }
    }
  }

  #sidebar {
    background-color: $body-wrapper-bg;
    border-right-color: $sidbar-border-right-color;

    ul {

      li.active {
        //  background: #1e1e1e;
      }
    }
  }
  /*carousel style*/

  .carousel-indicators {
    [data-bs-target] {
      background-color: #232933;
    }

    .active {
      border-color: #232933;
    }
  }
  /*input search properrties*/

  $form-group-bg-color: $gray-200;
  $form-group-color: $dark;
  $form-bg-focus: $light;
  $form-border: $primary;
  $form-feedback-color: $gray-700;
  /*search Style */

  .form-group.has-search {
    .form-control {
      background-color: $input-bg;

      :focus {
        color: $form-group-color;
        background-color: $form-bg-focus;
        border-color: $form-border;
      }
    }

    .form-control-feedback {
      color: $form-feedback-color;
    }
  }
  /*datatable color variables */
  @mixin table-variant($state, $background, $border, $color) {
    color: shade-color($color, 20%);
    @include gradient-bg($background);
    border-color: $border;

    .table-#{$state} {
      $table-header-bg: mix($color, $background);
    }
  }
  /*  @mixin alert-variant($background, $border, $color) {
    color: $color;
    @include gradient-bg($background);
    border-color: $border;

    .alert-link {
      color: shade-color($color, 20%);
    }
  }*/

  .table {
    > :not(caption) > * > * {
      background-color: inherit;
    }

    > thead {
      background-color: var(--bs-table-bg);
    }

    > tbody {
      background-color: $white;
    }
  }

  .HighRate {
    color: $high-rate-color;
  }

  .MidRate {
    color: $mid-rate-color;
  }

  .LowRate {
    color: $low-rate-color;
  }

  .footer-buttons {
    background-color: $white;
  }

  .dottedstyle {
    .vertical-dotted-line {
      border-right-color: $verticle-border-color;
    }

    .horizontal-dotted-line {
      border-bottom-color: $horizontal-border-color;
    }
  }

  .checkstyle {
    .vertical-dotted-line {
      border-right: $check-verticle-border-color;
    }

    .horizontal-dotted-line {
      border-right: $check-horizotal-border-color;
    }
  }
  /*tags color variables*/
  @mixin tag-variant($background, $border, $color) {
    border-color: $border;
    color: $color;
  }


  @each $state, $value in $theme-colors {
    $tag-background: shift-color($value, $tag-bg-scale);
    $tag-border: shift-color($value, $tag-border-scale);
    $tag-color: shift-color($value, $tag-color-scale);

    @if (contrast-ratio($tag-background, $tag-color) < $min-contrast-ratio) {
      $tag-color: mix($value, color-contrast($tag-background), abs($tag-color-scale));
    }

    .tag-#{$state} {
      @include tag-variant($tag-background, $tag-border, $tag-color);
    }
  }
  /*buttons variabes*/
  /*.form-select {
    background-color: $form-select-bg;
    border-color: $form-select-bg;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")
  }*/

  .form-control {
    &:focus {
      border-color: $input-focus-border-color;
    }
  }

  .form-select {
    &:focus {
      border-color: $input-focus-border-color;
    }
  }

  .text-muted {
    color: $gray-500;
  }

  .offcanvas-header {
    border-bottom-color: $offcanvas-border-color;
  }
  //subscription-page
  .subcription-bg-blue {
    background-color: $subcription-bg-blue;
  }

  .subcription-bg-purple {
    background-color: $subcription-bg-purple;
  }

  .subcription-bg-green {
    background-color: $subcription-bg-green;
  }

  .subcription-bg-orangered {
    background-color: $subcription-bg-orangered;
  }

  .subcription-bg-orange {
    background-color: $subcription-bg-orange;
  }


  @mixin button-variant($background, $border, $color: color-contrast($background), $hover-background: if($color ==$color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)), $hover-border: if($color ==$color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)), $hover-color: color-contrast($hover-background), $active-background: if($color ==$color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)), $active-border: if($color ==$color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)), $active-color: color-contrast($active-background), $disabled-background: $background, $disabled-border: $border, $disabled-color: color-contrast($disabled-background)) {
  }

  @each $color, $value in $theme-colors {
    .btn-#{$color} {
      @include button-variant($value, $value);

      svg {
        width: 22px;
        height: 22px;
        fill: none;
        stroke: $color;

        polygon.icon {
          stroke: $color;
        }

        polyline.icon {
          stroke: $color;
        }

        ellipse.icon {
          stroke: $color;
        }

        path.icon {
          stroke: $color;
        }

        line.icon {
          stroke: $color;
        }

        rect.icon {
          stroke: $color;
        }

        circle.icon {
          stroke: $color;
        }
      }
    }
  }

  @mixin button-outline-variant($color, $color-hover: color-contrast($color), $active-background: $color, $active-border: $color, $active-color: color-contrast($active-background)) {
    background-color: $white;
  }


  @each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @include button-outline-variant($value);

      svg {
        width: 22px;
        height: 22px;
        fill: none;
        stroke: $color;

        polygon.icon {
          stroke: $color;
        }

        polyline.icon {
          stroke: $color;
        }

        ellipse.icon {
          stroke: $color;
        }

        path.icon {
          stroke: $color;
        }

        line.icon {
          stroke: $color;
        }

        rect.icon {
          stroke: $color;
        }

        circle.icon {
          stroke: $color;
        }
      }
    }
  }

  @mixin alert-variant($background, $border, $color) {
    color: $color;
  }

  @each $state, $value in $theme-colors {
    $alert-background: shift-color($value, $alert-bg-scale);
    $alert-border: shift-color($value, $alert-border-scale);
    $alert-color: shift-color($value, $alert-color-scale);

    @if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
      $alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
    }

    .alert {
      svg {
        width: 22px;
        height: 22px;
        fill: none;
        stroke: $alert-color;

        polyline.icon {
          stroke: $alert-color;
        }

        polygon.icon {
          stroke: $alert-color;
        }

        ellipse.icon {
          stroke: $alert-color;
        }

        path.icon {
          stroke: $alert-color;
        }

        line.icon {
          stroke: $alert-color;
        }

        rect.icon {
          stroke: $alert-color;
        }

        circle.icon {
          stroke: $alert-color;
        }
      }
    }
  }

  .bs-datepicker {
    background: $white;
  }

  .tab-content.profileMenuContent {
    background-color: $white;
  }

  .offcanvas-bg-color {
    //background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  }

  .theme-green .bs-datepicker-body table td span.selected {
    background-color: $primary;
  }

  html #sidebar ul li a.active small {
    color: #212529;
  }

  .theam-cards .selected {
    background: #DDE4F7;
  }

  .rds-fileuploader label.file-upload > div {
    color: #9BACBC;
  }

  .rds-fileuploader label.file-upload:active,
  .rds-fileuploader label.file-upload:hover {
    background: #D7DFE8;
  }

  .rds-fileuploader label.file-upload {
    border-color: #9BACBC;
    background: #EAEFF5;
    color: #3D4D60;
  }

  .bd-links .child::after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e ");
    //content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='$current' stroke='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }

  @mixin icon-variant($color) {
    color: $color;
  }

  @each $state, $value in $theme-colors {
    $icon-color: shift-color($value, $icon-color-scale);

    .icon {
      svg {
        width: 22px;
        height: 22px;
        fill: none;
        stroke: $icon-color;

        polyline.icon {
          stroke: $icon-color;
        }

        polygon.icon {
          stroke: $icon-color;
        }

        ellipse.icon {
          stroke: $icon-color;
        }

        path.icon {
          stroke: $icon-color;
        }

        line.icon {
          stroke: $icon-color;
        }

        rect.icon {
          stroke: $icon-color;
        }

        circle.icon {
          stroke: $icon-color;
        }
      }
    }
  }


  .card-header {
    background-color: transparent;
  }


  .card-footer {
    background-color: $white;
    border-top-color: $gray-300;
  }

  .notification {
    .card-header {
      background-color: $notification-header-bg;
    }

    .card-body {


      .notification-border-bottom {
        border-bottom: 1px solid $notification-header-bg;
      }

      .notification-sub-text {
        color: $notification-sub-text
      }
    }

    .card-footer {
    }
  }

  .action-buttons {
    background-color: $white;
  }

  .form-select {
    background-color: $form-select-bg1;
    border-color: $form-select-border-color1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
  }


a {
  text-decoration: none;
  color: $primary;
}
