
<form #scopeBasicsForm="ngForm">
  <div class="row pt-3">
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <rds-input [inputType]="'text'" [label]="translate.instant('Name')" #scope_name="ngModel"
          [(ngModel)]="scopeBasics.name" [labelPosition]="'top'" name="scopeName" [isRequired]=true required [placeholder]="translate.instant('Enter Name')">
        </rds-input>
        <div class="form-control-feedback" *ngIf="scope_name.errors && (scope_name.dirty || scope_name.touched)">
          <span class="text-danger" *ngIf="scope_name.errors.required">{{"Name is required"|translate}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <rds-input [inputType]="'text'" [label]="translate.instant('Display Name')" #displayname="ngModel"
          [(ngModel)]="scopeBasics.displayName" name="displayName" [labelPosition]="'top'" [isRequired]=true  required
          [placeholder]="translate.instant('Enter Display Name')">
        </rds-input>
        <div class="form-control-feedback" *ngIf="displayname.errors && (displayname.dirty || displayname.touched)">
          <span class="text-danger" *ngIf="displayname.errors.required">{{"Display Name is required"|translate}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <div class="form-group">
        <rds-textarea #description="ngModel" [placeholderText]="translate.instant('Enter Description')"
          [label]="translate.instant('Description')" [value]="scopeBasics.description"
          [(ngModel)]="scopeBasics.description" name="desc" required>
        </rds-textarea>
        <div class="form-control-feedback" *ngIf="description.errors && (description.dirty || description.touched)">
          <span class="text-danger" *ngIf="description.errors.required">{{"Description is required"|translate}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <div class="form-group">
        <rds-label [label]="translate.instant('Other')"></rds-label>
        <div class="mb-2 pt-2">
          <rds-checkbox [disabled]="false" [label]="translate.instant('Enables')" [checked]="scopeBasics.enables"
          [(ngModel)]="scopeBasics.enables" name="enables" [withLabel]="true" [switch]="false" [inline]="false"
          [id]="'enables'"></rds-checkbox>
        </div>
        <div class="mb-2">
          <rds-checkbox [disabled]="false" [label]="translate.instant('Required')" [checked]="scopeBasics.required"
          [(ngModel)]="scopeBasics.required" name="chk-required" [withLabel]="true" [switch]="false" [inline]="false"
          [id]="'required'"></rds-checkbox>
        </div>
       <div class="mb-2">
        <rds-checkbox [disabled]="false" [label]="translate.instant('Emphasize')" [checked]="scopeBasics.emphasize"
        [(ngModel)]="scopeBasics.emphasize" name="emphasize" [withLabel]="true" [switch]="false" [inline]="false"
        [id]="'emphasize'"></rds-checkbox>
       </div>
        <div class="mb-2">
          <rds-checkbox [disabled]="false" [label]="translate.instant('Show in Discovery Documents')"
          [checked]="scopeBasics.discoveryDocuments" [(ngModel)]="scopeBasics.discoveryDocuments"
          name="discoveryDocuments" [withLabel]="true" [switch]="false" [inline]="false" [id]="'discoveryDocuments'">
        </rds-checkbox>
        </div>
      </div>
    </div>
  </div>
</form>