.login-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: transparent conic-gradient(from 34deg at 52% 57%, #F0DBF0 0.00%, #EED8F2 4.72%, #DCE7F5 8.62%, #D8EBF5 10.11%, #D7EFF6 11.94%, #D6F0F6 14.29%, #F3F5F6 17.50%, #F3F5F6 63.79%, #D6F1F6 67.18%, #D6F0F6 68.75%, #DDE5F4 73.73%, #E5DBF4 80.11%, #F0DBF0 88.92%, #F0DCF1 100.00%) 0% 0% no-repeat padding-box;
}
