<div class="d-flex text-center justify-content-center sm-block">
    <rds-card  *ngFor="let item of subscriptionData" class="p-2">
        <div header class="bg-primary py-2">
            <rds-label [label]="item.name.toUpperCase()" class="fs-5 text-white"></rds-label>
        </div>
        <div body class="$primary-100 pt-3">
            <rds-icon [name]="item.iconurl" [height]="'100px'" [width]="'92px'" [fill]="false" style="stroke-width: 0.2;"></rds-icon>
            <div class="py-2">
                <h2 class="p-2 pb-0">${{item.price}}</h2>
                <p>{{item.duration}} Days</p>
            </div>
            <div class="d-flex px-3" *ngFor="let item of item.features">
                <rds-icon name="tick_circle" width="12px" height="12px">
                </rds-icon>
                <span class="ps-2">
                    {{item}}
                </span>
            </div>
        </div>
        <div footer>
            <rds-button [tooltipPlacement]="'bottom'" [tooltipTitle]="'Upgrade'" [label]="'Upgrade'" type="button"
                [size]="'small'" [isRounded]="false" [colorVariant]="'primary'">
            </rds-button>
        </div>
    </rds-card>
</div>
<hr>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="mt-3">
            <rds-label [label]="'Billing history'" class="fs-5" [bold]="true"></rds-label>
        </div>
        <div class="mb-3">
            <rds-label [label]="'Check your billing history.'"></rds-label>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <rds-button [tooltipPlacement]="'bottom'" class="float-end mt-3" [tooltipTitle]="'DOWNLOAD ALL'"
            [label]="'DOWNLOAD ALL'" type="button" [size]="'small'" [colorVariant]="'primary'">
        </rds-button>
    </div>
    <div class="col-lg-12 col-md-12">
        <rds-data-table [tableData]="billingData" [pagination]="true" [recordsPerPage]="5"
            (onActionSelection)="onActionSelect($event)" [showNodataSubtitle]="false" [actions]="actions"
            [tableHeaders]="billingHeaders" noDataTitle="Currently you do not have billingadata"></rds-data-table>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="mt-3">
            <rds-label [label]="'Payment method'" class="fs-5" [bold]="true"></rds-label>
        </div>
        <div class="mb-3">
            <rds-label [label]="'Update your billing details and address'"></rds-label>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="mt-3">
            <rds-label [label]="'Contact email'" [bold]="true"></rds-label>
        </div>
        <div class="mb-3">
            <rds-label [label]="'Where should invoices be sent?'"></rds-label>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <rds-radio-button class="mt-3" [switch]="false" [inline]="false" [isInputGroup]="false" [itemList]="radioItem"
            (onClick)="setInvoiceMail($event)"></rds-radio-button>
        <div class="mt-2 m-4">
            <rds-label [label]="emailId"></rds-label>
        </div>
        <rds-radio-button [switch]="false" [inline]="false" [isInputGroup]="false" [itemList]="radioItem1"
            (onClick)="setAlternativeMail($event)"></rds-radio-button>
        <div class="col-md-6 m-3">
            <div class="form-group mb-3">
                <rds-input [inputType]="'text'" [(ngModel)]="alternativeEmail" name="email_id" required
                    [placeholder]="'Enter alternative email'" #email="ngModel">
                </rds-input>
                <!-- <div class="form-control-feedback"
                    *ngIf="email.errors && (email.dirty || email.touched)">
                    <span class="text-danger" *ngIf="email.errors.required">First name is
                        required</span>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- <hr> -->
<!-- <div class="row">
    <div class="col-lg-6">
        <div class="mt-3">
            <rds-label [label]="'Add card details'" [bold]="true"></rds-label>
        </div>
        <div class="mb-3">
            <rds-label [label]="'Select default payment method.'"></rds-label>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-2 card p-4">
            <div class="d-flex">
                <div class="flex-grow-0 d-flex align-items-center">
                    <rds-icon name="plus" width="30" height="30"></rds-icon>

                </div>
                <div class="flex-grow-1 d-flex align-items-center ms-3">
                    Add new payment method
                </div>
            </div>
        </div>
        <rds-comp-card-detail-list [listItems]="cardList"></rds-comp-card-detail-list>
    </div>
</div> -->
<hr>
<div class="col-md-12 mt-5">
    <rds-button [label]="'Cancel'" [colorVariant]="'primary'" [isOutline]="true" [size]="'small'" class="float-end ms-2">
    </rds-button>
    <rds-button [label]="'Save'" [size]="'small'" [colorVariant]="'primary'" class="float-end">
    </rds-button>
</div> 