<form #dynamicEnityForm="ngForm">
  <div class="tab-content px-2 navsm-p-0">
    <div class="form-group mb-3">
      <!-- <rds-select-list [value]="[dynamicEntityData.entityFullName]" ngDefaultControl ngModel name="entityname"
        #entityname="ngModel" [(ngModel)]="dynamicEntityData.entityFullName" [label]="translate.instant(' Entity')"
        [labelPosition]="'top'" [placeholder]="translate.instant('Select Entity')" [isRequired]=true required
        [itemList]="entityNames">
      </rds-select-list> -->

      <rds-dropdownlist [placeholder]="translate.instant('Select Entity')" [borderDropdown]="true" required ngModel  #entityname="ngModel" 
      class="text-dark" [id]="'entity-list'" [(ngModel)]="dynamicEntityData.entityFullName" [listItems]="entityNames"
     [value]="dynamicEntityData.entityFullName" (onSelect)="onEntitySelect($event)" ngDefaultControl name="targetId">
    </rds-dropdownlist>

      <div class="form-control-feedback" *ngIf="entityname.errors&&(entityname.dirty||entityname.touched)">
        <span class="text-danger" *ngIf="entityname.errors.required">{{'Entity Name is required'| translate}}</span>
      </div>
    </div>
    <div class="form-group mb-3">
      <div class="mb-2 mt-4">
        <rds-label label="Parameter"></rds-label>
      </div>
      <rds-dropdownlist [borderDropdown]="true" class="text-dark" [id]="'paramer-dropdowm'"
        [resetFormSubject]="resetFormSubject" size="small" [reset]="resetDropdown" [resetPlaceholder]="placeholderReset"
        [placeholder]="Placeholder" [value]=" " required [multiSelect]="true" [selectAll]="false" [entity]="true"
        [listItems]="parameterList" (onSelect)="onPropertySelect($event)"></rds-dropdownlist>
    </div>
  </div>
  <div class="footer-buttons my-2">
    <div class="row">
      <div class="col-md-12">
        <rds-button [label]="translate.instant('Cancel')" type="button" [isOutline]="true" [colorVariant]="'primary'"
          data-bs-dismiss="offcanvas" [size]="'small'" (click)="closeCanvas()">
        </rds-button>
        <rds-button [label]="translate.instant('Save')" type="button" [size]="'small'" class="px-2"
          [colorVariant]="'primary'" (click)="addEntity(dynamicEnityForm)">

        </rds-button>
      </div>

    </div>
  </div>
</form>