<form #themeManagementForm="ngForm">
    <div class="row">
        <div class="col-md-6 mt-4">
            <rds-select-list [label]="'Style'" required   [isRequired]=true ngDefaultControl LabelType="Top"
                name="style" [itemList]="StyleList" [(ngModel)]="themeData.style"
                #style="ngModel" [placeholder]="'Select'"
               >
           </rds-select-list>
        </div>
        <div class="col-md-6 mt-4">
            <rds-select-list [label]="'Public Website Style'" required [isRequired]=true ngDefaultControl LabelType="Top"
                name="webstyle" [itemList]="WebList" [(ngModel)]="themeData.webstyle"
                #style="ngModel" [placeholder]="'Select'"
                >
           </rds-select-list>
        </div>
 </div>
 <div class="row ">
    <div class="col-md-6 mt-4">
        <rds-select-list [label]="'Menu Placement'" required [isRequired]=true ngDefaultControl LabelType="Top"
            name="placement" [itemList]="MenuList" [(ngModel)]="themeData.placement"
            #style="ngModel" [placeholder]="'Select'"
           >
       </rds-select-list>
    </div>
    <div class="col-md-6 mt-4">
        <rds-select-list [label]="'Menu Status'" required   [isRequired]=true ngDefaultControl LabelType="Top"
            name="status" [itemList]="StatusList"  [(ngModel)]="themeData.status"
            #style="ngModel"  [placeholder]="'Select'"
         >
       </rds-select-list>
    </div>
</div>
</form>