<div class="px-0 mx-0 pt-5" *ngIf="!editShimmer"> 
    <div class="fw-bold mb-3">
        <rds-label [label]="translate.instant('Invoice Information')"></rds-label>
    </div>
    <div class="row">
        <form #invoiceForm="ngForm">
            <div class="col-md-12">
                <div class=" form-group mb-3">
                <rds-input [inputType]="'text'" [Title]="translate.instant('Legal Name')" [(ngModel)]="InvoiceDataForm.legalName" #legalName="ngModel"
                     [placeholder]="translate.instant('Legal Name')"
                    name="legalName"  id="legalName" [TitleType]="'Top'"></rds-input>
                </div>
               
            </div>
            <div class="col-md-12">
                <div class=" form-group mb-3">
                    <rds-textarea [disabled]="false" rows="3" name="address" 
                     #address="ngModel" [label]="translate.instant('Address')" [(ngModel)]="InvoiceDataForm.address"></rds-textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<app-rds-comp-invoice-shimmer *ngIf="editShimmer"></app-rds-comp-invoice-shimmer>