<div class="px-0 mx-0 pt-4" *ngIf="!editShimmer">
    <div class="fw-bold mb-3">
        <rds-label [label]="translate.instant('Invoice Information')"></rds-label>
    </div>
    <div class="row">
        <form #invoiceForm="ngForm">
            <div class="col-md-12">
                <div class=" form-group mb-3">
                    <rds-input [inputType]="'text'" [label]="translate.instant('Legal Name')" (change)="onChange()" 
                        [(ngModel)]="InvoiceDataForm.legalName" #legalName="ngModel"
                        [placeholder]="translate.instant('Legal Name')" name="legalName" id="legalName"
                        [labelPosition]="'top'"></rds-input>
                </div>

            </div>
            <div class="col-md-12">
                <div class=" form-group mb-3">
                    <rds-textarea [disabled]="false" rows="3" name="address" #address="ngModel" (change)="onChange()"
                        [label]="translate.instant('Address')" [(ngModel)]="InvoiceDataForm.address"></rds-textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<rds-comp-invoice-shimmer *ngIf="editShimmer"></rds-comp-invoice-shimmer>