<div class="row" *ngIf="!EditShimmer">
  <div class="tab-content px-3">
    <form #languageForm="ngForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="col-md-12 col-sm-12">
            <div class="form-group mt-3">
              <div class="mb-2">
                <rds-label [label]="translate.instant('Language Name')"></rds-label><span class="text-danger">*</span>
              </div>
              <rds-dropdownlist [borderDropdown]="true" class="text-dark" [id]="'select-language-dropdown'"
                [placeholder]="translate.instant('Select Language')" [value]="selectedLanguage.languageName" required
                [multiSelect]="false" [selectAll]="false" [entity]="false" [listItems]="languageNames"
                (onSelect)="onLanguageSelect($event)"></rds-dropdownlist>
              <div class="form-control-feedback" *ngIf="
              submitted &&
              (selectedLanguage.languageName === '' || !selectedLanguage.languageName)
            ">
                <span class="text-danger">{{
                  "language is
                  required"
                  | translate
                  }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 col-sm-12">
            <div class="form-group mt-3">
              <div class="form-group mt-3">
                <div class="mb-2">
                  <rds-label [label]="translate.instant('Country Code')"></rds-label>
                </div>
                <rds-dropdownlist [icon]="selectedLanguage.icon" [borderDropdown]="true" class="text-dark"
                  [id]="'country-code-dropdown'" [placeholder]="translate.instant('Country Code')"
                  [value]="selectedLanguage.icon" [multiSelect]="false" [selectAll]="false" [entity]="false"
                  [listItems]="flags" (onSelect)="onCountryCodeSelect($event)"></rds-dropdownlist>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="form-group mb-3">
            <rds-checkbox [label]="translate.instant('Is Enabled')" [checked]="selectedLanguage.isEnabled"
              [withLabel]="true" name="enables" [(ngModel)]="selectedLanguage.isEnabled" ngDefaultControl
              [id]="'isEnabled'">
            </rds-checkbox>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer-buttons my-2">
    <div class="row">
      <div class="col-md-12">
        <rds-button [label]="translate.instant('Cancel')" (click)="closeCanvas()" type="button"
          [colorVariant]="'primary'" [isOutline]="true" [size]="'small'">
        </rds-button>
        <rds-button [label]="translate.instant('Save')" type="button" [size]="'small'"
          [isDisabled]="!selectedLanguage||!selectedLanguage.languageName" class="ms-2" [colorVariant]="'primary'"
          (click)="addLanguage(languageForm)">
        </rds-button>
      </div>
    </div>
  </div>
</div>
<rds-comp-new-language-shimmer *ngIf="EditShimmer"></rds-comp-new-language-shimmer>