<div class="row" *ngIf="!EditShimmer">
  <div class="tab-content px-3">
    <form #languageForm="ngForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="col-md-12 col-sm-12">
            <div class="form-group mt-3">
              <div class="mb-2">
                <rds-label [label]="translate.instant('Language Name')"></rds-label>
              </div>
              <rds-dropdownlist [placeholder]="translate.instant('Select Language')" [borderDropdown]="true" required
              class="text-dark" [id]="'select-listlanguage'" [(ngModel)]="selectedLanguage.countryCode" [listItems]="languageNames"
             [value]="selectedLanguage.countryCode" (onSelect)="onLanguageSelect($event)" ngDefaultControl name="selectedLanguage.countryCode"  #language="ngModel">
            </rds-dropdownlist>
              <div class="form-control-feedback" *ngIf="language.errors && (language.dirty || language.touched)">
                <span class="text-danger" *ngIf="language.errors.required">{{
                  "language is
                  required"
                  | translate
                  }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 col-sm-12">
            <div class="form-group mt-3">
              <!-- <rds-select-list [(ngModel)]="selectedLanguage.icon" [label]="translate.instant('Country Code')"
                #country="ngModel" [value]="selectedLanguage.icon" id="select-list-country" ngDefaultControl name="icon"
                [isRequired]=true required [placeholder]="'Select Country'" labelPostion="top" [itemList]="flags">
              </rds-select-list> -->
              <div class="form-group mt-3">
                <div class="mb-2">
                  <rds-label [label]="translate.instant('Country Code')"></rds-label>
                </div>
                <rds-dropdownlist [icon]="selectedLanguage.icon" [borderDropdown]="true" class="text-dark"
                  [id]="'country-code-dropdown'" [placeholder]="translate.instant('Country Code')"
                  [value]="selectedLanguage.icon" required [multiSelect]="false" [selectAll]="false" [entity]="false"
                  [listItems]="flags" (onSelect)="onCountryCodeSelect($event)"></rds-dropdownlist>
              </div>

              <div class="form-control-feedback p-2" *ngIf="
                  submitted &&
                  (selectedLanguage.icon === '' || !selectedLanguage.icon)
                ">
                <span class="text-danger p-2">{{
                  "Country code is
                  required"
                  | translate
                  }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="form-group mb-3">
            <rds-checkbox [label]="translate.instant('Is Enabled')" [checked]="selectedLanguage.isEnabled"
              [withLabel]="true" name="enables" [(ngModel)]="selectedLanguage.isEnabled" ngDefaultControl
              [id]="'isEnabled'">
            </rds-checkbox>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer-buttons my-2">
    <div class="row">
      <div class="col-md-12">
        <rds-button [label]="translate.instant('Cancel')" (click)="closeCanvas()" type="button"
          [colorVariant]="'primary'" [isOutline]="true" [size]="'small'">
        </rds-button>
        <rds-button [label]="translate.instant('Save')" type="button" [size]="'small'" [isDisabled]="!languageForm.valid"
          class="ms-2" [colorVariant]="'primary'" (click)="addLanguage(languageForm)">
        </rds-button>
      </div>
    </div>
  </div>
</div>
<rds-comp-new-role-shimmer *ngIf="EditShimmer"></rds-comp-new-role-shimmer>