<form #resourceForm="ngForm">
  <div class="form-group col-sm-6 mb-3 me-2">
    <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
  </div>
  <div class="form-group col-sm-6 mb-3">
    <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
  </div>

  <div class="form-group col-sm-12 mb-3">
    <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>
  </div>

  <div class="fw-bold">
  <!-- <rds-label [label]="'Others'"></rds-label> -->
</div>


  <div class="footer">
    <div class="d-flex">
      <div class="m-2">
        <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>

      </div>
      <div class="m-2">
        <ngx-shimmer-loading [direction]="'ltr'" [width]="'100%'" [height]="'20px'"></ngx-shimmer-loading>

      </div>
    </div>
  </div>
</form>
