<p>rds-webhooks-subscription-shimmer works!</p>
<div class="row">
  <div class="col-md-12 text-end mb-2">
    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'10%'" [height]="'100%'"></ngx-shimmer-loading>
   </div>

  <div class="col-md-12">
      <div class="card p-2 h-100 border-0 rounded-0 card-full-stretch">
          <div class="row" >
              <div class="col-md-12">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'100%'" [height]="'400%'"></ngx-shimmer-loading>
                <!-- <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'100%'" [height]="'20%'"></ngx-shimmer-loading>
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'100%'" [height]="'20%'"></ngx-shimmer-loading>
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'100%'" [height]="'100%'"></ngx-shimmer-loading>
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'100%'" [height]="'20%'"></ngx-shimmer-loading>
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'100%'" [height]="'100%'"></ngx-shimmer-loading>
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [width]="'100%'" [height]="'20%'"></ngx-shimmer-loading> -->

              </div>
          </div>
      </div>
  </div>
</div>
