<div class="card">
    <div class="card-body">
        <div class="pb-5 mb-5">
   
            <rds-nav-tab [navtabsItems]="navtabsItems" [horizontalAlignment]="'start'" [activeTab]="activePage"
                [verticalAlignment]="false" [pills]="false" [tabs]="true" [fill]="false" [justified]="false"
                (onClicktab)="onTabClick($event)"></rds-nav-tab>
            <div naveContent class="tab-content py-2 px-3 navsm-p-0" id="nav-tabContent">
                <div class="tab-pane fade" [ngClass]="{'show active': activePage === 0}" id="email" edition="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <rds-comp-email-settings-new [emailSettingsData]="emailSettingsData" (emailSettingsInfo)="onDataSaveEmail.emit($event)"></rds-comp-email-settings-new>
                  
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': activePage === 1}" id="identity" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <rds-comp-identity-management-new [identityData]="identiyData" (identityInfo)="onDataSaveIdentity.emit($event)">
                    </rds-comp-identity-management-new>

                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': activePage === 2}" id="theme" theme="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <rds-comp-theme-new [StyleList]="StyleList" [WebList]="WebList" [themeData]="themeData" [MenuList]="MenuList"
                        [StatusList]="StatusList" (themeInfo)="onDataSaveTheme.emit($event)"></rds-comp-theme-new>

                        
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active': activePage === 3}" id="account" account="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <rds-comp-account-new [AuthentiactionList]="AuthentiactionList" [externalProviders]="externalProviders" [accountData]="accountData" [VersionList]="VersionList"
                        (accountInfo)="onDataSaveAccount.emit($event)"></rds-comp-account-new>

                </div>
            </div>
    
      
    </div>
  
    </div>
</div>
