
<div class=" " style="background-image: url(../assets/body-backgroud.svg);" *ngIf="!loadingshimmer">
  <div class="align-items-center d-flex justify-content-center login m-auto" style="max-width: 900px; height: 100vh;">
    <div class="container-fluid m-2">
      <div class="bg-white row rounded-3 ">
        <div class="col-md-6">
          <div class="py-4 px-3">
            <div class="pb-4">
              <div href="#" class="text-center">
                <img src="../assets/Raaghu-logo-mfe-black.png" class="img-fluid">
                <!--<img src="../assets/raaghu_text_logo.svg" class="img-fluid">-->
              </div>
            </div>
            <mfe-loader [config]="rdsLoginMfeConfig"></mfe-loader>
          </div>
        </div>
        <!--<div class="col-md-6 order-1 order-sm-2 rounded-end"
       style="background-image: url(../assets/Login-card.svg); background-size: cover; background-position: bottom; background-repeat: no-repeat; background-color: #000;">
  </div>-->
        <!--<div class="col-md-6 order-1 order-sm-2 rounded-end position-relative p-0"
  style="background-image: url(../assets/bg_1.png); background-size: cover; background-position: bottom; background-repeat: no-repeat; background-color: #000;">
     <div class="raghu1" style="background-image: url(../assets/fg_raaghu.png); background-size: cover;"></div>
     <div class="wrap">
       <div class="c"></div>
       <div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div>

       <div class="c2"></div> <div class="c2"></div> <div class="c2"></div> <div class="c2"></div>

     </div>
   </div>-->
        <div class="col-md-6 order-1 order-sm-2 rounded-end position-relative align-items-center p-0"
             style="background-image: url(../assets/bg_1.png); background-size: cover; background-position: bottom; background-repeat: no-repeat; background-color: #000;">
          <video  id="myVideo" class="video" autoplay muted loop>
            <source src="../assets/Comp1.mp4" type="video/mp4">
          </video>
          <div class="raghu1" style="z-index:3; background-image: url(../assets/fg_raaghu.png); background-size: cover;"></div>
          <div class="wrap" style="z-index:2;">
            <div class="c"></div>
            <div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div><div class="c"></div>

            <!--<div class="c2"></div> <div class="c2"></div> <div class="c2"></div> <div class="c2"></div>-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="currentAlerts&&currentAlerts.length>0">
  <mfe-loader [config]="rdsAlertMfeConfig"></mfe-loader>
</ng-container>
<app-login-shimmer *ngIf="loadingshimmer">
  <mfe-loader [config]="rdsLoginMfeConfig"></mfe-loader>
</app-login-shimmer>
