<div>
  <div class="table">
    <div class="table-body">
      <div class="table-row">
        <div class="table-body-cell w-40">
          <rds-label class="mb-3" [label]="'Plans'" [bold]="true"></rds-label>
        </div>
        <div class="table-body-cell w-20">
          <rds-label [label]="'Regular'" [bold]="true"></rds-label>
        </div>
        <div class="table-body-cell w-20">
          <rds-label [label]="'Professional'" [bold]="true"></rds-label>
        </div>
        <div class="table-body-cell w-20">
          <rds-label [label]="'Ultimate'" [bold]="true"></rds-label>
        </div>
      </div>
      <div class="table-row">
        <div class="table-body-cell ">
          <rds-radio-button class="position-relative radioButtonSpace" [switch]="false"
                            [inline]="false"
                            [isInputGroup]="false"
                            [itemList]="planList" (onClick)="onRadioButtonSelect($event)">
                          </rds-radio-button>
        </div>
        <ng-container *ngIf="selectedPlanInfo&&selectedPlanInfo.planInfo">
          <div class="table-body-cell" *ngFor="let item of selectedPlanInfo.planInfo">
            <div *ngFor="let plan of item|keyvalue">
              <rds-label class="position-relative labelSpace" [ngClass]="plan.key==='price'?'fw-bold':'fw-light'" [label]="planList['label']"></rds-label>
              <span *ngIf="plan.key==='price'" class="ms-2 position-relative labelSpace">{{selectedPlan==='Monthly Plan'?'month':'year'}}</span>
            </div>
            <rds-button class="position-relative buttonSpace" colorVariant="info"
                        [block]="false"
                        size="medium"
                        label="Buy Now"></rds-button>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <rds-label class="fw-bold" [label]="'Features'"></rds-label>
  </div>
  <hr />
  <div class="row mt-4" >
    <div class="col-md-12" *ngFor="let item of itemList">
      <rds-label class="mb-3" [label]="item.label" [bold]="true"></rds-label>
      <rds-table [showTableBorder]="false"
                 [showTableHeader]="true"
                 [tableHeaders]="item.pricingTableHeaderItems"
                 [tableData]="item.pricingTableBodyItems"
                 colorVariant="primary"></rds-table>
    </div>
    <div class="table">
      <div class="table-body">
        <div class="table-row">
          <div class="table-body-cell w-40">
          </div>
          <div class="table-body-cell w-20">
            <rds-button colorVariant="info"
                        [block]="false"
                        size="medium"
                        label="Buy Now"></rds-button>
          </div>
          <div class="table-body-cell w-20">
            <rds-button colorVariant="info"
                        [block]="false"
                        size="medium"
                        label="Buy Now"></rds-button>
          </div>
          <div class="table-body-cell w-20">
            <rds-button colorVariant="info"
                        [block]="false"
                        size="medium"
                        label="Buy Now"></rds-button>
          </div>
        </div>
      </div>
    </div> 
  </div>

   
</div>

