<div class="container">
  <div class="row">
    <div class="d-flex justify-content-end mt-2">
      <rds-button [id]="'btn-api-resources'" [size]="'small'" [tooltipPlacement]="'top'" [colorVariant]="'primary'"
        [label]="'NEW RESOURCES'" (click)="openCanvas()">
      </rds-button>
    </div>
    <div class="row mx-3 mt-2">
      <rds-data-table [tableData]="resourceTableData" [tableHeaders]="resourceTableHeader" [pagination]="true"
        [recordsPerPage]="10" [actions]="actions" (onActionSelection)="onActionSelection($event)"
        [noDataTitle]="'Currently you do not have api resources'"></rds-data-table>
    </div>
  </div>
  <rds-offcanvas *ngIf="viewCanvas" [canvasTitle]="translate.instant(offCanvasTitle)" [offId]="'api-resource-offcanvas'"
    [offcanvaswidth]="550" [placement]="'end'">
    <rds-nav-tab [navtabsItems]="navtabsItems" [activeTab]="activeTab" [horizontalAlignment]="'start'"
      [verticalAlignment]="false" [pills]="false" [tabs]="true" [fill]="false" [justified]="false"
      (onClicktab)="onTabClick($event)">
      <div naveContent class="row tab-content m-2" id="nav-tabContent">
        <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 0}" id="Basics" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <rds-comp-basic-resource (onValidForm)="onValidForm($event)" [basicInfo]="basicInfo" [isApiResources]="true"
            (onBasicInfoSave)="onBasicInfoChange($event)"></rds-comp-basic-resource>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 1}" id="Claims" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <rds-comp-client-resources [resourceData]="claims"
            (selectedData)="onClaimSelection($event)"></rds-comp-client-resources>
          <div class="footer-buttons my-2  d-flex bottom-0 ">
            <rds-button [label]="'Cancel'" [id]="'claims-cancel'" [colorVariant]="'primary'" [size]="'small'"
              data-bs-dismiss="offcanvas" [isOutline]="true" aria-label="Close">
            </rds-button>
            <rds-button [label]="getBtnName()" [id]="'claims-save'" class="ms-2" [colorVariant]="'primary'" [size]="'small'"
              [isDisabled]="false" (click)="save()">
            </rds-button>
          </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 2}" id="secrets" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <rds-comp-secrets [apiSecretsTableData]="secrets"
            (secretDataInfo)="onSecretsChange($event)"></rds-comp-secrets>
          <div class="footer-buttons my-2  d-flex bottom-0 ">
            <rds-button [label]="'Cancel'" [id]="'secrets-cancel'" [colorVariant]="'primary'" [size]="'small'"
              data-bs-dismiss="offcanvas" [isOutline]="true" aria-label="Close">
            </rds-button>
            <rds-button [label]="getBtnName()" [id]="'secrets-save'" class="ms-2" [colorVariant]="'primary'" [size]="'small'"
              [isDisabled]="false" (click)="save()">
            </rds-button>
          </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': activeTab === 3}" id="properties" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <rds-comp-properties [propertyTableHeader]="propertyTableHeader" [propertyTableData]="propertyTableData"
            [propertyActions]="property_actions" (onPropertyChange)="onPropertyChange($event)"></rds-comp-properties>
        </div>
      </div>
    </rds-nav-tab>
    <!-- <div class="footer-buttons d-flex">
      <div class="mx-2">
        <rds-button [label]="'Cancel'" [id]="'api-resource-cancel'" [colorVariant]="'primary'" [size]="'small'" 
          data-bs-dismiss="offcanvas" [isOutline]="true" aria-label="Close">
        </rds-button>
      </div>
      <div class="mx-2">
        <rds-button [label]="getBtnName()" [id]="'api-resource-save'"  [colorVariant]="'primary'" [size]="'small'"
          [isDisabled]="false" (click)="save()">
        </rds-button>
      </div>
    </div> -->
  </rds-offcanvas>
</div>