.dropdown-menu-right {
  right: 0;
  left: auto;
}
.user-role {
    right: 6.6em;
    top: 3em
} 

.w-md-375px {
  width: 375px !important;
  }

  .flag-img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .navbar-nav .dropdown {
     border-width: 0px;
  }
  
/*.main {
  .image {
    height: 50px;
  }

  width: 220px;

  .title {
    padding-left: 5px;  
    font-size: 20px;
  }

  margin-left: 1px;
}



.dropdown-menu.show {
  display: block;
}


.dropdown-item {
  display: block;
  width: 360px;
  padding: 0 !important;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  margin: 0;
  padding: 0 !important;
  font-size: 0.75rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  border:none;
}*/

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  width: 20px;
  height: 20px;
}
.mobile-notification{
  display: none;
}

@media screen and (max-width:767px){
  .navbar-brand{
    display: none;
  }
  .breadcrumbs{
    margin-left: 0rem !important;
    padding-left: 0rem !important;
  }
  .mob-description{
    display: none;
  }
  .mobile-fluid {
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    height: 60px;
  }
  .mobile-ms{
    margin-left: auto;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .pe-auto{
    display: none;
  }
  .mobile-notification{
    display: block;
    padding-right: 0rem !important;
  }
  .notifications-dropdown{
    position: absolute;
  }
  .mobile-notification .dropdown-menu {
    position: absolute !important;
  }
  .dropdown-menu.show.notifications-dropdown {
    width: 295px !important;
    left: -207px;
}
}

@media screen and (min-width:320px) and (max-width:330px){
  .notifications-dropdown{
    width: 306px !important;
    top: 31px;
    right: -60px;
  }
}

@media screen and (min-width:331px) and (max-width:767px){
  .notifications-dropdown{
    right: -63px;
    width: 363px !important;
    top: 31px;
  }
}

@media screen and (min-width:767px) and (max-width:1023px) {
  .navbar-expand-sm .navbar-toggler {
    display: block;
  }
  .navbar-brand{
    display: none;
  }
  .breadcrumbs{
    margin-left: 0rem !important;
    padding-left: 0rem !important;
  }
  .mob-description{
    display: none;
  }
  .mobile-fluid {
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    height: 60px;
  }
  .mobile-ms{
    margin-left: auto;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .pe-auto{
    display: none;
  }
  .notifications-dropdown{
    position: absolute;
  }
  .mobile-notification .dropdown-menu {
    position: absolute !important;
  }
  .dropdown-menu.show.notifications-dropdown {
    width: 295px !important;
    left: -207px;
}
}
@media screen and (min-width: 992px) and (max-width:1279px){
  .pe-auto{
    display: none;
  }
  .mob-description{
    display: none;
  }
}