<div class="tab-content">
  <div aria-labelledby="nav-Deligation" class="h-100">
    <div class="card border-0 h-100">
      <div class="card-header border-bottom">
        <h5 class="card-title">{{"USER DELEGATES"|translate}}</h5>
      </div>
      <div class="card-body ">
        <div class="row" *ngIf="!deligateDivFlag">
          <div class="col-sm-12 mb-3 sm-p-0">
            <rds-button [label]="translate.instant('DELEGATE NEW USER')" (click)="hideandShowdelegateform()"
              type="button" [size]="'medium'" [colorVariant]="'primary'" [icon]="'plus'" iconHeight="12px"
              iconWidth="12px">
            </rds-button>
          </div>
        </div>
        <form #delegateForm="ngForm">
          <div class="row" *ngIf="deligateDivFlag">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <rds-select-list [(ngModel)]="username" [label]="translate.instant('Username')" [value]="username"
                  required labelPosition="top" ngDefaultControl name="usernameData" [itemList]="userList">
                </rds-select-list>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <rds-datepicker name="date-picker" [label]="translate.instant('Start Date')" required
                  (change)="onDateChange($event,'startDate')" [(ngModel)]="startDate" ngDefaultControl
                  [value]="startDate"></rds-datepicker>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <rds-datepicker name="date-picker1" [label]="translate.instant('End Date')" required
                  (change)="onDateChange($event,'endDate')" [(ngModel)]="endDate" ngDefaultControl [value]="endDate">
                </rds-datepicker>
              </div>
            </div>
          </div>
        </form>
        <div class="row" *ngIf="!deligateDivFlag">
          <div class="col-sm-12">
            <app-rds-data-table [tableData]="rdsDeligateTableData" [pagination]="pagination"
              (deleteEvent)="deleteDeligateData($event)" [recordsPerPage]="recordsPerpage" [actions]="actions"
              [tableHeaders]="rdsDeligateTableHeader" noDataTitle="Currently you do not have delegate new user">
            </app-rds-data-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-buttons my-2 shadow-none" *ngIf="deligateDivFlag">
  <div class="row">
    <div class="col-sm-12">
      <rds-button [label]="translate.instant('Cancel')" [outlineButton]="true" [colorVariant]="'primary'" type="button"
        [size]="'medium'" (click)="onCancel()">
      </rds-button>
      <rds-button [label]="translate.instant('Save')"  type="button" [size]="'medium'"
        (click)="onSave(delegateForm)" class="ms-2" [colorVariant]="'primary'"  [showLoadingSpinner]="buttonSpinner">
      </rds-button>
    </div>
  </div>
</div>




