<div class=" " style="background-image: url(../assets/body-backgroud.svg); background-size: cover; background-position: bottom; background-repeat: no-repeat; " *ngIf="!loadingshimmer">
  <div class="align-items-center d-flex justify-content-center login m-auto" style="max-width: 900px; height: 100vh;">
    <div class="container-fluid m-2">
      <div class="bg-white row rounded-3">
        <div class="col-md-6">
          <div class="py-4 px-3">
            <div class="pb-4">
              <div href="#" class="text-center">
                <img src="../assets/Raaghu-logo-mfe-black.png" class="img-fluid">
              </div>
            </div>
            <mfe-loader [config]="rdsForgotPasswordMfeConfig"></mfe-loader>
          </div>
        </div>
        <div class="col-md-6 order-1 order-sm-2 rounded-end"
             style="background-image: url(../assets/Login-card.svg); background-size: cover; background-position: bottom; background-repeat: no-repeat; background-color: #000;">
        </div>
      </div>
    </div>
  </div>
</div>
<app-forgot-password-shimmer *ngIf="loadingshimmer">
  <mfe-loader [config]="rdsForgotPasswordMfeConfig"></mfe-loader>
</app-forgot-password-shimmer>



