<!--<div class="d-flex flex-column flex-root">
  <div class="page d-flex flex-column flex-column-fluid">
    <div class="header align-items-stretch">
      <mfe-loader [config]="rdsTopNavigationMfeConfig"></mfe-loader>
    </div>
    <div class="d-flex flex-column-fluid align-items-stretch container-fluid px-0 main-body">
      <div class="aside">
        <rds-side-nav [color]="color" [isPageWrapper]="true" [headerHeight]="headerHeight"
                      (collapsedState)="onCollapse($event)" [collapseRequired]="collapseRequired"
                      [collapsedHeaderHeight]="collapsedHeaderHeight" [backgroundColor]="backgroundColor"
                      [sidenavItems]="sidenavItems" (emitPath)="redirectPath($event)"></rds-side-nav>
      </div>
      <div class="wrapper d-flex flex-column flex-row-fluid mt-5 mt-lg-10 rds-scrollable-wrapper"
           [class.collapsed]="sideMenuCollapsed">


      </div>
    </div>

  </div>
</div>-->
<div *ngIf="istenant">
  <mfe-loader [config]="rdsTenantDashboardMfeConfig"></mfe-loader> 
</div>
<div *ngIf="!istenant">
  <mfe-loader [config]="rdsAdminDashboardMfeConfig"></mfe-loader> 
 </div>
