<div class="row mt-2">
  <div class="col-md-16">
    <rds-checkbox [disabled]="false" [label]="translate.instant('Select All')" [checked]="checkSelection()" (change)="selectAllItems()" [(ngModel)]="selectAll"
                  name="check-box" [withLabel]="true" [id]="'selectAllParent'"></rds-checkbox>
  </div>
  <div class="col-md-12 mt-3">
    <rds-accordian>
      <ng-container *ngFor="let resource of resources;let i=index">
        <accordion-item [title]="resource.displayName" [expanded]="i===0" [alwaysOpen]="false">
          <div accordianBody>
            <div class="row mt-2">
              <rds-checkbox [disabled]="false" [label]="translate.instant('Select All')" (change)="onSelect(resource)"
                            [(ngModel)]="resource.selected" [name]="'check-box'+i" [withLabel]="true" [id]="'selectAllChild'">
              </rds-checkbox>
            </div>

            <div class="row mt-3">
              <div class="col-md-4" *ngFor="let child of resource.children; let j=index">
                <rds-checkbox [label]="child.displayName" [checked]="child.selected" (change)="onChangeItem(child,resource)"
                              [(ngModel)]="child.selected" [name]="'checkbox'+i+j" [withLabel]="true" [id]="'childrenCheckbox'"
                              >
                </rds-checkbox>
              </div>
            </div>
          </div>
        </accordion-item>
      </ng-container>
    </rds-accordian>
  </div>
</div>
