<div class="tab-content">
    <div aria-labelledby="nav-Deligation" class="h-100">
      <div class="card border-0 h-100">
        <div class="card-body ">
          <div class=" ">
            <div class="row">
              <div class="col-sm-12 mb-3 sm-p-0">
                <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                </ngx-shimmer-loading>
              </div>
              <div class="col-sm-12">
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                    </ngx-shimmer-loading>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-3">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="mb-3 add-button">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                    </ngx-shimmer-loading>
                    <!-- <mfe-loader [config]="rdsDeligateTableMfeConfig"></mfe-loader> -->
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
    
    </div>
  </div>
  <div class="footer-buttons my-2">
    <div class="row">
      <div class="col-sm-12">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
  
  