<div class="checkedstyle treeview-flush node dottedstyle pb-5 mb-4">
    <div class="d-flex align-items-center checkedstyle mt-3 ms-1">
        <div class="node-dot position-relative">
            <div class="vertical-dotted-line-select-all"></div>
            <!-- Select All Checkbox -->
            <rds-checkbox [attr.id]="'Selectall'" (onChange)="selectAllFeature($event)" [checked]="false"
                class="position-absolute" [disabled]="false" [switch]="false" [inline]="false" [id]="'checkSelectAll'">
            </rds-checkbox>
        </div>
        <span class="node-label"><span class="mr-4">{{translate.instant(selectAllLabel)}}</span></span>
    </div>

    <!-- Parent Child checkboxes -->
    <ng-container *ngTemplateOutlet="recursiveNodeTemplate; context: { list: modifiedtreeData }"></ng-container>
    <ng-template #recursiveNodeTemplate let-list="list">
        <div *ngFor="let node of list; let i = index" class="position-relative"
            [ngStyle]="{'margin-left': list[i].parentName === null ? '24px' : node.permissions&&node.permissions.length>0? '30px':'50px'}">
            <div class="vertical-dotted-line-extraa" *ngIf="verticalLineExtraa(node)"></div>
            <div class="vertical-dotted-line" [ngStyle]="{'height': customHeight(node)}" [id]="node.name + 'VLine'" *ngIf="verticalLine(node)"></div>
            <div class="d-flex align-items-center position-relative"
                 [id]="'menuWithChildren'+i">
                <div class="node-dot position-relative">
                    <rds-checkbox [checked]="tickCheckbox(node)" [disabled]="false" [switch]="false" [inline]="false"
                        (onChange)="selectNode(node,$event)" [id]="node.name"></rds-checkbox>
                    <div class="horizontal-dotted-line dottedstyle"></div>
                </div>
                <span #nodeLabel class="node-label text-nowrap cursor-pointer">
                    <span (click)="onClicknode(node)" class="mr-4">{{ node.displayName }}</span>
                </span>
            </div>
            <ng-container *ngIf="node.permissions">
                <ng-container *ngTemplateOutlet="recursiveNodeTemplate; context: { list: node.permissions }">
                </ng-container>
            </ng-container>
        </div>
    </ng-template>
</div>