<div *ngIf="!editShimmer">
  <form #Scurityform="ngForm">
    <!-- <ul class="list-unstyled pt-5 ps-0"> -->

    <ul class="list-unstyled pt-4">

      <li>
        <div class="fw-medium mb-3">
          <rds-label [label]="translate.instant('Password Complexity')"></rds-label>
        </div>
      </li>
      <li>
        <div class="form-group mb-3">
          <rds-checkbox [label]="translate.instant('Use Default Settings')"
            [checked]="Seccuritysetting.useDefaultPasswordComplexitySettings" [disabled]="false" [switch]="false"
            [inline]="false" [withLabel]="true" name="useDefaultPasswordComplexitySettings"
            #useDefaultPasswordComplexitySettings="ngModel" [isInputGroup]="false"
            [(ngModel)]="Seccuritysetting.useDefaultPasswordComplexitySettings" ngDefaultControl
            (onChange)="selectAllFeature($event,'useDefaultPasswordComplexitySettings')"
            [id]="'useDefaultPasswordComplexitySettings'" (change)="onChange()">
          </rds-checkbox>
        </div>
        <ul class="list-unstyled ps-4">
          <li class="">
            <div class="form-group mb-3">
              <rds-checkbox [label]="translate.instant('Require Digit')" [checked]="Seccuritysetting.requireDigit"
                [disabled]="disable" [switch]="false" [inline]="false" [withLabel]="true" [isInputGroup]="false"
                name="requireDigit" #requireDigit="ngModel" [(ngModel)]="Seccuritysetting.requireDigit" ngDefaultControl
                (onChange)="selectAllFeature($event,'requireDigit')" [id]="'requireDigits'" (change)="onChange()"></rds-checkbox>
            </div>
          </li>

          <li>
            <div class="form-group mb-3">
              <rds-checkbox [label]="translate.instant('Require Lowercase')"
                [checked]="Seccuritysetting.requireLowercase" [disabled]="disable" [switch]="false" [inline]="false"
                [withLabel]="true" [isInputGroup]="false" name="requireLowercase" #requireLowercase="ngModel"
                [(ngModel)]="Seccuritysetting.requireLowercase" ngDefaultControl
                (onChange)="selectAllFeature($event,'requireLowercase')" [id]="'requireLower'" (change)="onChange()" >
              </rds-checkbox>
            </div>
          </li>

          <li>
            <div class="form-group mb-3">
              <rds-checkbox [label]="'Require Non-Alphanumeric'" [checked]="Seccuritysetting.requireAlphaNumeric"
                [disabled]="disable" [switch]="false" [inline]="false" [withLabel]="true" [isInputGroup]="false"
                #requireAlphaNumeric="ngModel" [(ngModel)]="Seccuritysetting.requireAlphaNumeric" ngDefaultControl
                name="requireAlphaNumeric" (onChange)="selectAllFeature($event,'requireAlphaNumeric')"
                [id]="'requireAlphaNumeric'" (change)="onChange()"></rds-checkbox>
            </div>
          </li>

          <li>
            <div class="form-group mb-3">
              <rds-checkbox [label]="translate.instant('Require Uppercase')"
                [checked]="Seccuritysetting.requireUppercase" [disabled]="disable" [switch]="false" [inline]="false"
                [withLabel]="true" [isInputGroup]="false" [(ngModel)]="Seccuritysetting.requireUppercase"
                ngDefaultControl name="requireUppercase" #requireUppercase="ngModel"
                (onChange)="selectAllFeature($event,'requireUppercase')" [id]="'requireUpper'" (change)="onChange()">
              </rds-checkbox>
            </div>
          </li>

          <li>
            <div class="form-group mb-5">
              <rds-counter [counterValue]="Seccuritysetting.requiredLength" 
                colorVariant="primary" (counterChange)="getCounterData($event,'requiredLength')"
                [(ngModel)]="Seccuritysetting.requiredLength" [min]="0" [max]="26" [width]="124" name="requiredLength"
                #requiredLength="ngModel" ngDefaultControl (change)="onChange()">
              </rds-counter>
            </div>
          </li>
        </ul>
      </li>

      <li>
        <div class="form-group mb-3">

          <div class="fw-medium form-label">
            <rds-label [label]="translate.instant('User Lock Out')"></rds-label>
          </div>
          <rds-checkbox [label]="translate.instant('Enable User Account Locking On Failed Login Attempts')"
            [checked]="Seccuritysetting.userLockout" [disabled]="false" [switch]="false" [inline]="false"
            [withLabel]="true" [isInputGroup]="false" [(ngModel)]="Seccuritysetting.userLockout" ngDefaultControl
            name="userLockout" #userLockout="ngModel" (onChange)="selectAllFeature($event,'userLockout')"
            (change)="checkUserLockout()" [id]="'userLockout'" (change)="onChange()"></rds-checkbox>
        </div>
      </li>
      <li>
        <div class="form-group mb-3">
          <rds-counter [counterValue]="Seccuritysetting.maxFailedAccessAttemptsBeforeLockout" position="top"
            [label]="translate.instant('Maximum Number Of Failed Login Attempt Count Before Locking The Account')"
            colorVariant="primary" (counterChange)="getCounterData($event,'maxFailedAccessAttemptsBeforeLockout')"
            [(ngModel)]="Seccuritysetting.maxFailedAccessAttemptsBeforeLockout" [min]="0" [max]="26" [width]="124"
            name="maxFailedAccessAttemptsBeforeLockout" #maxFailedAccessAttemptsBeforeLockout="ngModel"
            ngDefaultControl (change)="onChange()">
          </rds-counter>
        </div>
      </li>
      <li>
        <div class="form-group mb-4">
          <div class="form-label mb-1">
            <rds-label [label]="translate.instant('Account Locking Duration (As seconds)')"></rds-label>
          </div>
          <div class="col-md-4 col-lg-3">
            <rds-input size="medium" [inputType]="'text'" [labelPosition]="'top'" #defaultAccountLockoutSeconds="ngModel"
              required [(ngModel)]="Seccuritysetting.defaultAccountLockoutSeconds" name="defaultAccountLockoutSeconds"
              (onChange)="selectAllFeature(Seccuritysetting.defaultAccountLockoutSeconds,'defaultAccountLockoutSeconds')"
              ngDefaultControl (change)="onChange()">
            </rds-input>
          </div>
        </div>
      </li>

      <li>
        <div class="form-group mb-4">

          <div class="form-label fw-medium">
            <rds-label [label]="translate.instant('Two Factor Login')"></rds-label>
          </div>
          <rds-checkbox [label]="translate.instant('Enable Two Factor User Login')" [checked]="Seccuritysetting.twoFactorLogin"
            [disabled]="false" [switch]="false" [inline]="false" [withLabel]="true" [isInputGroup]="false"
            ngDefaultControl name="twoFactorLogin" (onChange)="selectAllFeature($event,'twoFactorLogin')"
            [(ngModel)]="Seccuritysetting.twoFactorLogin" #twoFactorLogin="ngModel" [id]="'twoFactorLogin'" (change)="onChange()">
          </rds-checkbox>
        </div>
      </li>
      <li>
        <div class="form-group mb-3">
          <div class="form-label fw-medium mb-1">
            <rds-label [label]="translate.instant('Only One Concurrent Login Per User')"></rds-label>
          </div>
          <rds-checkbox
            [label]="translate.instant('Disable Concurrent Login For A User. If A User Logins With A Second Device, The First Session Is Automatically Closed.')"
            [checked]="Seccuritysetting.loginPerUser" [disabled]="false" [switch]="false" [inline]="false"
            name="allowOneConcurrentLoginPerUser" [withLabel]="true" [isInputGroup]="false"
            [(ngModel)]="Seccuritysetting.allowOneConcurrentLoginPerUser" ngDefaultControl
            #allowOneConcurrentLoginPerUser="ngModel"
            (onChange)="selectAllFeature($event,'allowOneConcurrentLoginPerUser')" ngDefaultControl
            [id]="'allowOneConcurrentLoginPerUser'" (change)="onChange()"></rds-checkbox>
        </div>
      </li>
    </ul>
  </form>
</div>
<app-rds-comp-security-shimmer *ngIf="editShimmer"></app-rds-comp-security-shimmer>