
<div class="tab-content py-4 px-3">

 
    <div class="row align-items-center">
      <div class="col-md-3 text-center cursor-pointer">
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'circle'" [width]="'100px'">
          </ngx-shimmer-loading>
       
      </div>
      <div class="col-md-9 sm-p">
        <div class="form-group mb-3">

          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
          </ngx-shimmer-loading>
         
        </div>

        <div class="form-group mb-3">

          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
          </ngx-shimmer-loading>
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 sm-p">
        <div class="form-group mb-3">

          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
          </ngx-shimmer-loading>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 sm-p">
        <div class="form-group mb-3">

          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
          </ngx-shimmer-loading>
         
        </div>
      </div>
      <div class="col-md-6 sm-p">
        <div class="form-group mb-3">

          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
          </ngx-shimmer-loading>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 sm-p">
        <div class="form-group mb-3">

          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
          </ngx-shimmer-loading>
        </div>
      </div>
      <div class="col-md-6 sm-p">
        <div class="form-group mb-3">

          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
          </ngx-shimmer-loading>
        
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
          </ngx-shimmer-loading>
        </div>
        <div class="form-group mb-3">
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
          </ngx-shimmer-loading>
        </div>
        <div class="form-group mb-3">
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
          </ngx-shimmer-loading>
        </div>
        <div class="form-group mb-3">
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
          </ngx-shimmer-loading>
        </div>
        <div class="form-group mb-3">
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
          </ngx-shimmer-loading>
        </div>
      </div>
    </div>


</div>
<div class="footer-buttons my-2">

  <div class="row">
      <div class="col-md-2">
      <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
      </ngx-shimmer-loading>
      </div>
      <div class="col-md-2">
      <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
      </ngx-shimmer-loading>
  </div>
  </div>

</div>
