
     <hr>
<div class="fw-bold">
  <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
    </div>
<!-- <rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      [checked]="AtoEcheckedAll"
      [(ngModel)]="AtoEcheckedAll"
      (onChange)="SelectAllAtoEclaims($event)"
      [id]="'SelectAllAtoEclaims'"></rds-checkbox> -->
<div class="row" >
    <div class="col-md-4">
        <!-- <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_ato_e'"></rds-checkbox> -->
       <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
    </div>
</div>
<hr>

<div class="fw-bold">
    <rds-label [label]="'F-O'"></rds-label>
</div>
<!-- <rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [checked]="FtoOcheckedAll"
      [(ngModel)]="FtoOcheckedAll"
      [isInputGroup]="false"
      (onChange)="SelectAllFtoOclaims($event)"
      [id]="'SelectAllFtoOclaims'"></rds-checkbox> -->
      <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
<div class="row">
    <div class="col-md-4">
        <!-- <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_f_to_o'"></rds-checkbox> -->
       <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
    </div>
</div>
<hr>

<div class="fw-bold">
    <rds-label [label]="'P-Z'"></rds-label>
</div>
<!-- <rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      [checked]="PtoZcheckedAll"
      [(ngModel)]="PtoZcheckedAll"
      (onChange)="SelectAllPtoZclaims($event)"
      [id]="'SelectAllPtoZclaims'"></rds-checkbox> -->
      <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>

<div class="row" >
    <div class="col-md-4">
        <!-- <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_p_to_z'"></rds-checkbox> -->
       <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
    </div>
</div>
<div class="footer">
    <div class="d-flex">
        <div class="m-2">
          <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>

        </div>
  <div class="m-2">
    <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
  </div>
</div>
</div>
