<div class="container">
  <mfe-loader [config]="rdsApiSecretsTableMfeConfig"></mfe-loader>
</div>
<div class="container">
  <div class="col-12">
    <div class="row">
      <div class="col-5">
        <rds-input size="default" value="" TitleType="'Top'" [Title]="'Type'" inputType="text" [(ngModel)]="apiSecretsTableData.type"
          [disabled]="false" [readonly]="false" [placeholder]="'Enter Type'" ngDefaultControl
          formControlName="typeData" [isRequired]="true">
        </rds-input>
      </div>
      <div class="col-4">
        <rds-input size="default" value="" TitleType="'Top'" inputType="text" [Title]="'Value'" [(ngModel)]="apiSecretsTableData.value"
          [disabled]="false" [readonly]="false" [placeholder]="'Enter Value'" ngDefaultControl
          formControlName="valueData" [isRequired]="true" >
        </rds-input>
      </div>
      <div class="col-3">
        <rds-input [Title]="'Expiration'" ></rds-input>
      </div>
    </div>
    <div class="col-12 mt-3">
      <rds-input size="default" value="" [Title]="'Description'" TitleType="'Top'" inputType="text"
        [(ngModel)]="apiSecretsTableData.description" [disabled]="false" [readonly]="false"
        [placeholder]="'Enter Description'" ngDefaultControl formControlName="descriptionData" [isRequired]="true" >
      </rds-input>
    </div>
    <div class="row mt-3">
      <rds-button [id]="'yes'" [size]="'small'" [tooltipPlacement]="'top'" [colorVariant]="'primary'" [label]="'ADD'"
        (click)="addSecrets()">
      </rds-button>
    </div>
  </div>
  <div class="footer">
    <div class="d-flex">
      <div class="m-2">
        <rds-button [id]="'yes'" [size]="'small'" [outlineButton]="true" [tooltipPlacement]="'top'"
          [colorVariant]="'primary'" [label]="'CANCEL'" data-bs-dismiss="offcanvas" >
        </rds-button>
      </div>
      <div class="m-2">
        <rds-button [id]="'yes'" [size]="'small'" [outlineButton]="false" [tooltipPlacement]="'top'"
          [colorVariant]="'primary'" [label]="'CREATE'" >
        </rds-button>
      </div>
    </div>
  </div>
</div>