<div>
  <mfe-loader [config]="rdsApiSecretsTableMfeConfig"></mfe-loader>
</div>
<div class="my-3">
  <rds-button [label]="'New Secrets'" [isOutline]="true" [colorVariant]="'primary'"
    (onClick)="showSecretForm = true">
    <rds-icon left name="plus" height="12px" width="12px"></rds-icon>
  </rds-button>
</div>
<div *ngIf="showSecretForm">
  <form #secretForm="ngForm" (ngSubmit)="addSecrets(secretForm)">
    <div class="row">
      <div class="col-md-4 mb-3">
        <rds-input size="medium" value="" TitleType="'Top'" [label]="'Type'" inputType="text"
          [(ngModel)]="secretData.type" [disabled]="false" [readonly]="false" [placeholder]="'Enter Type'"
          ngDefaultControl [isRequired]="true" name="type">
        </rds-input>
      </div>
      <div class="col-md-3 mb-3">
        <rds-input size="medium" value="" TitleType="'Top'" inputType="text" [label]="'Value'"
          [(ngModel)]="secretData.value" [disabled]="false" [readonly]="false" [placeholder]="'Enter Value'"
          ngDefaultControl [isRequired]="true" name="value">
        </rds-input>
      </div>
      <div class="col-md-5 mb-3">
        <rds-datepicker [datePickerType]="'basic'" [label]="'Expiration'" [value]="secretData.expiration"
          [(ngModel)]="secretData.expiration" name="expiration" (change)="selectEndDate($event)">
        </rds-datepicker>
      </div>
    </div>
    <div class="mb-3">
      <rds-input size="medium" value="" [label]="'Description'" TitleType="'Top'" inputType="text"
        [(ngModel)]="secretData.description" [disabled]="false" [readonly]="false" [placeholder]="'Enter Description'"
        ngDefaultControl [isRequired]="true" name="description">
      </rds-input>
    </div>
    <div class="mt-3 mb-3">
      <rds-button [submit]="true" [id]="'yes'"
        [isDisabled]="secretForm.form.value.value == '' || secretForm.form.value.value == undefined" [size]="'small'"
        [tooltipPlacement]="'top'" [colorVariant]="'primary'" [label]="'ADD'">
      </rds-button>
    </div>
  </form>
</div>