.go-back-home{
    color: #336CFF;
    text-decoration: none;
}
.raaghu-logo{
    width: 25%;
}

@media only screen and (max-width: 600px){
    .sm-pt-2{
        padding-top: 2rem !important;
    }
    .sm-pb-2{
        padding-bottom: 2rem;
    }
    .sm-h-auto{
        height: auto !important;
    }
    .sm-fs-6{
        font-size: 0.765625rem !important;
    }
    .page { 
        display: block !important;
    }
    .page-text{
        top: 10% !important;
    }
    .bg-page {
        bottom: 30% !important;
    }
    .countdown-col {
        background-size: contain !important;
        top: -140px !important;
        background-repeat: no-repeat !important;
    }
}

@media only screen 
  and (min-width: 768px) 
  and (max-width: 1124px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .page-not-found-bg{
        height: 55vh;
     }
}


// new page css
.page { 
    display: flex;
    flex-wrap: wrap;
}
.countdown-col {
    background-image: url('https://cdn.pixabay.com/photo/2012/10/10/11/18/weightless-60632_960_720.jpg');
    background-size: cover;
}
.col {
    flex: 1;
    height: 100vh;
    position: relative;
}

.bg-page{
    background: #F9FAFC;
}
.page-text{
    top: 40%;
}