<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center mt-5">
                <img src="../assets/Raaghu-logo-mfe-black.png">
            </div>
            <div class="mt-5 pt-5 pb-4 text-center">
                <h1 class="mt-5 pt-5"><b><rds-label [label]="'Page not found'"></rds-label></b></h1>
                <rds-label [label]="'Sorry, we couldnt find the page youre looking for.'"></rds-label>
                <!-- <rds-icon [name]="'cx'" [width]="'30px'"></rds-icon> -->
            </div>
            <div class="text-center">
                 <a class="go-back-home" href="">Go back home</a>
                <img class="px-2" src="../assets/right-arrow.svg" width="35px" alt="">
            </div>
            <div class="d-flex justify-content-center pt-5 mb-5">
                <div class="mt-5 pt-3">Contact Support<span class="px-3">|</span>Status<span class="px-3">|</span>Twitter</div>
            </div>
        </div>
    
        <div class="col-md-6">
            <img src="../assets/page-not-found-split-image-1.png" class="w-100 h-100">
        </div>
    </div>
</div>
