<form #accountForm="ngForm">
    <div class="border-bottom text-muted mt-3 fw-bold">
        <rds-label [label]="'Password Settings'"></rds-label>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <rds-checkbox [disabled]="false" [label]="'Enable Self Registration'" name="registration" [withLabel]="true"
                [switch]="false" [inline]="false" [(ngModel)]="accountData.registration" #authentication="ngModel"
                [id]="'ssl'"></rds-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <rds-checkbox [disabled]="false" [label]="'Authentication With a Local Account'" name="authentication"
                [withLabel]="true" [switch]="false" [inline]="false" [(ngModel)]="accountData.authentication"
                #authentication="ngModel" [id]="'ssl'"></rds-checkbox>
        </div>
    </div>
    <div class="border-bottom text-muted mt-3 fw-bold">
        <rds-label [label]="'Two Factor Authentication '"></rds-label>
    </div>
    <div class="col-md-3 mt-4">
        <!-- <label for="value" class="mb-2">Two Factor Authentication<span class="text-danger">*</span></label>-->
        <!-- <rds-select-list required [isRequired]=true ngDefaultControl LabelType="Top" 
                    name="twofactorauthentication" [itemList]="AuthentiactionList"  [(ngModel)]="accountData.twofactorauthentication"
                    #twofactorauthentication="ngModel" [placeholder]="'Select'"
                   >
               </rds-select-list> -->
        <!-- <rds-dropdownlist [listItems]="AuthentiactionList" [placeholder]="'Select Authentiaction'" [size]="'small'"
            [id]="AuthentiactionList" [multiSelect]="false" [borderDropdown]="true"></rds-dropdownlist> -->
        <rds-dropdownlist [listItems]="AuthentiactionList" [placeholder]="'Select Authentiaction'" [size]="'small'"
            name="targetId" [(ngModel)]="accountData.twofactorauthentication"
            [value]="accountData.twofactorauthentication" [id]="AuthentiactionList" [multiSelect]="false"
            [borderDropdown]="true" (onSelect)="onSelectAuthentiaction($event)" ngDefaultControl></rds-dropdownlist>

    </div>
    <div class="row">
        <div class="col-md-12 mt-4"
            *ngIf="accountData&&accountData.twofactorauthentication&&accountData.twofactorauthentication.toLocaleLowerCase()=='optional'">
            <rds-checkbox [disabled]="false" [label]="'Allow User to Change their two factor'" name="allowUser"
                [withLabel]="true" [switch]="false" [inline]="false" [(ngModel)]="accountData.allowUser"
                #allowUser="ngModel" [id]="'ssl'"></rds-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <rds-checkbox [disabled]="false" [label]="'Remember this browser'" name="browser" [withLabel]="true"
                [switch]="false" [inline]="false" [(ngModel)]="accountData.browser" #browser="ngModel" [id]="'ssl'">
            </rds-checkbox>
        </div>
    </div>
    <div class="border-bottom text-muted mt-4 fw-bold">
        <rds-label [label]="'Captcha'"></rds-label>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <rds-checkbox [disabled]="false"  [label]="'Use Security Image Questions(Captcha) On Login'"
                name="imagacaptcha" [withLabel]="true" [switch]="false" [inline]="false"
                [(ngModel)]="accountData.imagacaptcha" #imagacaptcha="ngModel" [id]="'ssl'"></rds-checkbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <rds-checkbox [disabled]="false" [label]="'Use Security Image Questions(Captcha) On Registration'"
                name="securityauthentication" [withLabel]="true" [switch]="false" [inline]="false"
                [(ngModel)]="accountData.securityauthentication" #securityauthentication="ngModel" [id]="'ssl'">
            </rds-checkbox>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-3">
            <div class="form-group ">
                <rds-input size="medium" [label]="'Verify Base URL'" [labelPosition]="'top'" inputType="text"
                    name="baseUrl" [isRequired]=true required [disabled]="false" [readonly]="false"
                    [placeholder]="'Enter URL'" [(ngModel)]="accountData.baseUrl" #baseUrl="ngModel" ngDefaultControl>
                </rds-input>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <label for="value" class="mb-2">Version<span class="text-danger"></span></label>
            <!-- <rds-select-list required [isRequired]=true ngDefaultControl LabelType="Top" name="version"
                [itemList]="VersionList" [(ngModel)]="accountData.version" #version="ngModel" [placeholder]="'Select'">
            </rds-select-list>
        </rds-select-list>  -->
            <rds-dropdownlist [listItems]="VersionList" [placeholder]="'Select'" [size]="'small'" name="version"
                [(ngModel)]="accountData.version" [value]="accountData.version" [id]="VersionList" [multiSelect]="false"
                [borderDropdown]="true" (onSelect)="onSelectVersion($event)" ngDefaultControl></rds-dropdownlist>
        </div>

        <div class="col-md-4 mt-3">
            <div class="form-group ">
                <rds-input size="medium" [label]="'Score'" [labelPosition]="'top'" inputType="text" name="score"
                    [isRequired]=true required [disabled]="false" [readonly]="false" [placeholder]="'Enter Score'"
                    [(ngModel)]="accountData.score" #score="ngModel" ngDefaultControl>
                </rds-input>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 mt-3">
            <div class="form-group ">
                <rds-input size="medium" [label]="'Site Key'" [labelPosition]="'top'" inputType="text" name="site"
                    [isRequired]=true required [disabled]="false" [readonly]="false" [placeholder]="'Enter URL'"
                    [(ngModel)]="accountData.site" #site="ngModel" ngDefaultControl>
                </rds-input>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <rds-input size="medium" [label]="'Site Secret'" [labelPosition]="'top'" inputType="text" name="secret"
                [isRequired]=true required [disabled]="false" [readonly]="false" [placeholder]="'Enter Secret'"
                [(ngModel)]="accountData.secret" #secret="ngModel" ngDefaultControl>
            </rds-input>
        </div>
    </div>
    <div class="border-bottom text-muted mt-4 fw-bold">
        <rds-label [label]="'External Provider '"></rds-label>
    </div>
    <div class="row pt-3" *ngFor="let externalProvider of _externalProviders">
        <div class="col-md-12 mb-1">
            <rds-checkbox [disabled]="false" [label]="externalProvider.name" (onChange)="onExternalProviderChange($event,externalProvider)" [checked]="externalProvider.enabled"
                [name]="externalProvider.name" [withLabel]="true" [switch]="false" [inline]="false"
                [(ngModel)]="externalProvider.enabled"></rds-checkbox>
        </div>
        <ng-container *ngIf="externalProvider.enabled">
            <div class="col-md-4 mt-1" *ngFor="let property of externalProvider.properties">
                <div class="form-group ">
                    <rds-input size="medium" [label]="property.name" [labelPosition]="'top'" inputType="text"
                        [name]="property.name" [isRequired]=true required [disabled]="false" [readonly]="false"
                        [placeholder]="property.name" [(ngModel)]="property.value" ngDefaultControl>
                    </rds-input>
                </div>
            </div>
            <div class="col-md-4 mt-1" *ngFor="let property of externalProvider.secretProperties">
                <div class="form-group ">
                    <rds-input size="medium" [label]="property.name" [labelPosition]="'top'" inputType="text"
                        [name]="property.name" [isRequired]=true required [disabled]="false" [readonly]="false"
                        [placeholder]="property.name" [(ngModel)]="property.value" ngDefaultControl>
                    </rds-input>
                </div>
            </div>
        </ng-container>
    </div>


    <div class="footer-buttons my-2 justify-content-end d-flex bottom-0 ">
        <rds-button [label]="'Cancel'" [colorVariant]="'primary'" [size]="'small'" [isOutline]="true">
        </rds-button>
        <rds-button [label]="'Save'" (click)="onSaveAccount()" [size]="'small'" class="ms-2"
            [colorVariant]="'primary'">
        </rds-button>
    </div>
</form>