<form #clientBasicsForm="ngForm">
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              <!-- <div class="form-control-feedback" *ngIf="client_id.errors && (client_id.dirty || client_id.touched)">
                  <span class="text-danger" *ngIf="client_id.errors.required">Client ID is required</span>
                  <span class="text-danger" *ngIf="client_id.errors.pattern">Accept Numbers only</span>
              </div> -->
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              <!-- <div class="form-control-feedback"
                  *ngIf="client_name.errors && (client_name.dirty || client_name.touched)">
                  <span class="text-danger" *ngIf="client_name.errors.required">Client Name is required</span>
              </div> -->
          </div>
      </div>
      <div class="col-md-12 mt-3">
          <div class="form-group">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              <!-- <div class="form-control-feedback"
                  *ngIf="description.errors && (description.dirty || description.touched)">
                  <span class="text-danger" *ngIf="description.errors.required">Description is required</span>
              </div> -->
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              <!-- <div class="form-control-feedback"
                  *ngIf="client_url.errors && (client_url.dirty || client_url.touched)">
                  <span class="text-danger" *ngIf="client_url.errors.required">Client URL is required</span>
              </div> -->
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
              <!-- <div class="form-control-feedback" *ngIf="logo_url.errors && (logo_url.dirty || logo_url.touched)">
                  <span class="text-danger" *ngIf="logo_url.errors.required">Logo URL is required</span>
              </div> -->
          </div>
      </div>
      <div class="col-md-12 mt-3">
          <div class="form-group">
              <!-- <label>Required Consent*</label> -->
              <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'"></ngx-shimmer-loading>
          </div>
      </div>
  </div>
</form>
