<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body p-0">
        <div class="jumbotron careerJumbotron">
          <div class="row align-items-center">
            <div class="col-md-6 ps-5">
              <h1 class="display-4 fw-bold pb-2">Careers</h1>
              <p class="lead text-muted">Finding, Connecting, Building Success</p>
            </div>
            <div class="col-md-6">
              <img src="./assets/carrers-page-illustration.png" class="careerBannerImage" />
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 ps-4">
            <mfe-loader [config]="rdsOpenPositionMfeConfig"></mfe-loader>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
