<div class="bg-light">
  <div class="row">
    <div class="col-md-6">
      <rds-widget [isRefreshRequired]="true" [headerTitle]="translate.instant('Monthly Summary')" (onRefresh)="LoadMonthlySummary()">
        <div body>
          <rds-chart-line [chartLabels]="monthlySummaryLabels" [chartDataSets]="monthlySummaryDataSets"
            [chartOptions]="monthlySummarychartOptions"></rds-chart-line>
        </div>
      </rds-widget>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <rds-widget [isRefreshRequired]="false" [headerTitle]="translate.instant('Sales')" (onRefresh)="LoadSalesData()">
              <div body>
                <rds-big-number-widget [bigNumber]="'$' +SalesPrice" [subText]="'+$' +SalesProfit"
                  [icon]="'triangle_up'" iconHeight="12px" iconWidth="12px"></rds-big-number-widget>
              </div>
            </rds-widget>
          </div>
          <div>
            <rds-widget [isRefreshRequired]="false" [headerTitle]="translate.instant('Revenue')">
              <div body>
                <rds-big-number-widget [bigNumber]="'$' +RevenuePrice" [subText]="'-$' +RevenueProfit"
                  [icon]="'triangle_down'" iconHeight="12px" iconWidth="12px"></rds-big-number-widget>
              </div>
            </rds-widget>
          </div>
        </div>
        <div class="col-md-6">
          <rds-widget [isRefreshRequired]="true" [headerTitle]="translate.instant('Profit Share')" (onRefresh)="LoadProfitShare()">
            <div body>
              <rds-big-number-widget [bigNumber]="'$' +ProfitSharePrice"></rds-big-number-widget>
              <div class="col col-sm-12">
                <rds-chart-doughnut [chartDataSets]="pschartDatasets" chartId="psChart" [chartWidth]="200"
                  [chartLabels]="pschartLabels" [chartOptions]="pschartOptions" chartType="doughnut">
                </rds-chart-doughnut>
              </div>
            </div>
          </rds-widget>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <rds-widget [isRefreshRequired]="false" [headerTitle]="translate.instant('Call Overview')">
              <div body>
                <div class="row">
                  <div class="col col-sm-5">
                    <rds-chart-bool chartId="ConnectedCallschart" [chartDataSets]="ConnectedCallschartDatasets"
                      [chartLabels]="ConnectedCallschartLabels" [chartWidth]="100"
                      [chartOptions]="ConnectedCallschartOptions" chartType="doughnut"></rds-chart-bool>
                  </div>
                  <div class="col col-sm-7">
                    <h5 class="custom-title">{{ConnectedCallsData[0]}}%</h5>
                    <p class="custom-desc">{{"Total Calls Connected"|translate}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-sm-5">
                    <rds-chart-bool chartId="ClientCallschart" [chartDataSets]="ClientCallschartDatasets"
                      [chartLabels]="ClientCallschartLabels" [chartWidth]="100" [chartOptions]="ClientCallschartOptions"
                      chartType="doughnut"></rds-chart-bool>
                  </div>
                  <div class="col col-sm-7">
                    <h5 class="custom-title">{{ClientCallsData[0]}}%</h5>
                    <p class="custom-desc">{{"Total Clients Called"|translate}}</p>
                  </div>
                </div>
              </div>
            </rds-widget>
          </div>
          <div>
            <rds-widget [isRefreshRequired]="false" [headerTitle]="translate.instant('Sales')">
              <div body>
                <rds-big-number-widget [bigNumber]="'$' +SalesPrice" [subText]="'-$' +SalesProfit"
                  [icon]="'triangle_up'" iconHeight="12px" iconWidth="12px"></rds-big-number-widget>
              </div>
            </rds-widget>
          </div>
        </div>
        <div class="col-md-6">
          <rds-widget [isRefreshRequired]="true" [headerTitle]="translate.instant('Daily Sales Growth')"
            (onRefresh)="LoadDailySalesGrowth()">
            <div body>
              <rds-big-number-widget [bigNumber]="'$' +DailySalesGrowth" [subText]="'-$' +SalesGrowthLoss"
                [icon]="'triangle_down'" iconHeight="12px" iconWidth="12px"></rds-big-number-widget>
              <rds-chart-bar-horizontal [chartLabels]="barHrChartLabels" [chartDataSets]="barHrChartDatasets"
                [chartOptions]="barHrChartOptions" [chartWidth]="300">
              </rds-chart-bar-horizontal>
            </div>
          </rds-widget>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <rds-widget [isRefreshRequired]="true" [headerTitle]="translate.instant('Member Activity')" (onRefresh)="LoadMemberActivityTable()">
        <div body>
          <mfe-loader [config]="rdsMemberActivityTableMfeConfig"></mfe-loader>
        </div>
      </rds-widget>
    </div>
  </div>
</div>