<!--<ng-container *ngIf="currentAlerts&&currentAlerts.length>0">
    <mfe-loader [config]="rdsAlertMfeConfig"></mfe-loader>
</ng-container>-->
<div [@fadeAnimation]="isAnimation ? 'fadeAnimation' : ''">
  <!-- <mfe-loader [config]="rdsUserMfeConfig"></mfe-loader> -->

  <rds-comp-user-permissions-new
  [userList]="userList"
  [roles]="roles"
  [userinfo]="userinfo"
  [organizationTreeList]="organizationTreeList"
  [orgTreeData]="treeData1"
  [selectedPermissions]="selectedPermissions"
  [selectedOrganizations]="selectedOrganizations"
  [Selectedata]="Selectedata"
  [listItemsm]="listItemsm"
  [userHeaders]="userHeaders"
  [userTableData]="UserTableData"
  (Saveuserinfo)="Saveuserinfo($event)"
  (CreateOrEditUser)="CreateOrEditUser($event)"
  (onClose)="onClose($event)"
  (deleteUser)="deleteUser($event)"
  ></rds-comp-user-permissions-new>
</div>

