<!-- <div [@fadeAnimation]="isAnimation ? 'fadeAnimation' : ''"> -->
<!-- <mfe-loader [config]="rdsUserMfeConfig"></mfe-loader> -->
<div [@fadeAnimation]="isAnimation ? 'fadeAnimation' : ''">

  <rds-comp-user-permissions [userList]="userList" [roles]="roles" [isEdit]="isEdit" [orgTreeData]="orgTreeData"
    [userinfo]="userinfo" [isShimmer]="isShimmer" [editShimmer]="editShimmer" [permissionsList]="Permission"
    [OrganizationUnit]="OrganizationUnit" [selectedOrganizations]="SelectedOrganizationUnit"
    [selectedPermissions]="selectedPermissions" (Saveuserinfo)="Saveuserinfo($event)" (onClose)="onClose($event)"
    (deleteUser)="deleteUser($event)" (FilterPermission)="FilterPermission($event)"
    (CreateOrEditUser)="CreateOrEditUser($event)"
    (UpdateUserPermission)="UpdateUserPermission($event)"></rds-comp-user-permissions>
</div>
<!-- <rds-comp-user-permissions [AuthentiactionList]="AuthentiactionList"></rds-comp-user-permissions> -->
<!-- </div> -->

<!-- <rds-dropdownlist
  [listItems]="AuthentiactionList"
  [placeholder]="'Select Authentiaction'"
  [size]="'small'"
  [id]="AuthentiactionList"
  [multiSelect]="false" 
  [borderDropdown]="false" 
></rds-dropdownlist> -->

<!-- <rds-dropdownlist [placeholder]="translate.instant('Edition')" [borderDropdown]="true"
      class="text-dark" [id]="'listItems'"  [listItems]="AuthentiactionList"
      [placeholder]="'Select Authentiaction'" ngDefaultControl >
    </rds-dropdownlist> -->