<form #editionfeaturesForm="ngForm">
<div class="row">
  <div class="col-md-12 form-group mt-2">
    <div class="border-bottom text-muted">
      <rds-label [label]="'Identity'"></rds-label>
    </div>
    <div class="row">
      <div class="col-md-6 mt-4">
        <rds-select-list [label]="'Edition'" required [isRequired]=true ngDefaultControl LabelType="Top" name="edition"
          [itemList]="EditionList" [placeholder]="'Optional'"  [(ngModel)]="editionFeaturesData.edition" #edition="ngModel">

        </rds-select-list>
      </div>
      <span class="text-muted fs-6">Set two Factor behavior. Optional value:Optional Disabled,Forced </span>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-md-12 form-group mt-4">

    <rds-label [label]="'Maximum Result Count'"></rds-label>

    <div class="row">
      <div class="col-md-6 mt-3">
        <rds-counter [counterValue]="0" label="" name="MaxCount" [width]="124" colorVariant="primary" [(ngModel)]="editionFeaturesData.MaxCount" #MaxCount="ngModel"></rds-counter>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 form-group mt-5">
    <div class="border-bottom text-muted">
      <rds-label [label]="'Settings Management'"></rds-label>
    </div>
    <div class="row">
      <div class="col-md-6 form-group mt-3">
        <rds-checkbox label="Enable Settings Management" [checked]="false" [disabled]="false" [switch]="false" [checked]="editionFeaturesData.setting"
          [inline]="false" id="settingEnabled" [withLabel]="true" name="setting" [isInputGroup]="false" state="checkbox"  [(ngModel)]="editionFeaturesData.setting" #setting="ngModel"></rds-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12  mt-5">
    <div class="border-bottom text-muted">
      <rds-label [label]="'Language Management'"></rds-label>
    </div>
    <div class="row">
      <div class="col-md-6 form-group mt-3">
        <rds-checkbox label="Enable Language Management" [checked]="false" [disabled]="false" [switch]="false" name="" [checked]="editionFeaturesData.language"
          [inline]="false" id="languageEnabled" name="language" [withLabel]="true" [isInputGroup]="false" state="checkbox"  [(ngModel)]="editionFeaturesData.language" #language="ngModel"></rds-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12  mt-5">
    <div class="border-bottom text-muted">
      <rds-label [label]="'Text Template Management'"></rds-label>
    </div>
    <div class="row">
      <div class="col-md-8 form-group mt-3">
        <rds-checkbox label="Enable Text Template Management" [checked]="false" [disabled]="false" [switch]="false" [checked]="editionFeaturesData.textTemplate"
          [inline]="false" id="textTemplateEnabled" [withLabel]="true" name="textTemplate"  [isInputGroup]="false" state="checkbox" [(ngModel)]="editionFeaturesData.textTemplate" #textTemplate="ngModel"></rds-checkbox>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mt-5">
    <div class="border-bottom text-muted">
      <rds-label [label]="'Theme Management'"></rds-label>
    </div>
    <div class="row">
      <div class="col-md-6 form-group mt-3">
        <rds-checkbox label="Enable Theme Management" [checked]="false" [disabled]="false" [switch]="false" [checked]="editionFeaturesData.theme"
          [inline]="false" id="themeEnabled" name="theme" [withLabel]="true" [isInputGroup]="false" state="checkbox" [(ngModel)]="editionFeaturesData.theme" #theme="ngModel"></rds-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12  mt-5">
    <div class="border-bottom text-muted">
      <rds-label [label]="'Audit Logging'"></rds-label>
    </div>
    <div class="row">
      <div class="col-md-6 form-group mt-3">
        <rds-checkbox label="Enable Audit Logging Page" [checked]="false" [disabled]="false" [switch]="false" [checked]="editionFeaturesData.auditLog"
          [inline]="false" id="auditLogEnabled" [withLabel]="true" name="auditLog" [isInputGroup]="false" state="checkbox" [(ngModel)]="editionFeaturesData.auditLog" #auditLog="ngModel"></rds-checkbox>
      </div>
    </div>
  </div>
</div>
</form>