<div class=" " style="background-color: lightsteelblue;">
    <div class="align-items-center d-flex justify-content-center login m-auto" style="max-width: 900px; height: 100vh;">
      <div class="container-fluid m-2">
        <div class="bg-white row rounded-3">
          <div class="col-md-6">
            <div class="py-4 px-3">
              <div class="pb-4">
                <div href="#" class="text-center">
                  <img src="../assets/Raaghu-logo-mfe-black.png" class="img-fluid">
                </div>
              </div>
              <div class="text-center">
                <div>
                  <h2 class="pb-3"> <b> Forgot Password</b> </h2>
                  <div>
                    <form>
                      <div class="form-group mb-3 text-start">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                      
                        <div class="row d-flex justify-content-between mt-2">
                          <div class="col-md-12">
                            <div>Remember Password<a class="text-decoration-none">"Login"</a></div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="mb-2">
                        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
                        </ngx-shimmer-loading>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 order-1 order-sm-2 rounded-end"
               style="background-image: url(../assets/Login-card.svg); background-size: cover; background-position: center;">
          </div>
        </div>
      </div>
    </div>
  </div>
