<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      (onChange)="SelectAllclaims($event)"
      [id]="'SelectAllclaims'"></rds-checkbox>
     
<div class="fw-bold mt-4">
     <rds-label [label]="'A-E'"></rds-label>
    </div><hr>
<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      [checked]="AtoEcheckedAll"
      [(ngModel)]="AtoEcheckedAll"
      (onChange)="SelectAllAtoEclaims($event)"
      [id]="'SelectAllAtoEclaims'"></rds-checkbox>
<div class="row" >
    <div class="col-md-4 mt-4" *ngFor="let item of ClaimData.claim_ato_e">
        <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_ato_e'"></rds-checkbox>
    </div>
</div>


<div class="fw-bold mt-4">
    <rds-label [label]="'F-O'"></rds-label>
</div><hr>
<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [checked]="FtoOcheckedAll"
      [(ngModel)]="FtoOcheckedAll"
      [isInputGroup]="false"
      (onChange)="SelectAllFtoOclaims($event)"
      [id]="'SelectAllFtoOclaims'"></rds-checkbox>
<div class="row" >
    <div class="col-md-4 mt-4" *ngFor="let item of ClaimData.claim_f_to_o">
        <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_f_to_o'"></rds-checkbox>
    </div>
</div>


<div class="fw-bold mt-4">
    <rds-label [label]="'P-Z'"></rds-label>
</div><hr>
<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      [checked]="PtoZcheckedAll"
      [(ngModel)]="PtoZcheckedAll"
      (onChange)="SelectAllPtoZclaims($event)"
      [id]="'SelectAllPtoZclaims'"></rds-checkbox>
<div class="row" >
    <div class="col-md-4 mt-4" *ngFor="let item of ClaimData.claim_p_to_z">
        <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_p_to_z'"></rds-checkbox>
    </div>
</div>

<div class="action-buttons w-100 my-4 sm-p-0">
    <rds-button [label]="'Cancel'"
    [colorVariant]="'primary'" data-bs-dismiss="offcanvas" [isOutline]="true" [size]="'small'">
  </rds-button>
  <rds-button  [id]="'yes'" [size]="'small'" [tooltipPlacement]="'top'" class="ms-2"
  [colorVariant]="'primary'"  [label]="'CREATE'" (click)="SaveClaimData()">
</rds-button>
  </div>
