<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      (onChange)="SelectAllclaims($event)"
      [id]="'SelectAllclaims'"></rds-checkbox>
     <hr>
<div class="fw-bold">
     <rds-label [label]="'A-E'"></rds-label>
    </div>
<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      [checked]="AtoEcheckedAll"
      [(ngModel)]="AtoEcheckedAll"
      (onChange)="SelectAllAtoEclaims($event)"
      [id]="'SelectAllAtoEclaims'"></rds-checkbox>
<div class="row" >
    <div class="col-md-4" *ngFor="let item of ClaimData.claim_ato_e">
        <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_ato_e'"></rds-checkbox>
    </div>
</div>
<hr>

<div class="fw-bold">
    <rds-label [label]="'F-O'"></rds-label>
</div>
<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [checked]="FtoOcheckedAll"
      [(ngModel)]="FtoOcheckedAll"
      [isInputGroup]="false"
      (onChange)="SelectAllFtoOclaims($event)"
      [id]="'SelectAllFtoOclaims'"></rds-checkbox>
<div class="row" >
    <div class="col-md-4" *ngFor="let item of ClaimData.claim_f_to_o">
        <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_f_to_o'"></rds-checkbox>
    </div>
</div>
<hr>

<div class="fw-bold">
    <rds-label [label]="'P-Z'"></rds-label>
</div>
<rds-checkbox label="Select all"
      [disabled]="false"
      [switch]="false"
      [inline]="false"
      [withLabel]="true"
      [isInputGroup]="false"
      [checked]="PtoZcheckedAll"
      [(ngModel)]="PtoZcheckedAll"
      (onChange)="SelectAllPtoZclaims($event)"
      [id]="'SelectAllPtoZclaims'"></rds-checkbox>
<div class="row" >
    <div class="col-md-4" *ngFor="let item of ClaimData.claim_p_to_z">
        <rds-checkbox [label]="item.label"
        [checked]="item.checked"
        [disabled]="false"
        [switch]="false"
        [inline]="false"
        [withLabel]="true"
        [isInputGroup]="false"
        [(ngModel)]="item.checked"
        ngDefaultControl
       [id]="'claim_p_to_z'"></rds-checkbox>
    </div>
</div>
<div class="footer">
    <div class="d-flex">
        <div class="m-2">
    <rds-button [label]="'Cancel'"
    [colorVariant]="'primary'" data-bs-dismiss="offcanvas" [outlineButton]="true" [size]="'small'">
  </rds-button>
        </div>
  <div class="m-2">
        <rds-button  [id]="'yes'" [size]="'small'" [tooltipPlacement]="'top'"
        [colorVariant]="'primary'"  [label]="'CREATE'" (click)="SaveClaimData()">
    </rds-button>
  </div>
</div>
</div>
