<form #clientBasicsForm="ngForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <!-- <label>Client ID</label> -->
                <rds-input [inputType]="'text'" [Title]="translate.instant('Client ID')" #client_id="ngModel" [TitleType]="'Top'"  [isRequired]=true  [pattern]="numberPattern" [(ngModel)]="clientBasics.clientId" name="clientId"
                    required [placeholder]="'Enter ID'">
                </rds-input>
                <div class="form-control-feedback" *ngIf="client_id.errors && (client_id.dirty || client_id.touched)">
                    <span class="text-danger" *ngIf="client_id.errors.required">{{"Client ID is required" | translate}}</span>
                    <span class="text-danger" *ngIf="client_id.errors.pattern">Accept Numbers only</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <!-- <label>Client Name</label> -->
                <rds-input [inputType]="'text'" [Title]="translate.instant('Client name')" #client_name="ngModel" [TitleType]="'Top'" [(ngModel)]="clientBasics.clientName"
                    name="clientName" [isRequired]=true  required [placeholder]="'Enter Client Name'">
                </rds-input>
                <div class="form-control-feedback"
                    *ngIf="client_name.errors && (client_name.dirty || client_name.touched)">
                    <span class="text-danger" *ngIf="client_name.errors.required">Client Name is required</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="form-group">
                 <label class="mb-2">Description</label>
                <rds-textarea #description="ngModel" title="Description" [placeholderText]="'Enter Description'"
                    [value]="clientBasics.description" [(ngModel)]="clientBasics.description" name="desc" required>
                </rds-textarea>
                <div class="form-control-feedback"
                    *ngIf="description.errors && (description.dirty || description.touched)">
                    <span class="text-danger" *ngIf="description.errors.required">Description is required</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="form-group">
                <!-- <label>Client URL</label> -->
                <rds-input [inputType]="'text'" [Title]="translate.instant('Client URL')" #client_url="ngModel" [TitleType]="'Top'" [(ngModel)]="clientBasics.clientUrl"
                    name="clientUrl"  [isRequired]=true  required [placeholder]="'Enter URL'">
                </rds-input>
                <div class="form-control-feedback"
                    *ngIf="client_url.errors && (client_url.dirty || client_url.touched)">
                    <span class="text-danger" *ngIf="client_url.errors.required">Client URL is required</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="form-group">
                <!-- <label>Logo URL</label> -->
                 <rds-input [inputType]="'text'" [Title]="translate.instant('Logo URL')" #logo_url="ngModel" [TitleType]="'Top'" [(ngModel)]="clientBasics.logoUrl" name="logoUrl" [isRequired]=true 
                    required [placeholder]="'Enter URL'">
                </rds-input>
                <div class="form-control-feedback" *ngIf="logo_url.errors && (logo_url.dirty || logo_url.touched)">
                    <span class="text-danger" *ngIf="logo_url.errors.required">Logo URL is required</span>
                </div>             
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="form-group">
                <!-- <label>Required Consent*</label> -->
                <rds-checkbox [disabled]="false" [label]="'Required Consent'"
                [checked]="clientBasics.requiredConsent" [(ngModel)]="clientBasics.requiredConsent"
                name="check-box" [withLabel]="true" [switch]="false"
                [inline]="false" [id]="'requiredConsent'"></rds-checkbox>
            </div>
        </div>
    </div>
</form>