<div [ngSwitch]="productType">
  <div class="col md-6">
    <!-- product overview 1 -->
    <div *ngSwitchCase="'producroverview1'">
      <div class="col md-6">
        <div class="mb-2">
          <rds-price [discount]="5" [actualPrice]="1000"></rds-price>
        </div>
        <div>
          <rds-rating [rating]="3.9" colorVariant="review" [noOfReview]="123" Size="small" [withNoOfReviews]="true"></rds-rating>
        </div>
        <div class="mt-3">
          <rds-label label="Color" [bold]="true"></rds-label>
          <rds-color [itemList]="itemList" [defaultValue]="1"></rds-color>
        </div>
        <div class="mt-3">
          <rds-label label="Size"></rds-label>
          <span class="float-end">
            <rds-label class="text-primary" label="Size guide"></rds-label>
          </span>
          <div>
            <rds-size [sizeData]="sizeData" [sizeType]="'withoutDescription'"></rds-size>
          </div>
        </div>
        <div class="mt-3 align-items-center d-flex justify-content-between ms-0">
          <div class="p-1">
            <rds-icon height="15px" [fill]="false" [stroke]="true" width="15px" name="heart" [colorVariant]="'dark'"></rds-icon>
            <!-- <rds-icon class="position-absolute icon-positionheart" [id]="item.id" [colorVariant]="item.iconColor"
                     [name]="item.icon" width="20px" height="20px" [stroke]="true" 
                    [fill]="item.fill"
                    ></rds-icon> -->
          </div>
          <div class="p-1 w-50 sm-100">
            <rds-button colorVariant="primary" [isOutline]="true" [block]="true" size="medium" label="Add To BAG">
            </rds-button>
          </div>
          <div class="p-1 w-50 sm-97">
            <rds-button colorVariant="primary" [block]="true" size="medium" label="BUY NOW"></rds-button>
          </div>
        </div>

      </div>
      
    </div>
    <!-- product overview 2 -->
    <div *ngSwitchCase="'producroverview2'">
      <div class="d-flex align-items-center justify-content-between">
        <span class="d-flex align-items-center sm-block"><span class="h3 fw-bold mb-0">
            <rds-label label="Basic Tee"></rds-label>
          </span>
          <rds-button class="position-relative" [size]="'medium'" [colorVariant]="'default'" [isOutline]="false"
            [isFabIcon]="false" type="button">
            <rds-icon name="featured" height="18px" colorVariant="warning" width="18px"></rds-icon>
            <rds-badge right size="smallest" colorVariant="warning" label="Assured" [badgeType]="'pill'"
              [positioned]="false">
            </rds-badge>
          </rds-button>
        </span>
        <span class="float-end pt-1">
          <!-- <rds-price [discount]="5" [actualPrice]="1000"></rds-price> -->
          <!-- <rds-icon class="text-light" name="question" height="18px" width="18px" [fill]="false" [stroke]="true" [colorVariant]="'warning'"></rds-icon> -->
          <rds-price [discount]="60" [actualPrice]="100" role="Basic"></rds-price>
        </span>
      </div>
      <div class="mt-3">
        <rds-rating [rating]="3.9" colorVariant="review" [noOfReview]="123" Size="small" [withNoOfReviews]="true"></rds-rating>
      </div>
      <div class="mt-3">
        <rds-label label="Color"></rds-label>
        <rds-color [itemList]="itemList" [defaultValue]="1"></rds-color>
      </div>
      <div class="mt-3">
        <rds-label label="Size"></rds-label>
        <span class="float-end">
          <rds-label class="text-primary" label="Size guide"></rds-label>
        </span>
        <div>
          <rds-size [sizeData]="sizeData" [sizeType]="'withoutDescription'"></rds-size>
        </div>
      </div>
      <div class="mt-3 align-items-center d-flex justify-content-between ms-0">
        <div class="p-1">
          <rds-icon height="15px" [fill]="false" [stroke]="true" width="15px" name="heart"></rds-icon>
        </div>
        <div class="p-1 w-50 sm-100">
          <rds-button colorVariant="primary" [isOutline]="true" [block]="true" size="medium" label="Add To BAG">
          </rds-button>
        </div>
        <div class="p-1 w-50 sm-97">
          <rds-button colorVariant="primary" [block]="true" size="medium" label="BUY NOW"></rds-button>
        </div>
      </div>
      <div class="mt-3 border-bottom pb-3">
        <h6>
          <rds-label label="Details"></rds-label>
        </h6>
        <p class="text-muted fs-6 mb-2">
          <rds-label
            label=" The 6-Pack includes two black, two white, and two heather gray Basic Tees. Sign up for our subscription service and be the first to get new, exciting colors, like our upcoming Charcoal Gray limited release."
            [multiline]="false" [bold]="false" [italic]="false"></rds-label>
        </p>
        <p class="text-muted fs-6">
          <rds-label
            label=" The 6-Pack includes two black, two white, and two heather gray Basic Tees. Sign up for our subscription service and be the first to get new, exciting colors, like our upcoming."
            [multiline]="false" [bold]="false" [italic]="false"></rds-label>
        </p>
      </div>
      <div class="mt-4">
        <rds-feature-list header="Fabric & Care" [listItems]="listItems" [columns]="1"></rds-feature-list>
      </div>
      <div class="d-flex mt-3 sm-block">
        <rds-icon-label [iconposition]="'left'" [icon]="'refresh_sync'" [label]="'14 Days return policy'"
          [size]="'medium'" [colorVariant]="'primary'"></rds-icon-label>
        <div>
          <rds-icon-label [iconposition]="'left'" [icon]="'refresh_sync'" [label]="'14 Days return policy'"
          [size]="'medium'" [colorVariant]="'primary'" ></rds-icon-label>
        </div>
       
        <!-- <div>
          <rds-icon [height]="'20px'" [fill]="true" [stroke]="true" [width]="'20px'" [name]="'question'" [colorVariant]="'secondary'">
          </rds-icon>
        </div> -->
        <rds-icon-label class="mx-3" [iconposition]="'left'" [icon]="'money'" [label]="'Cash on delivery available'"
          [size]="'medium'" [colorVariant]="'primary'"></rds-icon-label>
          <!-- [size]="'medium'" [colorVariant]="'primary'"></rds-icon-label> -->
          <!-- <div>
            lafoiahoi
          </div> -->
      </div>
      <div class="mt-3">
        <rds-comp-benefit [itemList]="itemListbenefit"></rds-comp-benefit>
      </div>
    </div>
    <div *ngSwitchCase="'producroverview3'">
      <div class="d-flex align-items-center justify-content-between">
        <span class="d-flex align-items-center sm-block">
          <span class="h3 fw-bold">
            <rds-label label="Girls' Sling Bag"></rds-label>
          </span>
          <rds-button class="position-relative" [size]="'medium'" [colorVariant]="'default'" [isOutline]="false"
            [isFabIcon]="false" type="button">
            <rds-icon name="featured" height="18px" width="18px" colorVariant="warning"></rds-icon>
            <rds-badge right size="smallest" colorVariant="warning" label="Assured" [badgeType]="'pill'"
              [positioned]="false">
            </rds-badge>
          </rds-button>
        </span>
        <span class="float-end pt-1">
          <!-- <rds-price [discount]="5" [actualPrice]="1000"></rds-price> -->
          <rds-price role="withoutDiscount" [numberPricetwo]="120"></rds-price>
        </span>
      </div>
      <div class="mt-3">
        <rds-rating [rating]="3.9" colorVariant="review" [noOfReview]="123" Size="small" [withNoOfReviews]="true"></rds-rating>
      </div>
      <div class="mt-3">
        <rds-label label="Color"></rds-label>
        <rds-color [itemList]="itemList" [defaultValue]="1"></rds-color>
      </div>
      <div class="mt-3">
        <small class="text-muted me-5 pe-5">
          <rds-label label=" A handcrafted printed canvas women's cross body sling bag of high quality with PU Flap, 
                meticulously stitched together into a gorgeous, timeless, and durable masterpiece 
                that will stand up to daily wear and tear for many years to come." [multiline]="true" [bold]="false"
            [italic]="false"></rds-label>
        </small>
      </div>

      <div class="mt-3 pb-3 align-items-center d-flex justify-content-between ms-0 border-bottom">
        <div class="p-1">
          <rds-icon height="15px" [fill]="false" [stroke]="true" width="15px" name="heart"></rds-icon>
        </div>
        <div class="p-1 w-50 sm-100">
          <rds-button colorVariant="primary" [isOutline]="true" [block]="true" size="medium" label="Add To BAG">
          </rds-button>
        </div>
        <div class="p-1 w-50 sm-97">
          <rds-button colorVariant="primary" [block]="true" size="medium" label="BUY NOW"></rds-button>
        </div>
      </div>
      <div class="mt-4">
        <rds-feature-list header="Features" [listItems]="listItems" [columns]="2"></rds-feature-list>
      </div>
      <div class="d-flex mt-3 pb-3 sm-block">
        <rds-icon-label [iconposition]="'left'" [icon]="'refresh_sync'" [label]="'14 Days return policy'"
          [size]="'small'" [colorVariant]="'primary'"></rds-icon-label>
        <rds-icon-label class="mx-3" [iconposition]="'left'" [icon]="'money'" [label]="'Cash on delivery available'"
          [size]="'small'" [colorVariant]="'primary'"></rds-icon-label>
      </div>
      <div>
        <rds-accordian [border]="true" [outline]="false">
          <accordion-item title="Care" [accordionIcon]="true">
            <h3>Custom</h3>
          </accordion-item>
          <accordion-item title="Shipping" [accordionIcon]="true">
            <h3>Custom</h3>
          </accordion-item>
        </rds-accordian>
      </div>
    </div>
    <div *ngSwitchCase="'producroverview4'">
      <div class="d-flex align-items-center justify-content-between">
        <span class="d-flex align-items-center sm-block">
          <span class="h3 fw-bold">
            <rds-label label="Girls' Sling Bag"></rds-label>
          </span>
          <rds-button class="position-relative" [size]="'medium'" [colorVariant]="'default'" [isOutline]="false"
            [isFabIcon]="false" type="button">
            <rds-icon name="featured" height="18px" colorVariant="warning" width="18px"></rds-icon>
            <rds-badge right size="smallest" colorVariant="warning" label="Assured" [badgeType]="'pill'"
              [positioned]="false">
            </rds-badge>
          </rds-button>
        </span>
        <span class="float-end pt-1">
          <!-- <rds-price [discount]="5" [actualPrice]="1000"></rds-price> -->
          <rds-price [discount]="60" [actualPrice]="100" role="Basic"></rds-price>
        </span>
      </div>
      <div class="mt-3">
        <rds-rating [rating]="3.9" colorVariant="review" [noOfReview]="123" size="small" [withNoOfReviews]="true"></rds-rating>
      </div>
      <div class="mt-3">
        <rds-label label="Color"></rds-label>
        <rds-color [itemList]="itemList" [defaultValue]="1"></rds-color>
      </div>
      <div class="mt-3">
        <small class="text-muted me-5 pe-5">
          <rds-label label=" Flying berry hand bag Backpack Are Made Of Faux Leather; 
                This Backpack bag Exudes A Lot Of Class And Elegance.
                 Spacious And Chic, This Backpack bag Will Go Well With Formals And Casuals As Well.
                  This Backpack bag Has Sufficient Space To Carry All Your Needed Essentials With Ease And Comfort."
            [multiline]="true" [bold]="false" [italic]="false"></rds-label>
        </small>
      </div>
      <div class="mt-3">
        <!-- <rds-label label="In stock and ready to shop"></rds-label> --> 
        <rds-icon-label class="text-muted fw-medium" [colorVariant]="'success'" [stroke]="true"  [icon]="'check'" [label]="'In stock and ready to shop'">
        </rds-icon-label>
      </div>
      <div class="mt-3">
        <h6>
          <rds-label label="Size"></rds-label>
        </h6>
        <div class="sizeWidth">
          <rds-size [sizeDataWithDescription]="sizeDataWithDescription" [sizeType]="'withDescription'"></rds-size>
        </div>
      </div>
      <div>
        <rds-icon-label [iconposition]="'right'" [fill]="false" [stroke]="true" [colorVariant]="'success'" [label]="'What size should I buy?'" [size]="'small'">
        </rds-icon-label>
      </div>
      <div class="mt-3 pb-3 align-items-center d-flex justify-content-between ms-0">
        <div class="p-1">
          <rds-icon height="15px" [fill]="false" [stroke]="true" width="15px" name="heart"></rds-icon>
        </div>
        <div class="p-1 w-50 sm-100">
          <rds-button colorVariant="primary" [isOutline]="true" [block]="true" size="medium" label="Add To BAG">
          </rds-button>
        </div>
        <div class="p-1 w-50 sm-97">
          <rds-button colorVariant="primary" [block]="true" size="medium" label="BUY NOW"></rds-button>
        </div>
      </div>
      <div class="d-flex sm-block mt-3">
        <rds-icon-label [iconposition]="'left'" [icon]="'refresh_sync'" [label]="'14 Days return policy'"
          [size]="'small'" [colorVariant]="'primary'"></rds-icon-label>
        <rds-icon-label class="mx-3" [iconposition]="'left'" [icon]="'money'" [label]="'Cash on delivery available'"
          [size]="'small'" [colorVariant]="'primary'"></rds-icon-label>
      </div>
    </div>
    <div *ngSwitchCase="'productoverviewdescription'">
      <div>
        <h3 class="fw-bold">
          <rds-label label="Basic Tee 6-Pack"></rds-label>
          <rds-button class="position-relative" [size]="'medium'" [colorVariant]="'default'" [isOutline]="false"
            [isFabIcon]="false" type="button">
            <rds-icon name="featured" height="18px" colorVariant="warning" width="18px"></rds-icon>
            <rds-badge right size="smallest" colorVariant="warning" Types="primary" label="Assured" [badgeType]="'pill'"
              [positioned]="false">
            </rds-badge>
          </rds-button>
        </h3>
        <div class="mb-4">
          <small class="text-muted">
            <rds-label label="The Basic Tee 6-Pack allows you to fully express your vibrant
                  personality with three grayscale options. Feeling adventurous? Put
                  on a heather gray tee. Want to be a trendsetter? Try our exclusive
                  colorway: Black. Need to add an extra pop of color to your
                  outfit? Our white tee has you covered." [multiline]="true" [bold]="false" [italic]="false">
            </rds-label>
          </small>
        </div>
        <div class="mb-5">
          <rds-feature-list header="Highlights" [listItems]="listItems" [columns]="1"></rds-feature-list>
        </div>
        <div>
          <rds-label label="Details" [bold]="true"></rds-label>
          <small class="text-muted">
            <rds-label label=" The 6-Pack includes two black, two white, and two heather gray
                  Basic Tees. Sign up for our subscription service and be the first
                  to get new, exciting colors, like our upcoming Charcoal Gray
                  limited release." [multiline]="true" [bold]="false" [italic]="false"></rds-label>
          </small>
        </div>
        <div class="d-flex sm-block">
          <rds-icon-label [iconposition]="'left'" [icon]="'refresh_sync'" [label]="'14 Days return policy'"
            [size]="'small'" [colorVariant]="'primary'"></rds-icon-label>
          <rds-icon-label class="mx-3" [iconposition]="'left'" [icon]="'money'" [label]="'Cash on delivery available'"
            [size]="'small'" [colorVariant]="'primary'"></rds-icon-label>
        </div>
      </div>
    </div>
  </div>
</div>