/* You can add global styles to this file, and also import other style files */
 /* @import '~cookieconsent/build/cookieconsent.min'; */ 
body {
  padding-top: 0rem;
} 
/* .starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
} */


.mfe-outline {
  /*border: 2px dotted red;*/
  padding: 74px;
}

