<div [ngSwitch]="templateType">
    <div classs="container">
        <div *ngSwitchCase="'Template_1'">
            <div class="marketing-temp-one d-grid align-items-center">
                <div class="w-75 mx-auto sm-w">
                    <div class="pt-5 sm-pt-0">
                        <img src="static/media/.storybook/assets/raaghu-logo.svg" alt="Raaghu" class="raaghu-lg">
                        <h2 class="fw-normal pt-3">
                            Trusted by families.
                        </h2>
                        <h2 class="fw-normal pb-3">
                            Loved by caregivers.
                        </h2>
                    </div>
                    <div class="card p-3 mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h4 class="mb-4 pb-2 fw-normal">Let's get started. Choose an option</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 border-end">
                                <div class="text-center">
                                    <div class="mb-2">
                                        <h5>I need a care giver</h5>
                                    </div>
                                    <div class="mb-3"><small>Start your free search for care in your area.</small></div>
                                    <rds-button [block]="false" [size]="'medium'" [isRounded]="true"
                                        [colorVariant]="'warning'" [label]="translate.instant('Find care')"
                                        (click)="onFindCare.emit()">
                                    </rds-button>
                                </div>
                            </div>
                            <div class="col-md-6 sm-pt">
                                <div class="text-center">
                                    <div class="mb-2">
                                        <h5>I want a care job</h5>
                                    </div>
                                    <div class="mb-3">
                                        <small>Create a free profile and search for jobs.</small>
                                    </div>
                                    <rds-button [block]="false" [size]="'medium'" [isRounded]="true"
                                        [colorVariant]="'warning'" [label]="translate.instant('Find jobs')"
                                        (click)="onFindJob.emit()">
                                    </rds-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div *ngSwitchCase="'Template_2'">
            <div class="row">
                <div class="marketing-temp-two d-flex align-items-center text-center justify-content-center vh-100">
                    <div class="mb-4">
                        <h1 class="text-white fw-bold">Would You like to get</h1>
                        <div class="mb-4">
                            <h2 class="text-white fw-bold w-75 mx-auto py-3">The RDS Components & elements guide for
                                Users in 2023?</h2>
                        </div>
                        <div class="">
                            <div class="mb-4">
                                <rds-button [block]="false" [size]="'medium'" [colorVariant]="'primary'"
                                    [label]="translate.instant('Yes, Tell me more about the guide')"
                                    (click)="onGuide.emit()">
                                </rds-button>
                            </div>
                            <div>
                                <rds-button [block]="false" [size]="'medium'" [isOutline]="true"
                                    [colorVariant]="'primary'"
                                    [label]="translate.instant('No Thanks, I am already a complete RDS expert')"
                                    (click)="onNotRequired.emit()">
                                </rds-button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Template_3'">
            <div class="marketing-temp-three d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <div class="mt-4">
                        <h1 class="fw-bold text-white">
                            WOAH, HOLD ON THERE.
                        </h1>
                        <h5 class="fw-bold text-white w-75 mx-auto py-3 sm-w">
                            We have just launched our brand new web experience! To celebrate, we're offering 50% off for
                            a limited time.
                        </h5>
                        <div class="card p-4 mt-4 mx-auto w-50 sm-w">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <div class="mb-3">
                                            <h4>Claim your 50% off discount code</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <rds-input [size]="'medium'" name="emailAddress" [placeholder]="'Enter emailid...'"
                                        id="txtUsername" #emailAddress="ngModel" [pattern]="emailPattern"
                                        ngDefaultControl [(ngModel)]="EmailID" required></rds-input>
                                    <div class="form-control-feedback"
                                        *ngIf="emailAddress.errors&&(emailAddress.dirty||emailAddress.touched)">
                                        <span class="text-danger text-left" *ngIf="emailAddress.errors.pattern">Please
                                            enter
                                            a valid emailId</span>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <rds-button [block]="true" [size]="'medium'" [colorVariant]="'primary'"
                                        [label]="translate.instant('Claim Discount')" (click)="ClaimDiscount()">
                                    </rds-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div *ngSwitchCase="'Template_4'">
            <div class="marketing-temp-four d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <div class="mb-3">
                        <h1 class="fw-light text-white mx-auto w-50 sm-w">
                            Get Voice of Customer Insights that Help Your Business Grow.
                        </h1>
                        <h5 class="fw-medium text-white w-50 mx-auto py-3 sm-w">
                            Analytics tells you what people are doing, RDS tells you why. RDS website surveys uncover
                            customer insights that lead to better business results.
                        </h5>
                        <div class="card p-4 mt-4 mx-auto w-50 sm-w">
                            <form #trialForm="ngForm">
                                <div class="row">
                                    <div class="col-md-8">
                                        <rds-input [size]="'medium'" name="emailAddress"
                                            [placeholder]="'Enter emailid...'" id="txtUsername" #emailAddress="ngModel"
                                            [pattern]="emailPattern" ngDefaultControl [(ngModel)]="EmailID" required>
                                        </rds-input>
                                        <div class="form-control-feedback"
                                            *ngIf="emailAddress.errors&&(emailAddress.dirty||emailAddress.touched)">
                                            <span class="text-danger" *ngIf="emailAddress.errors.pattern">Please enter
                                                a valid emailId</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 sm-mt-1">
                                        <rds-button [block]="true" [size]="'medium'" [colorVariant]="'primary'"
                                            [label]="translate.instant('Start free trial')" (click)="StartFreeTrial()"
                                            [isDisabled]="false">
                                        </rds-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>