<div *ngIf="!editShimmer">
    <div class="tab-content py-4">
        <form #tenantFeatureForm="ngForm">
            <div class="row align-items-center">
                <div class="col-md-12 border-bottom">
                    <rds-label [label]="'Identity'"></rds-label>
                </div>
                <div class="col-md-8 sm-p-0">
                    <div class="form-group mb-3 mt-3">
                        <rds-select-list [(ngModel)]="tenantFeatures[0].value" [label]="translate.instant('Edition')"
                            [value]="tenantFeatures[0].value" ngDefaultControl LabelType="Top" name="edition" name="twoFactorList"
                            [itemList]="twoFactorList" >
                        </rds-select-list>
                    </div>
                    <div class="form-group mb-3">
                        <rds-label [label]="'Maximum user count'"></rds-label>
                        <div class="mt-2">
                            <rds-counter [counterValue]="tenantFeatures[1].value" label="" [width]="124" colorVariant="primary"
                                (counterChange)="counterVal($event)" [(ngModel)]="tenantFeatures[1].value" name="sampleCounter">
                            </rds-counter>
                        </div>
                    </div>
                    <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Ldap Login')"
                    (onChange)="getCheckboxValue($event,'identity 1')" [withLabel]="true"
                    [checked]="tenantFeatures[2].value" [switch]="false" [inline]="false"
                    [id]="'identity'" ></rds-checkbox>

                    <rds-checkbox [disabled]="false" [label]="translate.instant('Enable OAuth Login')"
                    (onChange)="getCheckboxValue($event,'identity 2')" [withLabel]="true"
                    [checked]="tenantFeatures[3].value" [switch]="false" [inline]="false"
                    [id]="'identity'" ></rds-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Settings Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                            <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Settings Management')"
                            (onChange)="getCheckboxValue($event,'settingManagment 1')" [withLabel]="true"
                            [checked]="tenantFeatures[4].value" [switch]="false" [inline]="false"
                            [id]="'settingManagment'" ></rds-checkbox>

                            <rds-checkbox [disabled]="false" [label]="translate.instant('Allow tenants to change email settings.')"
                            (onChange)="getCheckboxValue($event,'settingManagment 2')" [withLabel]="true"
                            [checked]="tenantFeatures[5].value" [switch]="false" [inline]="false"
                            [id]="'settingManagment'" ></rds-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Language Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Language Management')"
                        (onChange)="getCheckboxValue($event,'languageManagement')" [withLabel]="true"
                        [checked]="tenantFeatures[6].value" [switch]="false" [inline]="false"
                        [id]="'languageManagement'" ></rds-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Text Template Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                            <rds-checkbox [disabled]="false" [label]="translate.instant('Enable TextTemplate Management')"
                            (onChange)="getCheckboxValue($event,'textTemplateManagement')" [withLabel]="true"
                            [checked]="tenantFeatures[7].value" [switch]="false" [inline]="false"
                            [id]="'textTemplateManagement'" ></rds-checkbox> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Theme Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                            <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Theme Management')"
                            (onChange)="getCheckboxValue($event,'themeManagement')" [withLabel]="true"
                            [checked]="tenantFeatures[8].value" [switch]="false" [inline]="false"
                            [id]="'themeManagement'" ></rds-checkbox> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Audit Logging'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable auditLoggingPage')"
                            (onChange)="getCheckboxValue($event,'auditLoggingPage')" [withLabel]="true"
                            [checked]="tenantFeatures[9].value" [switch]="false" [inline]="false"
                            [id]="'auditLoggingPage'" ></rds-checkbox>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer-buttons my-2 sm-p-0">
        <rds-button [label]="translate.instant('CANCEL')" [colorVariant]="'primary'" [size]="'small'"
            (click)="onCanceled()" data-bs-dismiss="offcanvas" [isOutline]="true">
        </rds-button>
        <rds-button [label]="translate.instant('SAVE feature')" [size]="'small'" [isDisabled]="tenantFeatureForm.invalid"
            class="ms-2" [colorVariant]="'primary'" (onClick)="save(tenantFeatureForm)" data-bs-dismiss="offcanvas">
        </rds-button>
    </div>
</div>

