<div *ngIf="!editShimmer">
    <div class="tab-content py-4">
        <form #tenantCreationForm="ngForm">
            <div class="row align-items-center">
                <div class="col-md-12 border-bottom">
                    <rds-label [label]="'Identity'"></rds-label>
                </div>
                <div class="col-md-8 sm-p-0">
                    <div class="form-group mb-3 mt-3">
                        <rds-select-list [(ngModel)]="tenantData.edition" [label]="translate.instant('Edition')"
                            [value]="tenantData.edition" ngDefaultControl LabelType="Top" name="edition"
                            [itemList]="editionList" [placeholder]="'Optional'">
                        </rds-select-list>
                    </div>
                    <div class="form-group mb-3">
                        <rds-label [label]="'Maximum user count'"></rds-label>
                        <div class="mt-2">
                            <rds-counter [counterValue]="0" label="" [width]="124" colorVariant="primary"
                                (counterChange)="counterVal($event)" [(ngModel)]="sampleCounter" name="sampleCounter">
                            </rds-counter>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Settings Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Settings Management')"
                            name="check-box" [withLabel]="true" [switch]="false" [inline]="false"
                            [checked]="EnableSettingsManagement" [(ngModel)]="EnableSettingsManagement"
                            name="EnableSettingsManagement" [withLabel]="true" [switch]="false" [inline]="false"
                            [id]="'EnableSettingsManagement'"></rds-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Language Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Language Management')"
                            name="check-box" [withLabel]="true" [switch]="false" [inline]="false"
                            [checked]="EnableLanguageManagement" [(ngModel)]="EnableLanguageManagement"
                            name="EnableLanguageManagement" [withLabel]="true" [switch]="false" [inline]="false"
                            [id]="'EnableLanguageManagement'"></rds-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Text Template Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Text Template Management')"
                            name="check-box" [withLabel]="true" [switch]="false" [inline]="false"
                            [checked]="EnableTextTemplateManagement" [(ngModel)]="EnableTextTemplateManagement"
                            name="EnableTextTemplateManagement" [withLabel]="true" [switch]="false" [inline]="false"
                            [id]="'EnableTextTemplateManagement'"></rds-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Theme Management'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Theme Management')"
                            name="check-box" [withLabel]="true" [switch]="false" [inline]="false"
                            [checked]="EnableThemeManagement" [(ngModel)]="EnableThemeManagement"
                            name="EnableThemeManagement" [withLabel]="true" [switch]="false" [inline]="false"
                            [id]="'EnableThemeManagement'"></rds-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Audit Logging'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Audit Logging Page')"
                            name="check-box" [withLabel]="true" [switch]="false" [inline]="false"
                            [checked]="EnableAuditLoggingPage" [(ngModel)]="EnableAuditLoggingPage" name="EnableAuditLoggingPage"
                            [withLabel]="true" [switch]="false" [inline]="false" [id]="'EnableAuditLoggingPage'">
                        </rds-checkbox>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2 mt-3 border-bottom text-muted">
                    <rds-label [label]="'Accounts'"></rds-label>
                </div>
                <div class="col-md-6 sm-p-0 mt-4">
                    <div class="form-group mb-3">
                        <rds-checkbox [disabled]="false" [label]="translate.instant('Enable Audit Logging Page')"
                            name="check-box" [withLabel]="true" [switch]="false" [inline]="false"
                            [checked]="AuditLoggingPage" [(ngModel)]="AuditLoggingPage"
                            name="AuditLoggingPage" [withLabel]="true" [switch]="false" [inline]="false"
                            [id]="'AuditLoggingPage'"></rds-checkbox>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer-buttons my-2 sm-p-0">
        <rds-button [label]="translate.instant('Cancel')" [colorVariant]="'primary'" [size]="'small'"
            (click)="onCanceled()" data-bs-dismiss="offcanvas">
        </rds-button>
        <rds-button [label]="translate.instant('CREATE')" [size]="'small'" [disabled]="tenantCreationForm.invalid"
            class="ms-2" [colorVariant]="'primary'" (onClick)="save(tenantCreationForm)" data-bs-dismiss="offcanvas">
        </rds-button>
    </div>
</div>

<app-rds-comp-tenant-information-shimmer *ngIf="editShimmer"></app-rds-comp-tenant-information-shimmer>