<div class="w-100 d-flex justify-content-center align-items-center text-white" *ngIf="imageUrl"
    [ngStyle]="{backgroundImage:getImageUrl(),height:imageHeight+'px',backgroundSize:backgroundSize,backgroundRepeat:backgroundRepeat}"> 
    <div class="text-center w-50">
        <rds-label class="fs-1"  *ngIf="title" [label]="title"></rds-label>
        <rds-label class="fs-5" *ngIf="subtitle" [label]="subtitle"></rds-label>
        <div class="mt-4" *ngIf="btnLabel">
            <rds-button [label]="btnLabel" [colorVariant]="'primary'"></rds-button>
        </div>
    </div>
</div>

