

// ul.dropdown-menu.searchModal.p-1.show {
//     transform: translate3d(16px, -8px, 0px) !important;
// }
/*.bi-exclamation-triangle {
    color: #ea2745;
    font-size: xx-large;
}


.error {
    color: #ea2745;
}

 
.sortable {
    cursor: pointer;
}

.sort-icon-enabled {
    color: black;
}


.empty-message {
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;

    .icon {
        font-size: 80px;
    }

    // min-width: 100vw;
}

.header {
    display: flex;
    grid-template-columns: auto auto;
}

.header-options {
    text-align: end;
}

.searchModal {
    min-width: 400px;
}
th{
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
}*/

/* ---- Remove after changes in custom.scss --*/

/*.table > thead > :not(caption) > * > * {
    padding: 0px 0rem;
}*/
/*td {
    padding: 0.5rem 1rem;
}*/
/*.table-responsive{
    min-height: 200px;
}*/


// @media (max-width: 767px){
//     .mobile-header-option, .mobile-sort, .mobile-action{
//         display: flex;
//     }
//     #sortTable thead th:first-child,
//     #sortTable tbody td:first-child{
//         position: sticky;
//         left: -1px;
//         background: #f8f8f8;
//         z-index: 1;
//         max-width: 190px;
//     }
//     thead{
//         white-space: nowrap;
//     }
//     .sm-datatable{
//         overflow-x: scroll;
//         min-height: 200px;
//     }
// }
