<div class="container">
  <div class="row">
    <div class="d-flex justify-content-end mt-2">
      <rds-button [id]="'yes'" [size]="'small'" [tooltipPlacement]="'top'" [colorVariant]="'primary'"
        [label]="'NEW RESOURCE'" [attr.data-bs-toggle]="'offcanvas'" [attr.data-bs-target]="'#addnewIdentityresource'"
        [attr.aria-controls]="'addnewIdentityresource'" (click)="openCanvas()">
      </rds-button>
    </div>
    <div class="row mx-3 mt-2">
      <!-- <mfe-loader [config]="rdsresourceTableMfeConfig"></mfe-loader> -->
      <rds-data-table [tableData]="ResourceTableData" 
      [tableHeaders]="ResourceTableHeader"
      [actions]="actions"
      (onActionSelection)="onActionSelection($event)"
      [noDataTitle]="'Currently you do not have identity resource'"
      ></rds-data-table>
    </div>
  </div>
  <rds-offcanvas *ngIf="viewCanvas" [canvasTitle]="translate.instant(offCanvasTitle)"  [offId]="offCanvasId" [offcanvaswidth]="550"
    [placement]="'end'">
    <rds-nav-tab [navtabsItems]="navtabsItems" [activeTab]="activePage" [horizontalAlignment]="'start'"
      [verticalAlignment]="false" [pills]="false" [tabs]="true" [fill]="false" [justified]="false">
      <div naveContent class="row tab-content m-2" id="nav-tabContent">
        <div class="tab-pane fade" [ngClass]="{'show active': activePage === 0}" id="Basics" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <rds-comp-basic-resource [basicInfo]="basicInfo"
            (onBasicInfoSave)="onBasicInfoSave($event)"></rds-comp-basic-resource>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': activePage === 1}" id="Claim" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <!-- <mfe-loader [config]="rdsClaimsMfeConfig"></mfe-loader> -->
          <rds-comp-client-resources [resourceData]="ResourceData"  (selectedData)="onClientResourceSave($event)"></rds-comp-client-resources>
          <div class="footer-buttons my-2  d-flex bottom-0 ">
            <rds-button [label]="'Cancel'"  data-bs-dismiss="offcanvas" [colorVariant]="'primary'" [size]="'small'" [isOutline]="true">
            </rds-button>
            <rds-button [label]="'Create'" [size]="'small'" class="ms-2" 
                [colorVariant]="'primary'" (click)="onSave()">
            </rds-button>
        </div>
        </div>
        <div class="tab-pane fade" [ngClass]="{'show active': activePage === 2}" id="Properties" role="tabpanel"
          aria-labelledby="nav-home-tab">
          <!-- <mfe-loader [config]="rdsClaimsMfeConfig"></mfe-loader> -->
         <!-- <rds-comp-properties [PropertyTableHeader]="PropertyTableHeader" [PropertyTableData]="PropertyTableData" [PropertyList]="PropertyList"></rds-comp-properties> -->
        </div>
      </div>
    </rds-nav-tab>
  </rds-offcanvas>
</div>
