<form #webhookForm="ngForm">
  <div class="row">
    <div class="form-group col-sm-12 mb-3">
      <rds-input size="medium" name="endpoint" [label]="translate.instant('Webhook Endpoint')"
        [placeholder]="translate.instant('Webhook Endpoint')" [labelPosition]="'top'" [pattern]="urlPattern"
        [value]="subscriptionData.WebhookEndpoint" #url="ngModel" inputType="text"
        [(ngModel)]="subscriptionData.WebhookEndpoint" [isRequired]=true  required ngDefaultControl>
      </rds-input>
      <div class="form-control-feedback" *ngIf="url.errors && (url.dirty || url.touched)">
        <span class="text-danger" *ngIf="url.errors.required">{{'Endpoint is required' |translate}}</span>
        <span class="text-danger" *ngIf="url.errors.pattern">{{'Enter valid url'| translate}}</span>
      </div>
    </div>
    <div class="form-group col-sm-12 mb-3">
      <rds-textarea #description="ngModel" [placeholderText]="translate.instant('Webhook Event')"
        [label]="translate.instant('Webhook Event')" [value]="subscriptionData.WebhookEvents"
        [(ngModel)]="subscriptionData.WebhookEvents" name="desc" required [isRequired]=true #event="ngModel">
      </rds-textarea>
      <div class="form-control-feedback" *ngIf="event.errors && (event.dirty || event.touched)">
        <span class="text-danger" *ngIf="event.errors.required">{{'Event is required' |translate}}</span>
      </div>
    </div>
  </div>
</form>

<div class="control-label mb-3">
<rds-label [label]="translate.instant('Additional Webhook Headers')"></rds-label>
</div>
<form #headerForm="ngForm">
  <div class="row g-2">
    <div class="col-md-5">
      <div class="form-group mb-3">
        <rds-input size="medium" [value]="additionalheader.additionalheaderKey" #header_key="ngModel"
          [placeholder]="translate.instant('Header Key')" name="headerKey" inputType="text" 
          [(ngModel)]="additionalheader.additionalheaderKey" required ngDefaultControl>
        </rds-input>
        <div class="form-control-feedback" *ngIf="header_key.errors && (header_key.dirty || header_key.touched)">
          <span class="text-danger" *ngIf="header_key.errors.required">{{'Header key is required'|translate}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group mb-3">
        <rds-input size="medium" name="headerValue" required #header_value="ngModel" 
          [value]="additionalheader.additionalheadervalue" [placeholder]="translate.instant('Header Value')"
          inputType="text" [(ngModel)]="additionalheader.additionalheadervalue" ngDefaultControl>
        </rds-input>
        <div class="form-control-feedback" *ngIf="header_value.errors && (header_value.dirty || header_value.touched)">
          <span class="text-danger" *ngIf="header_value.errors.required">{{'Header Value is required'|translate}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <rds-button [id]="'yes'" [size]="'medium'" [isDisabled]="headerForm.invalid" [colorVariant]="'primary'"
        [label]="translate.instant('Add')" (click)="addWebhookHeaders(headerForm)">
      </rds-button> 
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12 mt-3">
    <rds-data-table [tableData]="additionalheaders" noDataTitle="Currently you do not have webhook header"
      tableStyle="light" [width]="100" [actions]=" [{ id: 'edit', displayName: 'Edit' }]"
      [tableHeaders]="HeaderTableHeader" [pagination]="true" [recordsPerPage]="10" (onActionSelection)="onActionSelect($event)"></rds-data-table>
  </div>
</div>

<div class="footer-buttons my-2">
  <div class="row">
    <div class="col-md-12">
      <rds-button [label]="translate.instant('Cancel')" type="button" class="me-2" [colorVariant]="'primary'" [isOutline]="true"
        data-bs-dismiss="offcanvas" [size]="'small'" (click)="close(webhookForm)">
      </rds-button>
      <rds-button [id]="'yes'" [size]="'medium'" [size]="'small'" 
        [isDisabled]="webhookForm.invalid||additionalheaders.length===0" [colorVariant]="'primary'"
        [label]="translate.instant('Save')" (click)="AddWebhooSubscription(webhookForm)">
      </rds-button>
    </div>
  </div>
</div>
