<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <mfe-loader [config]="rdsLoginMfeConfig"></mfe-loader>
    </div>   
  </div>
  <div class="row">
    <div class="col-lg-12">
      <mfe-loader [config]="rdsForgotPasswordMfeConfig"></mfe-loader>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <mfe-loader [config]="rdsAddressInputMfeConfig"></mfe-loader>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <mfe-loader [config]="rdsWidgetMfeConfig"></mfe-loader>
    </div>
  </div>
  
  <div class="row">
      <div class="col-lg-12">
          <mfe-loader [config]="rdsTopNavigationMfeConfig"></mfe-loader>
      </div>
  </div>
    
    
     <div class="row">
      <div class="col-lg-12">
             <mfe-loader [config]="rdsNotificationMfeConfig"></mfe-loader>
      </div>
  </div>

    <div class="row">
      <div class="col-lg-12">
              <mfe-loader [config]="rdsSettingsMfeConfig"></mfe-loader>
      </div>
  </div>

     <div class="row">
      <div class="col-lg-12">
        <button type="button" class="btn btn-primary"  data-bs-toggle="offcanvas"
  data-bs-target="#ProfileCanvas">
    Button
   </button>
              <mfe-loader [config]="rdsProfileMfeConfig"></mfe-loader>
      </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-lg-12">
       <mfe-loader [config]="rdsDataTableMfeConfig"></mfe-loader>
  </div>
</div>

 -->


<!-- 
<div class="row">
  <div class="col-lg-12">
       <mfe-loader [config]="rdsSettingsMfeConfig"></mfe-loader>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-lg-12">
       <mfe-loader [config]="rdshierarchyConfig"></mfe-loader>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-lg-12">
          <mfe-loader [config]="rdshierarchyConfig"></mfe-loader>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-12">
      <mfe-loader [config]="rdsOrganizationTreeMfeConfig"></mfe-loader>
  </div>
</div>

    <!-- <mfe-loader [config]="rdsProfileMfeConfig"></mfe-loader>
  -->

<!-- 
 <div class="row">
  <div class="col-lg-12">
    <mfe-loader [config]="rdsOrganizationTreeMfeConfig"></mfe-loader>
  </div>
</div>

<router-outlet></router-outlet> -->
