<ul class="list-unstyled pt-5">
    <li>
    </li>
    <li>
      <div class="form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      <h6 class="text-muted pt-2">{{"If You Disable This, Tenants Will Only Be Added By Admin Using Tenant Management Page"|translate}}.</h6>
      </div>
    </li>
    <li>
    </li>
    <li>
      <div class="form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
  
        
      </div>
    </li>
    <li class="">
      <div class="form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group mb-3">
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
          </div>
        </div>
      </div>
    </li>
  </ul>
  