
<div class="tab-content">
  
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
  
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
  
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
          </div>
        </div>
      </div>
    
  </div>
  <div class="row">
    <div class="col-md-6">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
    </div>
  </div>