<div class="container-fluid ">
    <div class="w-100 border">
        <mfe-loader [config]="rdsCompBackgroundImageMfeConfig"></mfe-loader>
        <div class="text-center section">
            <div>
                <rds-label [label]="section2Title" class="fs-2"></rds-label>
            </div>
            <rds-label [label]="section2Description" class="fs-5"></rds-label>
        </div>
        <div class="container mt-4">
            <mfe-loader [config]="rdsCompProductListMfeConfig"></mfe-loader>
        </div>
        <div class="section">
            <mfe-loader [config]="rdsCompBackgroundImageMfeConfig1"></mfe-loader>
        </div>
        <div class="container section">
            <rds-label [label]="'Shop by Category'" class="fs-2"></rds-label>
            <mfe-loader [config]="rdsCompProductListMfeConfig1"></mfe-loader>
        </div>
        <div class="section container">
            <mfe-loader [config]="rdsCompBackgroundImageMfeConfig2"></mfe-loader>
        </div>
    </div>
</div>