<div class="form-group mb-3">
  <div class="row">
    <div class="col-md-6 pr-0">
      <div class=" form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
        </ngx-shimmer-loading>
      </div>
    </div>
    <div class="col-md-6 pr-0">
      <div class=" form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
        </ngx-shimmer-loading>
      </div>
    </div>
    <div class="col-md-6">
      <div class=" form-group mb-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'30%'">
        </ngx-shimmer-loading>
      </div>
    </div>
  </div>
</div>

