<rds-card class="rounded-avatar-basic notification-card" >
  <div header>
    <div class="card-header p-3 bg-light">
      <div class="card-title m-0">
        <!-- <span>
          <rds-icon name="alert-bell-notification"></rds-icon>
        </span> -->
        <h5 class="mt-1 justify-content-between d-flex align-items-center ms-3">
          {{"Notifications"|translate}}
        </h5>
        <span class="ms-2 mb-1 text-white">
          <rds-badge class="p-1 pt-0 pb-0" [size]="'smaller'"
            [label]="getNotifyLabel()" colorVariant="success"> </rds-badge>
        </span>
      </div>
      <div class="card-tool">
        <rds-icon name="gear" [height]="'18px'" [width]="'18px'" style="font-size: 20px"></rds-icon>
      </div>
    </div>
  </div>
  <div body class="scroll-notification align-items-center w-100 m-0">
    <ul class="list-group list-group-flush">
      <ng-container *ngIf="notification && notification.length > 0; else emptyTemplate">
        <li class="list-group-item p-0" *ngFor="let notification of notification">
          <div class="d-flex py-2 px-3">
            <div class="px-3 mt-2 d-flex ps-0">
              <rds-icon class="notificatioInfo" [colorVariant]="getIconColor(notification)"  [name]="getIcon(notification)" width="15px" height="15px"></rds-icon>
              <!-- <i class="notificatioInfo" [ngClass]="getIcon(notification)"></i> -->
            </div>
            <div class="text-start ps-0 w-100" [ngClass]="getError(notification)">
             <div class="fs-6 fw-semibold">{{ notification.title }}</div> 
              <a *ngIf="notification.url" href="{{ notification.url }}">{{
                notification.urlTitle
                }}</a>
              <div class="d-flex">
                <div class="col-md-6">
                  <small class="text-muted">{{ notification.time }}</small>
                  <!-- {{item.date}} -->
                </div>
                <div class="col-md-6">
                  <small class="text-muted d-flex justify-content-end"
                    (click)="setAsRead(notification); $event.stopPropagation()"><i class="bi bi-dot"></i> {{"Set as read"|translate}}</small>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ng-container>
      <ng-template #emptyTemplate>
        <div class="text-muted text-center">
          <rds-icon name="alert_bell_notification"  [width]="'80px'" [height]="'80px'" ></rds-icon>
          <div class="fs-4 mt-4">{{"No new notifications"|translate}}</div>
        </div>
      </ng-template>
    </ul>
  </div>

  <div footer *ngIf="notification && notification.length > 0">
    <rds-button class="m-2 float-end" [tooltipPlacement]="'bottom'" [tooltipTitle]="translate.instant('Mark As Read')"
      [label]="translate.instant('Mark As Read')" type="button" [size]="'medium'" [colorVariant]="'primary'" [outlineButton]="false"
      (click)="setAllRead()"></rds-button>
  </div>
</rds-card>
