

<div class="d-flex align-items-center dottedstyle">
    <div class="node-dot position-relative">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
    </div>
   
  </div>

  
    <div class="position-relative node dottedstyle">
      <div class="vertical-dotted-line"></div>
      <div class="d-flex align-items-center">
        <div class="node-dot ">
          <div  class="horizontal-dotted-line dottedstyle"></div>
        </div>
        
            <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
            </ngx-shimmer-loading>
  
      </div>
     
  
      <div>
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
      </div>
  
    </div>
  
    <div class="position-relative btn p-0">
    </div>
  
    <div class="position-relative btn p-0 mt-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
    </div>
    <div class="position-relative btn p-0 mt-3">
        <ngx-shimmer-loading [direction]="'ltr'" [shape]="'rect'" [height]="'20px'" [width]="'100%'">
        </ngx-shimmer-loading>
    </div>

  