 <div class="p-3">
  <div class="d-flex">
    <div class="col-md-1">
      <rds-icon
      [disabled]="false"
      [fill]="false"
      [stroke]="true"
      name="subscription_premium"
      colorVariant=""
      opacity=""
    ></rds-icon>
    </div>
    <div class="col-md-1 ms-4 mt-4">
      <!-- <strong>{{"Edition"|translate}}</strong> -->
      <!-- <h6>{{EditionData.displayName}}</h6> -->
      <div>
        {{EditionData.displayName|translate}}
      </div>
      <div class="text-warning small">
       <rds-label [label]="translate.instant('1 year')"></rds-label> 
      </div>  
    </div>
  </div>



  <div class="row g-0 py-2">
    <div class="col-md-4 bg-light p-2 border-0">
      <div class="h-100 d-flex align-items-center gap-2">
        <div class="col border-3 border-end">
          <div>
            <rds-label [label]="translate.instant('Subscription start date')"></rds-label>
          </div>
          <div class="mt-2">{{EditionData.creationTimeString}}</div>
        </div>
        <div class="col">
          <div>
            <rds-label [label]="translate.instant('Subscription end date')"></rds-label>
          </div>
          <div class="mt-2">{{EditionData.subscriptionDateString}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <rds-label
  label="What's included in your plan"
  [multiline]="false"
  [bold]="true"
  [italic]="false"
></rds-label>
    <div class="col-12"  *ngFor="let item of EditionData.featureValues">
      
      <ul class="p-0 mb-0">
        <li class="list-group-item border-0 p-1">
          <rds-icon name="tick_circle"  height="15px"  width="15px" class="text-success"></rds-icon>
          {{item}}
        </li>
       </ul>
    </div>
    <!-- <div class="col-md-6 mt-3">
      <rds-button [outlineButton]="false" [label]="translate.instant('Upgrade')" type="button" [size]="'medium'"
                  [colorVariant]="'primary'" [block]="true">
      </rds-button>
    </div> -->
  </div>


<div class="row g-0 py-2">
   <div class="col-md-4">
      <rds-button class="d-grid" [outlineButton]="false" [label]="translate.instant('Upgrade')" type="button" [size]="'small'"
                  [colorVariant]="'primary'" [block]="false">
      </rds-button>
    </div>
</div>

 



<!--<rds-card class="rounded-avatar-basic">
        <div header class="">
          <label class="fw-bold py-2 px-3">Your Plan</label>
        </div>

        <div body class="py-2">
          <div class="d-flex">
            <div class="col-md-1">-->
<!-- <img src="../../../../rds-components/src/assets/rocketImage.png"> -->
<!--<rds-icon name="subscription"></rds-icon>
            </div>
            <div class="col-md-1 text-center mt-4">
              <strong>Edition</strong>
              <h6>{{EditionData.displayName}}</h6>
            </div>
          </div>
          <div class="col-md-4 d-flex p-2 mb-4 rounded" style="background-color: #F5F5FA;">
            <div class="col-md-6 border-end border-3">
              <strong>Subscription start date</strong>
              <h6>{{EditionData.creationTimeString}}</h6>
            </div>
            <div class="col-md-6 ps-3">
              <strong>Subscription end date</strong>
              <h6>{{EditionData.subscriptionDateString}}</h6>
            </div>
          </div>
          <strong>What's included in your plan</strong>
          <ul>
            <li class="list-group-item border-0 p-0" *ngFor="let item of EditionData.featureValues">
              <span>-->
<!-- <i class="bi bi-check-circle m-2 text-success"></i> -->
<!--<rds-icon name="subscription_tickmark2" class="text-success"></rds-icon>
              </span>
              {{item}}
            </li>
          </ul>


          <rds-button [outlineButton]="false"
                      [label]="translate.instant('Upgrade')"
                      type="button"
                      [size]="'medium'"
                      class="px-2 my-3"
                      [colorVariant]="'primary'"
                      [block]="true">
          </rds-button>
        </div>
      </rds-card>-->
