@media only screen and (max-width: 600px){
    .sm-pe-1{
        padding-right: 1rem !important;
    }
    .sm-ps-2{
        padding-left: 2rem !important;
    }
}

.subscription-start-end{
    max-width: 30rem;
    width: 25.3rem;
}